@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.inputComponent {
    max-width: 100%;
    input {
        @include contentR2;
        width: 100%;
        margin: 0 0 4px;
        padding: 6px;
        border: 0;
        border-bottom: 1px solid $fuel;

        &:placeholder {
            color: $fuel_50;
        }
    }

    &ErrorMessage {
        @include interfaceR2;
        height: 18px;
        padding: 3px 0;
        color: $alert_red;
    }
}
