@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.inputComponent {
    max-width: 100%;
    input {
        @include contentR2;
        width: 100%;
        margin: 0 0 4px;
        padding: 6px;
        border: 0;
        border-bottom: 1px solid $fuel;

        &:placeholder {
            color: $fuel_50;
        }
    }

    &ErrorMessage {
        display: flex;
        @include interfaceR3;
        justify-content: flex-start;
        align-items: center;
        padding: 6px 6px 12px 6px;
        color: $alert_red;
    }
}
