@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.inputComponent {
    max-width: 100%;
    input {
        @include contentR2;
        width: 100%;
        margin: 0 0 4px;
        padding: 6px;
        border: 0;
        border-bottom: 1px solid $fuel;

        &::placeholder {
            color: $font_medium;
        }
    }

    &ErrorMessage {
        display: flex;
        @include worksans;
        justify-content: flex-start;
        align-items: center;
        padding: 6px 2px 6px 2px;
        
        color: $alert_red;
        //background-color: aqua;
        height: 24px;
        max-height: 24px;
    }
}

.inputComponentRoom {
    width: 260px;
    input {
        @include contentH2;
        width: 100%;
        margin: 0 0 4px;
        padding: 8px 0px 8px 0px;
        border: 0;
        border-bottom: 1px solid $fuel;
        color: $ash;



        &::placeholder {
            color: $font_medium;
        }
    }

    &ErrorMessage {
        display: flex;
        @include interfaceR3;
        justify-content: flex-start;
        align-items: center;
        padding: 6px 6px 12px 6px;
        color: $alert_red;
    }
}