@import "../../../../styles/globals.scss";
@import "../../../../styles/fonts.scss";

.listHolder{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px 0px;
    gap: 0px;

    .peopleRow {
        display: flex;
        flex-direction: row;
        column-gap: 12px;
        justify-content:space-between;
        align-items: center;
        background-color: $silver-light;
        width: 100%;
        height: 52px;
        padding: 0px 8px 0px 8px;
        border: 2px solid $silver-light;
        border-radius: 12px;
        margin-top:8px;

        &Active {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;

        }

        .userInfo {
            display: flex;
            flex-direction: column;

            @include chatProfile;
            width: 100%;
            p{
                @include interfaceR4;
            }

        }


        img {
            height: 40px;
            width: 40px;
            max-width: 40px;
            min-width: 40px;
            max-height: 40px;
            min-height: 40px;
            border-radius: 9999px;
        }

        .adminButton {
            height: 36px;
            min-height: 36px;
            width: 36px;
            min-width: 36px;
            border: 0;
            background: transparent;
            border-radius: 99px;
            padding: 6px;

            path {
                fill: $silver-heavy;
            }

            &Desktop {
                &:hover {
                    background: $silver-med;
                    path {
                        fill: $silver-heavy;
                    }
                }
            }

            &Mobile {
                &:active {
                    background: $silver-med;
                    path {
                        fill: $silver-heavy;
                    }
                }
            }

            

        }
    }

    .adminPanel {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        background-color: $silver-xxlight;
        padding: 0px 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border: 0px;
        border-left: 2px solid $silver-light;
        border-right: 2px solid $silver-light;
        border-bottom: 2px solid $silver-light;
        .makeAdmin {
            display: flex;
            flex-direction: row;
            align-items: center;
            //background-color: aquamarine;
            column-gap: 6px;
    
            p {
                @include interfaceR2;
            }
    
    
        }


    }

    .remainingRow{
        display: flex;
        flex-direction: row;
        column-gap: 12px;
        justify-content:flex-start;
        align-items: center;
        background-color: transparent;
        width: 100%;
        height: 52px;
        border-radius: 12px;
        padding: 0px 8px 0px 8px;
        background-color: transparent;
        border: 2px dashed $silver-light;
        margin-top: 8px;
        @include chatProfile;
        color: $silver-heavy;

        .numberHolder {
            display: flex;
            height: 40px;
            width: 40px;
            max-width: 40px;
            min-width: 40px;
            max-height: 40px;
            min-height: 40px;
            border-radius: 9999px;
            align-items: center;
            justify-content: center;
            background-color: $silver-light;
            color: $silver-heavy;
            @include worksans;
            font-size: 20px;
            font-weight: 700;
        }
    }

}

.KickModal {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;

}
