@import "../../../styles/fonts.scss";
@import "../../../styles/globals.scss";

.CreateModule {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    max-width: 360px;
    margin: 0 auto;
    padding: 24px 24px 56px 24px;
    overflow:hidden;
    overflow-y: auto;

    .small {
        @include interfaceR3;
    }

    &Content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 695px;
        max-width: 340px;
        margin: auto;
    }

    &Disclaimer {
        @include interfaceR3;
        width: 316px;
        margin: 12px auto 20px;
        color: $fuel_50;

        a {
            font-size: inherit;
        }
    }

    &LinkToSignin {
        display: block;
        margin: 0 auto;
    }

    &Logo {
        display: flex;
        justify-content: flex-start;
        width: 96px;
        margin-bottom: 36px;
        margin-right: auto;
    }
}
