@import "../../../styles/fonts.scss";
@import "../../../styles/globals.scss";

.CreateModule {
    width: 360px;
    max-width: 100%;
    margin: 0 auto;

    .header {
      text-align: left !important;
      @include overlayMenuTitle;
      width: 100%;
      margin-bottom: 24px;
    }


    .label {
      @include systemFont;
      font-size: 14px;
      font-weight: 400;
      //letter-spacing: 0.02em;
      text-align: center;
      margin-bottom: 4px;
      margin-top: 12px;
      color: $font_main;
      text-align: left;
  }
  
  input {
    border-radius: 4px;
    background-color: $border_basic;
    border: 0;
    height: 56px;
    padding: 0px 12px; 
    @include rubik;
    font-weight: 400;
    font-size: 16px;
    color: $font_main;
    caret-color: $hot_salmon;
    &::placeholder {
        color: $font_muted;

    }

}

    input[type="date"]{
      width: 240px;
      background-color: $border_basic;
      color: $font_main;
      @include systemFont;
      font-size: 16px;
    }
    ::-webkit-calendar-picker-indicator {
      background-color: $background;
      padding: 6px;
      border-radius: 4px;
      cursor: pointer;
    }



    .signupButton {
      margin-top: 12px;
    }
    
  
    .small {
        @include systemFont;
        font-size: 12px;
        color: $font_muted;
        text-align: center;
        margin-top: 10px;
    }

    &Content {
        width: 360px;
        max-width: 100%;
        margin: auto;


    }
.buttonBar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  column-gap: 8px;
  margin-top: 20px;

  .backButton {
      height: 48px;
      border-radius: 999px;
      border: 1px solid $border_heavy;
      background-color: $background;

      path {
        fill: $border_heavy;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover { 
          background: $background_offset;
          path {
            fill: $font_muted;
          }
        }
      }
    
      &:active {
        background: $background_offset;
        path {
          fill: $font_muted;
        }
      }
  }

  .submitButton {
      
      @include buttonPrimary;
      width: 100%;
  }
}
    &Disclaimer {
        @include systemFont;
        font-size: 12px;
        width: 100%;
        text-align: center;
        margin: 12px 0px;
        color: $font_muted;

        a {
          color: $font_muted;
        }
    }

    &LinkToSignin {
        display: block;
        margin: 0 auto;
    }

    &Logo {
        width: 80px;
        max-width: 80px;
        margin-bottom: 28px;
        margin-top: 28px;
        margin-right: auto;
        margin-left: auto;
    }

.fadeIn {
    animation: fadeInAnimation ease 300ms;
    -webkit-animation: fadeInAnimation ease 300ms;
    -moz-animation: fadeInAnimation ease 300ms;
    -o-animation: fadeInAnimation ease 300ms;
    -ms-animation: fadeInAnimation ease 300ms;
  }
  
  @keyframes fadeInAnimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-webkit-keyframes fadeInAnimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-moz-keyframes fadeInAnimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-o-keyframes fadeInAnimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-ms-keyframes fadeInAnimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
}
