@import "../../../styles/fonts.scss";
@import "../../../styles/globals.scss";

.CreateModule {
  width: 360px;
  max-width: 100%;
  margin: 0 auto;

  .header {
    text-align: left !important;
    @include overlayMenuTitle;
    color: var(--font-main);
    width: 100%;
    margin-bottom: 24px;
  }

  .label {
    @include systemFont;
    text-align: center;
    margin-bottom: 4px;
    margin-top: 12px;
    color: var(--font-main);
    text-align: left;
  }

  input {
    border-radius: 4px;
    background-color: var(--theme-background);
    border: 1px solid var(--border-light);
    height: 56px;
    padding: 0px 12px;
    @include systemFont;
    font-size: 16px;
    color: var(--font-main);
    caret-color: $hot_purple;
    box-shadow: var(--shadow-1);
    &::placeholder {
      color: var(--font-placeholder);
    }
  }

  input[type="date"] {
    width: 240px;
    background-color: var(--theme-background);
    color: var(--font-main);
    @include systemFont;
    font-size: 16px;
    box-shadow: var(--shadow-1);
  }
  ::-webkit-calendar-picker-indicator {
    background-color: transparent;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    cursor: pointer;
  }

  .signupButton {
    margin-top: 12px;
  }

  .small {
    @include systemFont;
    font-size: 12px;
    color: var(--font-muted);
    text-align: left;
    margin-top: 10px;
  }

  &Content {
    width: 360px;
    max-width: 100%;
    margin: auto;
  }
  .buttonBar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    column-gap: 8px;
    margin-top: 20px;

    .backButton {
      height: 48px;
      max-width: 88px;
      border-radius: 999px;
      border: 1px solid var(--border-basic);
      background: transparent;

      path {
        fill: var(--border-basic);
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background: var(--border-light);
          border-color: var(--border-heavy);
          path {
            fill: var(--border-heavy);
          }
        }
      }

      &:active {
        background: var(--border-light);
          border-color: var(--border-heavy);
          path {
            fill: var(--border-heavy);
          }
      }
    }

    .submitButton {
      @include buttonPrimary;
      width: 100%;
    }
  }
  &Disclaimer {
    @include systemFont;
    font-size: 12px;
    width: 100%;
    text-align: center;
    margin: 12px 0px;
    color: var(--font-muted);

    a {
      color: var(--font-muted);
    }
  }

  &LinkToSignin {
    display: block;
    margin: 0 auto;
  }

  &Logo {
    width: 80px;
    max-width: 80px;
    margin-bottom: 28px;
    margin-top: 28px;
    margin-right: auto;
    margin-left: auto;
  }

  .fadeIn {
    animation: fadeInAnimation ease 300ms;
    -webkit-animation: fadeInAnimation ease 300ms;
    -moz-animation: fadeInAnimation ease 300ms;
    -o-animation: fadeInAnimation ease 300ms;
    -ms-animation: fadeInAnimation ease 300ms;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
