@import '../../../styles/globals.scss';
@import '../../../styles/fonts.scss';


.topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    border-bottom-width: 1px;
    background-color: $light_ash;
    border-color: $fuel;
    z-index: 10;

    color: $fuel;
    @include interfaceH1;
    text-transform: capitalize;
    
  }

