@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.HarthList {
    position: relative;
    margin: 0;
    padding: 0px 0px 0px 0px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    list-style-type: none;
    overflow-y: scroll;
    

    .Item {
        position: relative;
        display: flex;
        width: 100%;
        height: 48px;
        justify-content: center;
        align-items: center;

        &Button {
            opacity: .8;
            position: relative;
            height: 42px;
            width: 42px;
            padding: 3px;
            background-color: transparent;
            border-radius: 11px;
            overflow: hidden;
            cursor: pointer;
            border: 2px solid transparent;
            transition: all 0.1s ease-in-out;
            &:hover {
                padding: 2px;
                opacity: 1;
                //border-color: $silver_med;
            }

        }
        &Icon {
            margin: auto;
            width: 100%;
            height: 100%;
            //border-radius: 8px;
            //
        }

        &Image {
            img {
                width: 100%;
                height: 100%;
                border-radius: 8px;
            }
            
        }

        &Active {

            button {
                opacity: 1;
                border-color: $ash_ultralight;
                padding: 2px;
            }

        }



        &UnreadMessage {
            position: relative;
            &:after {
                position: absolute;
                top: 18px;
                left: 4px;
                z-index: 1;
                height: 12px;
                width: 3px;
                content: "";
                background-color: $hot_salmon;
                border-radius: 9999px;
            }
        }
    }

    .NewHarth {
        height: 24px;
        width: 24px;
        border: 0px;
        margin-top: 8px;
        margin-bottom: 24px;
        margin-left: auto;
        margin-right: auto;


        button {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            border: 1px solid $ash_medium;
            border-radius: 8px; 
            background: transparent;
            padding: 3px;
            cursor: pointer;
            path {
                fill: $ash_medium;
            }

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    background-color: lighten($ash_medium, 30%);
                    border-color: lighten($ash_medium, 30%);
                    path {
                        fill: darken($ash_medium, 10%);
                    }
                }
            }
        }
    }
}

.HarthListMobile {
    display: flex;
    flex-direction: column;
    padding: 8px 4px 64px 12px;
    row-gap: 4px;
    width: 100%;
    list-style-type: none;
    overflow-y: scroll;
    margin: 0;

    li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .Item {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 0;
        border-radius: 12px;
        width: 100%;
        border: 3px solid transparent;

        &Button {
            position: relative;
            display: flex;
            flex-direction: row;
            column-gap: 8px;
            align-items: center;
            min-height: 60px;
            height: fit-content;
            width: 100%;
            padding: 0px 8px;
            border: 0;
            background: transparent;
            
        }

        &Icon {
            width: 48px;
            min-width: 48px;
            height: 48px;
            padding: 6px;
            border-radius: 8px;
            background-color: $ash;
        }

        &Image {
            img {
                height: 48px;
                width: 48px;
                min-width: 48px;
                border-radius: 8px;
                border: 0;
            }
        }

        &Active {
            border: 3px solid $hot_salmon;
        }

        &Name {
            width: 100%;
            @include harthTitle2;
            color: $font_light;
            margin-left: 4px;
            text-align: left;
            vertical-align: top;
        }

        &:active {
            background-color: $black;
        }

        &SettingsButton {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 36px;
            min-height: 36px;
            width: 36px;
            min-width: 36px;
            padding: 7px;
            border: 0;
            background: transparent;
            margin-right: 8px;

            path {
                fill: $ash_medium;
            }
        }

        &UnreadMessage {
            position: relative;
            &:before {
                position: absolute;
                top: 22px;
                left: -8px;
                z-index: 2;
                height: 16px;
                width: 4px;
                border-radius: 99px;
                content: "";
                background-color: $hot_salmon;
            }
        }
    }

    .NewHarth {
        height: 36px;
        width: 36px;
        border: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 16px;
        margin-left: 16px;
        margin-bottom: 12px;

        button {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            border: 1px solid $ash_medium;
            border-radius: 8px;
            background: transparent;
            padding: 6px;

            path {
                fill: $ash_medium;
            }

            &:active {
                background-color: $black;
            }
        }
    }
}
