@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.HarthList {
    position: relative;
    margin: 0;
    padding: 4px 0px 0px 0px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    list-style-type: none;
    overflow-y: scroll;

    .Item {
        position: relative;
        display: flex;
        width: 100%;
        height: 52px;
        //padding: 6px;
        padding-top: 2px;
        justify-content: center;
        align-items: center;
        //border: 3px solid $fuel_light;
        //background-color: aqua;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;

        &Button {
            position: relative;
            height: 36px;
            width: 36px;
            padding: 0px;
            background-color: transparent;
            border-radius: 10px;
            overflow: hidden;
            cursor: pointer;
            border: 0;
            //border: 1px solid $silver_light;
        }
        &Icon {
            margin: auto;
            width: 100%;
            height: 100%;
            //border-radius: 8px;
            //
        }

        &Image {
            img {
                width: 100%;
                height: 100%;
            }
        }

        &Active {
            background-color: $hot_pink_06;
            border-left: 3px solid $hot_pink;

            button {
                //box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
                box-shadow:
                    0 1px 1px hsl(0deg 0% 0% / 0.075),
                    0 2px 2px hsl(0deg 0% 0% / 0.075),
                    0 4px 4px hsl(0deg 0% 0% / 0.075);
            }

        }



        &UnreadMessage {
            position: relative;
            &:after {
                position: absolute;
                top: 20px;
                left:2px;
                z-index: 1;
                height: 12px;
                width: 4px;
                content: "";
                background-color: $hot_salmon;
                border-radius: 9999px;
            }
        }
    }

    .NewHarth {
        height: 28px;
        width: 28px;
        border: 0px;
        margin-top: 8px;
        margin-bottom: 24px;
        margin-left: auto;
        margin-right: auto;


        button {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            border: 1px solid $silver_med;
            border-radius: 8px; 
            background: transparent;
            padding: 6px;

            path {
                fill: $silver_heavy;
            }

            &:hover {
                background-color: $silver_light;
            }
        }
    }
}

.HarthListMobile {
    display: flex;
    flex-direction: column;
    padding: 8px 4px 64px 12px;
    row-gap: 4px;
    width: 100%;
    //height: 100%;
    list-style-type: none;
    overflow-y: scroll;
    //background-color: aqua;
    margin: 0;

    li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .Item {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 0;
        border-radius: 12px;
        width: 100%;
        //height: fit-content;
        //background-color: aqua;

        &Button {
            position: relative;
            display: flex;
            flex-direction: row;
            column-gap: 8px;
            align-items: center;
            min-height: 60px;
            height: fit-content;
            width: 100%;
            padding: 0px 8px;
            border: 0;
            background: transparent;
            @include harthTitle2;
        }

        &Icon {
            width: 48px;
            min-width: 48px;
            height: 48px;
            padding: 6px;
            border-radius: 8px;
            background-color: $silver_heavy;
        }

        &Image {
            img {
                height: 48px;
                width: 48px;
                min-width: 48px;
                border-radius: 8px;
                border: 1px solid $fuel;
            }
        }

        &Active {
            //background-color: $silver_light;
            background-color: $hot_pink_20;
        }

        &Name {
            width: 100%;
            color: $fuel;
            margin-left: 4px;
            text-align: left;
            vertical-align: top;
        }

        &:active {
            background-color: $silver_med;
        }

        &SettingsButton {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 36px;
            min-height: 36px;
            width: 36px;
            min-width: 36px;
            padding: 7px;
            border: 0;
            background: transparent;
            margin-right: 8px;

            path {
                fill: $silver-heavy;
            }
        }

        &UnreadMessage {
            position: relative;
            &:before {
                position: absolute;
                top: 22px;
                left: -8px;
                z-index: 2;
                height: 16px;
                width: 4px;
                border-radius: 99px;
                content: "";
                background-color: $hot_salmon;
            }
        }
    }

    .NewHarth {
        height: 36px;
        width: 36px;
        border: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 16px;
        margin-left: 14px;
        margin-bottom: 12px;

        button {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            border: 1px solid $silver_med;
            border-radius: 8px;
            background: transparent;
            padding: 6px;

            path {
                fill: $silver_heavy;
            }

            &:active {
                background-color: $silver_light;
            }
        }
    }
}
