@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";


.mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 0;
    width: fit-content;

}

.diceContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 0;
    background-color: $overlay_dark;
    align-items: center;
    backdrop-filter: blur(4px);
    width: 72px;
    padding: 6px 0px;
    
}

.mapContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    row-gap: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid $fuel;
    background-color: $oxygen;
    width: 320px;
    height: 260px;
    padding: 0px 0px 24px 0px;

    .icon {
        height: 64px;
        width: 64px;
    }

    .label {
        @include interfaceH2;
        margin-bottom: 24px;
        text-align: center;
    }
 
}

.mapContainerActive {
    overflow: hidden;
    position:relative;
    width: auto;
    height: auto;
    max-width: 440px;
    max-height: 440px;
    background-color: $fuel;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 100;
    

    .bottomBar {
        position: absolute;
        background-color: $fuel_50;
        width: 100%;
        height: 44px;
        bottom:0;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            background-color: $fuel_50;
            color: $white_50;
            &:hover {
                color: $white_90;
                background-color: $fuel_50;
                backdrop-filter: blur(4px);
                border-color: $white_90;

            }
        }
    }
}

.mobileMapContainer {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    row-gap: 8px;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 0;
    background-color: $overlay_dark;
    align-items: center;
    backdrop-filter: blur(4px);
    width: 100%;
    padding: 12px 0px 64px 0px;

    .icon {
        height: 64px;
        width: 64px;
        path {
            fill: $oxygen;
        }
    }

    .label {
        @include interfaceH2;
        color: $oxygen;
        margin-bottom: 40px;
        text-align: center;
    }

    .grabber {
        background-color: $white_50;
        border-radius: 9999px;
        height: 4px;
        width: 48px;
        margin-bottom: 40px;
    }

    .closeBar {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        justify-items: end;
        align-content: flex-end;
        padding: 0px 12px;
        margin-bottom: 8px;
        
    }
    &Active {
        position: relative;
        padding: 0px;

        .bottomBar {
            position: relative;
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 12px;
        }
    }
}

.mobileDiceContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 0;
    background-color: $overlay_dark;
    align-items: center;
    backdrop-filter: blur(4px);
    width: 100%;
    padding: 12px 0px 48px 0px;

    .grabber {
        background-color: $white_50;
        border-radius: 9999px;
        height: 4px;
        width: 48px;
    }

    .diceRow {
        //background-color: aqua;
        position: relative;
        display: flex;
        flex-direction: row;
        column-gap: 24px;

    }
    
}

.topBar {
    background-color: $black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 28px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: grab;
    padding: 0px 4px;


    path {
        fill: transparent;
    }

    &:hover {
        .close {
            path {
                fill: $white_50;
            }
        }
    }

    .grabber {
        background-color: $white_50;
        border-radius: 9999px;
        height: 4px;
        width: 24px;
    }

    .close {
        background: transparent;
        height: 18px;
        width: 18px;
        border: 0px;
        border-radius: 4px;
        padding: 1px;
        path {
            fill: transparent;
        }

        &:hover {
            background-color: $white_10;
            path {
                fill: $white_90;
            }

        }
    }

    .spacer {
        height: 18px;
        width: 18px;
        background: transparent;
    }
}

.alertContainer {
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 2px 6px 0px $black;
    height: 72px;
    width: 164px;

    .contents {
        position: relative;
        background-origin: border-box;
        background-clip: content-box, border-box;
        border: solid 4px transparent;
        border-radius: 8px;
        box-shadow: 4px 9999px 1px $white inset; //interior color
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(35deg, $hot_blue, $hot_pink);

        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 4px 0px 8px;

        .label {
            @include contentH1;
            font-size: 48px;
            text-align: center;
            width: 72px;
        }
        

        .attributeContainer {
            position: relative;
            padding-left: 10px;
            padding-bottom: 6px;

            .icon {
                height: 52px;
                width: 52px;
            }

            .avatarWrapper {
                position: absolute;
                border-radius: 9999px;
                border: 2px solid $white;
                width: 34px;
                height: 34px;
                bottom: 0px;
                left: 0px;


            }
        }
    }
}

.shadow {
    box-shadow: 10px 10px 8px 10px #888888;
}
