@import "../../../styles/globals.scss";

.avatar {
    border-radius: 9999px;
    overflow: hidden;
}

.avatarButton {
    border-style: solid;
    box-shadow: none;
    text-shadow: none;
    padding: 1px;
    border-radius: 9999px;
    border-width: 3px;
    border-color: transparent;
    background-color: transparent;
    overflow: hidden;
    &:hover {
        border-style: solid;
        border-color: $fuel;
    }
}
