@import "../../../styles/globals.scss";

.Avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 50%;
    overflow: hidden;

    &.AvatarButton {
        cursor: pointer;
        &:hover {
            border-color: $fuel_light;
        }

        &.AvatarDark {
            &:hover {
                border-color: $oxygen;
            }
        }
    }

    &Image {
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background-color: $black_10;
        overflow: hidden;
    }

    &.Faded {
        opacity: 0.5;
    }
}
