@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";


.MainContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 300px;
    background-color: $ash_heavy;
    border-radius: 24px;
    border: 1px solid $ash_medium;
    padding: 24px;

    .title {
        width: 100%;
        @include worksans;
        font-size: 28px;
        font-weight: 600;
        color: $hot_pink;
        text-align: center

    }

    .subtext {
        width: 100%;
        @include worksans;
        font-size: 14px;
        color: $font_light;
        text-align: center;
        margin-bottom: 28px;
        margin-top: 16px;
        padding: 0px 12px;
    }

    button {
        color: $font_light;
        background-color: $ash_medium;
        width: 196px;
        height: 48px;
        border-radius: 999px;
        border: 1px solid transparent;
        @include worksans;
        font-size: 15px;
        font-weight: 500;
        margin-left: auto;
        margin-right: auto;

        &:active {
            background: $hot_salmon;
        }

    }

    .cancel {
        width: 156px;
        height: 36px;
        font-size: 14px;
        font-weight: 400;
        color: $font_medium;
        background: $ash_heavy;
        border: 1px solid $ash_medium;
        margin-top: 16px;

        &:active {
            background: $ash_medium;
            color: $font_light;
        }
    }
}