#left_nav_comms {
  width: 100%;
  margin: 0;
  padding: 0 12px;
  list-style: none;

  // &:hover {
  //   li {
  //     .comm-name {
  //       width: calc(100% - 56px);
  //       margin-left: 8px;
  //       opacity: 1;
  //       visibility: visible;
  //     }
  //   }
  // }

  li {
    display: flex;
    justify-content: center;
    position: relative;
    height: 40px;
    width: 40px;
    margin: 8px 0;
    background-color: transparent;

    button {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      border: 0;
      background-color: transparent;
      border-radius: 6px;
      cursor: pointer;
      transition: border 0.3s;
      overflow: hidden;

      img {
        height: 40px;
        width: 40px;
        object-fit: cover;
      }

      .comm-icon-wrapper {
        height: 40px;
        width: 40px;
        overflow: hidden;
      }

      .comm-icon {
        display: inline-block;
        position: relative;
        height: 40px;
        width: 40px;
        background-color: #777;
        &:before {
          @include x-y-center;
          @include font-icon($icon-harth);
          font-size: 25px;
        }
      }
    }

    &#left_nav_comms_default {
      button {
        .comm-icon {
          background-color: $black;
          &:before {
            color: $white;
          }
        }
      }
    }

    .comm-name {
      width: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s 0.3s;
    }

    &.active {
      &:before {
        @include y-center;
        right: -15px;
        height: 32px;
        width: 8px;
        content: '';
        background-color: #f7f7f7;
        border-radius: 4px;
      }
      button {
        .comm-icon-wrapper {
          border-color: $text-black;
        }
      }
    }

    &:hover {
      .comm-icon {
        background-color: rgba(#777, 0.8);
        &:before {
          color: #fff;
        }
      }
    }

    &#left_nav_comms_new {
      button {
        position: relative;
        height: 40px;
        width: 40px;
        background-color: transparent;
        border: 1px solid #9a9a9a;
        border-radius: 6px;
        transition: border 0.3s;
        &:before {
          @include x-y-center;
          @include font-icon($icon-plus);
          color: #9a9a9a;
          transition: color 0.3s;
        }
      }

      &:hover {
        button {
          border-color: #fff;
          &:before {
            color: #fff;
          }
        }
      }
    }
  }
}

#menu-toggle {
  position: relative;
  height: 40px;
  width: 40px;
  text-align: center;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;

  &:before {
    @include x-y-center;
    @include font-icon($icon-gear);
  }

  &:hover {
    background-color: $black04;
  }
}
