@import "../../../../styles/globals.scss";
@import "../../../../styles/fonts.scss";

.CreateNewTopicModal {
  section {
    overflow: visible;
  }
}
.EmojiPicker {
  position: fixed;
  z-index: 301;
}
.mainContainer {
  position: realtive;
  display: flex;
  flex-direction: column;
  width: 340px;
  margin-left: auto;
  margin-right: auto;

  .title {
    @include overlayMenuTitle;
    width: 100%;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 40px;
    color: var(--font-main);
  }

  .reminder {
    position: relative;
    display: flex;
    flex-direction: row;
    .icon {
      position: absolute;
      width: 40px;
      height: 40px;
      transform: rotate(90deg);
      left: 12px;
      top: -12px;
      path {
        fill: $hot_purple;
      }
    }

    .text {
      margin-left: 44px;
      background-color: transparent;
      border: 2px solid $hot_purple;
      width: 220px;
      @include systemFont;
      color: var(--font-main);
      border-radius: 12px;
      padding: 8px;
      text-align: center;
    }
  }
}

.CreateTopic {
  .inputHolder {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;

    button {
      position: relative;
      padding: 0;
      min-width: 56px;
      width: 56px;
      min-height: 56px;
      height: 56px;
      border-radius: 8px;
      border: 0;
      background-color: var(--border-light);

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: var(--border-basic);
        }
      }

      &:active {
        background-color: var(--border-basic);
      }
    }

    .TopicEmoji {
      font-size: 36px;
    }

    input {
      @include topicTitle;
      font-size: 18px;
      font-weight: 400;
      height: 56px;
      width: 100%;
      color: var(--font-main);
      background-color: var(--border-light);
      border: 0;
      border-radius: 6px;
      padding-left: 12px;
      caret-color: $hot_purple;
      &::placeholder {
        color: var(--font-muted);
      }
    }
  }

  .error {
    text-align: center;
    margin-left: 96px;
    margin-top: -4px;
  }
  .subtext {
    width: 80%;
    margin: auto;
    text-align: center;
    @include subtext;
  }

  &Buttons {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin-top: 48px;
  }
}
