@import "../../../../styles/globals.scss";
@import "../../../../styles/fonts.scss";

.CreateNewTopicModal {
    section {
        overflow: visible;
    }
}
.EmojiPicker {
    position: fixed;
    z-index: 301;
}
.mainContainer {
    position: realtive;
    display: flex;
    flex-direction: column;
    width: 300px;

    .title {
        @include overlayMenuTitle;
        width: 100%;
        text-align: left;
        margin-top: 8px;
        margin-bottom: 40px;
        color: $font_light;
    }


    .reminder {
        position: relative;
        display: flex;
        flex-direction: row;
        .icon {
            position: absolute;
            width: 28px;
            height: 28px;
            transform: rotate(90deg);
            left: 30px;
            top: -14px;
            path {
                fill: $ash_medium;
            }
        }

        .text {
            margin-left: 62px;
            @include cooper;
            font-size: 13px;
            color: $font_medium;
        }
    }
}

.CreateTopic {
    .inputHolder {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 0px 16px;
        margin: 8px 0px 0px 0px;

        button {
            position: relative;
            padding: 0;
            //padding-bottom: 2px;
            min-width: 48px;
            width: 48px;
            min-height: 48px;
            height: 48px;

            border-radius: 8px;
            border: 0;
            border: 1px solid $ash_medium;
            background-color: $ash;


            &:hover {
                background-color: $fuel_10;

                &::before {
                    position: absolute;
                    top: -36px;
                    width: 96px;
                    left: 50%;
                    transform: translate3d(-50%, 0, 0);
                    padding: 6px 0px;
                    border-radius: 8px;
                    background-color: $ash_medium;
                    content: "Pick an Emoji";
                    @include mouseover;
                }

                &::after {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 0;
                    top: -13px;
                    left: 50%;
                    transform: translate3d(-50%, 0, 0);
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-top: 10px solid $ash_medium;
                }
            }
        }

        .TopicEmoji {
            font-size: 28px;
            //background-color: aqua;
            //text-align: center;
        }

        input {
            @include topicTitleActive;
            color: $font_light;
            border-color: $ash_medium;
            caret-color: $hot_salmon;
            &::placeholder {
                color: $font_medium;
            }
        }
    }

    .error {
        text-align: center;
        margin-left: 96px;
        margin-top: -4px;
    }
    .subtext {
        width: 80%;
        margin: auto;
        text-align: center;
        @include subtext;
    }

    &Buttons {
        display: flex;
        gap: 16px;
        justify-content: space-between;
        margin-top: 48px;
    }
}
