@import "../../styles/globals.scss";
@import "../../styles/fonts.scss";

.ChatParentContainer {
    max-width: 100%;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 8px;

    &.Editing {
        border-color: $hot_pink;
    }
}

.SingleMessage {
    display: inline-flex;
    position: relative;
    background-color: transparent;
    width: 98%;
    margin: 6px 4px;
    padding: 6px;
    column-gap: 10px;
    border-radius: 8px;
    border: 2px solid transparent;
    //background-color: aqua;

    .UserIcon {
        //box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
        box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
            0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075);
        //0 8px 8px hsl(0deg 0% 0% / 0.075);

        height: fit-content;
        width: fit-content;
        border-radius: 50%;
        user-select: none;
        // border: 1px solid $black_10;
    }
    .emoji-mart {
        position: absolute;
        top: 40px;
        right: 0;
        z-index: 999;
    }

    .EmojiPicker {
        position: absolute;
        bottom: 0px;
        z-index: 10;
        // border: 4px solid red;
        //width: 200px;

        #root {
            background-color: $fuel;
        }
    }

    > img,
    &Avatar {
        position: relative;
        //margin-top: 8px;
        width: 40px;
        max-height: 40px;

        //margin-right: $gutter;
        border-radius: 9999px;
        //background-color: $fuel;
        //padding: 2px;

        overflow: hidden;
        object-fit: cover;
    }

    &AvatarNo {
        position: relative;
        height: 36px;
        width: 36px;
        max-height: 36px;
        max-width: 36px;
        min-width: 36px;
        max-width: 36px;
        background-color: $warm_blue;
        border-radius: 9999px;
        @include topicTitleMobile;
        color: $oxygen;
    }

    .Body {
        position: relative;
        width: 100%;
        //background-color: aqua;
        .Info {
            display: flex;
            align-items: baseline;
            //align-content: center;
            //justify-items: center;
            column-gap: 8px;
            height: 16px;
            padding: 0px 0px 0px 0px;
            //background-color: aquamarine;
            .Creator {
                @include chatProfile;
                color: $fuel;
                user-select: none;
            }
            .Timestamp {
                visibility: hidden;
                color: $silver-dark;
                @include timeStamp;
                user-select: none;
            }
        }

        .Content {
            //width: 100%;
            position: relative;
            width: fit-content;
            max-width: 100%;
            //margin-right: 56px;
            color: $fuel;
            @include chatText;
            border: 0;
            padding: 8px 12px;
            border: 0;
            white-space: pre-wrap;
            border-radius: 18px;
            border-top-left-radius: 0;
            background-color: $silver-light;
            overflow-wrap: anywhere;

            .message-text {
                margin: 0;
                white-space: pre-wrap;
                overflow-wrap: anywhere;
            }

            a {
                display: inline-block;
                font-size: inherit;
                white-space: pre-wrap;
                overflow-wrap: anywhere;
                @include url;
            }

            > img {
                width: fit-content;
                max-width: 100%;
                height: auto;
                border-radius: 8px;
                border: 3px solid transparent;
                //object-fit: cover;
                margin-top: 4px;
                margin-bottom: 4px;

                &:hover {
                    border-color: $hot_pink;
                }
            }
        }

        &Reactions {
            display: flex;
            align-items: center;
            margin-left: 16px;
            // margin-top: -8px;

            > * {
                margin-right: $gutter;
            }

            &Emoji {
                font-size: 28px;
                line-height: 28px;
                background-color: $white;
                padding: 8px 4px;
                border-radius: 28px;
                z-index: 1;
                margin-top: -6px;
            }
        }
    }

    .Controls {
        position: absolute;
        z-index: 10;
        display: flex;
        flex-direction: row;
        gap: 4px;
        top: -8px;
        right: 16px;
        background-color: $silver-xlight;
        backdrop-filter: blur(24px);
        border-radius: 8px;
        padding: 2px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 12px;
        border: 1px solid $silver-med;

        > button {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 28px;
            width: 28px;
            border-radius: 10px;
            background-color: transparent;
            cursor: pointer;
            border: 0;
            padding: 4px;
            overflow: hidden;

            path {
                fill: $silver-dark;
            }

            &:hover {
                scale: 1.2;
            }
        }
    }

    &:hover {
        //background-color: $silver-xlight;
        border: 2px solid $silver-xlight;
        .Body {
            .Info {
                .Timestamp {
                    visibility: visible;
                }
            }
        }
    }
}

.EmojiPicker {
    position: absolute;
    bottom: 0px;
    z-index: 10;

    #root {
        background-color: $fuel;
    }
}

.ogCard {
    padding: 16px;
    margin-top: 10px;
    background-color: $white;
    border: 1px solid $silver-med;
    border-radius: 12px;
    @include montserrat;
    font-size: 13px;
    font-weight: 500;
    color: $silver-dark;
    width: 100%;
    max-width: 360px;
    user-select: none;
    text-decoration: none;
    overflow-wrap: anywhere;

    .attribution {
        display: flex;
        flex-direction: row;
        align-items: center;
        //background-color: aqua;
        width: 100%;
        padding: 0px;
        margin-bottom: 8px;

        img {
            margin: 0;
            width: 20px;
            height: 20px;
            //border-radius: 8px;
            overflow: hidden;
        }

        p {
            margin-left: 4px;
            @include worksans;
            font-size: 14px;
            line-height: 100%;
            font-weight: 800;
            color: $fuel;
        }
    }

    .title {
        font-weight: 700;
        display: block;
        color: $fuel;
        text-decoration: none;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}
