@import '../../styles/globals.scss';
@import '../../styles/config/config-type';
@import '../../styles/fonts.scss';

.SingleMessage {
  display: inline-flex;
  position: relative;
  background-color: transparent;
  width: 100%;
  margin: 8px 8px;
  padding: 4px;
  column-gap: 12px;
  border-radius: 8px;
  

  .emoji-mart {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 999;
  }

  > img,
  &Avatar {
    height: 36px;
    width: 36px;
    //margin-right: $gutter;
    border-radius: 9999px;
    object-fit: cover;
  }

  &Avatar {
    position: relative;

  }


  &AvatarNo {
    position: relative;
    height: 36px;
    width: 36px;
    max-height: 36px;
    max-width: 36px;
    min-width: 36px;
    max-width: 36px;
    background-color: $warm_blue;
    border-radius: 9999px;
    @include topicTitleMobile;
    color: $oxygen;
  }

  &Body {
   width: 100%; 
   //background-color: aqua;

    &Info {
      display: flex;
      align-items: baseline;
      column-gap: 4px;

      &Creator {
        @include chatProfile;
        color: $fuel;
      }
      &Timestamp {
//        display: none;
        color: $fuel_50;
        @include timeStamp;


      }
      
    }

    &Content {
      //width: 100%;
      width: fit-content;
      max-width: 540px;
      @include chatText;
      background-color: $warm_blue_light;
      padding: 8px 12px;
      border: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 12px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;

      .message-text {
        margin: 0;
        white-space: pre-wrap;
      }

      a {
        display: inline-block;
        font-size: inherit;
        white-space: pre-wrap;
        overflow-wrap: anywhere;
      }
    }

    img {
      max-height: 120px;
      max-width: 100%;
    }

    &Reactions {
      display: flex;
      align-items: center;

      > * {
        margin-right: $gutter;
      }

      &ReplyCount {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 32px;
        color: $white;
        background-color: #333;
        border-radius: 50%;
      }

      &FlamesWrapper {
        display: flex;
      }

      &Flame {
        display: inline-block;
        position: relative;
        height: 32px;
        width: 26px;
        &:before {
          @include x-y-center;
          @include font-icon($icon-fire);
          color: $orange;
          font-size: 32px;
          line-height: 32px;
        }

        &:not(:first-of-type) {
          margin-left: -$gutter;
        }
      }

      &Emoji {
        font-size: 32px;
        line-height: 32px;
      }
    }
  }

  &Controls {
    position: absolute;
    top: -16px;
    right: 0;

    > button {
      position: relative;
      height: 40px;
      width: 40px;
      margin: 0 $gutter / 2;
      padding: 0;
      color: #fff;
      font-size: 0;
      background-color: #333;
      border: 4px solid #fff;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: $orange;
      }

      &:before {
        @include x-y-center;
        font-size: 16px;
      }
    }

    &Flame {
      &:before {
        @include font-icon($icon-fire);
      }
    }
    &Reaction {
      &:before {
        @include font-icon($icon-emoji);
      }
    }
    &Reply {
      &:before {
        @include font-icon($icon-reply);
      }
    }
    &Edit {
      &:before {
        @include font-icon($icon-edit);
      }
    }
    &Delete {
      &:hover {
        background-color: #b00020;
      }
      &:before {
        @include font-icon($icon-delete);
      }
    }
  }

  &:hover {
    background-color: $fuel_5;

    &Body {
       &Info {
         &Timestamp {
          display: none;
         }
       }
      }

  }

  .og-card {
    padding: 5px;
    border: 1px solid $placeholder-black;
  }
}
