@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.topicHolderMobile {
    position: relative;
    height: 100%;
}

.chatHolderMobile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    height: 100vh;
    width: 100vw;
    background: $white;
}

.topicHolderDesktop {
    position: relative;
    height: 100%;
    overflow: auto;
}

.chatHolderDesktop {
    //position: relative;
    //height: 100%;
    //overflow: auto;
    //background-color: #ee5500;
}
