@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.MainChatContainer {
    display: flex;
    width: 100%;
}

.topicHolderMobile {
    position: relative;
    height: 100%;
}

.chatHolderMobile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    height: var(--vh);
    width: 100vw;
    background: #28282e;
}

.topicHolderDesktop {
    position: relative;
    height: 100%;
    overflow: auto;
}
