@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.MainChatContainer {
  display: flex;
  width: 100%;
  padding: $space;
  padding-top: calc($space / 2);
}

.topicHolderMobile {
  position: relative;
  height: 100%;
  //padding: 2px;
}

.chatHolderMobile {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  height: var(--vh);
  width: 100vw;
}

.topicHolderDesktop {
  position: relative;
  height: 100%;
  overflow: auto;
}
