@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.desktop {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: header;
  padding: 8px 16px 0px 16px;
  border: 0;
  background-color: transparent;
  //column-gap: 16px;

  .optionsContainer {
    position: relative;

    .moreButton {
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }

  .middleGroup {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }

  .spacerSmall {
    width: 44px;
  }

  .spacerLarge {
    width: 52px;
  }
}

.mobile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-area: header;
  padding: 4px 8px 20px 0px;
  border: 0;
  width: 100%;
  background-color: var(--menu-color);

  .spacerLarge {
    display: flex;
    width: 52px;
  }

  button {
    border: 0;
  }
}

.stream {
  &Desktop {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: header;
    padding: 0px 16px 0px 0px;
    border: 0;
    background-color: transparent;
    //column-gap: 16px;

    .optionsContainer {
      position: relative;

      .moreButton {
        position: absolute;
        top: 0px;
        right: 0px;
      }
    }

    .leftGroup {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: $ash;
      width: 240px;
      padding: 0px 8px;
      border-top: 1px solid $ash_medium;
      border-right: 1px solid $ash_medium;
    }

    .spacerSmall {
      width: 44px;
    }

    .spacerLarge {
      width: 52px;
    }
  }

  &Mobile {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-area: header;
    padding: 0px 8px 24px 0px;
    //height:104px;
    border: 0;
    width: 100%;

    .spacerLarge {
      display: flex;
      width: 52px;
    }
  }
}
