@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: header;
    padding: 8px 16px 8px 16px;
    border: 0;
    background-color: transparent;
    //column-gap: 16px;

    .optionsContainer {
        position: relative;

        .moreButton {
            position: absolute;
            top: 0px;
            right: 0px;
        }
    }

    .middleGroup {
        display: flex;
        align-items: center;
        column-gap: 16px;
        //background-color: aqua;
    }

    .spacerSmall {
        width: 44px;
        background-color: red;

    }

    .spacerLarge {
        width: 52px;
        background-color: red;

    }
}

.mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: header;
    padding: 0 16px 16px 16px;
    height: fit-content;
    border-bottom: 0px solid transparent;
    background-color: transparent;

    .leftSpace {
        display: flex;
        width: 52px;
    }
}
