#login-module,
#create-module,
#forgot-password,
#select-initial-com,
#create-community,
#create-profile,
#submit-community,
#join-community {
  @include x-y-center;
  width: 400px;
  max-width: 95vw;
  padding: 32px 36px 31px;
  border-radius: 5px;

  #go-back {
    position: absolute;
    top: 32px;
    left: 4%;
    height: 32px;
    width: 32px;

    background-color: rgba($black, 0.04);
    border: 0;
    border-radius: 50%;

    cursor: pointer;

    &:before {
      @include x-y-center;
      @include font-icon($icon-caret-right);
      transform: translate3d(-50%, -50%, 0) rotate(180deg);
    }
  }
}

#login-module {
  transition: transform 0.7s;
  &.center-left {
    transform: translate3d(calc(-50% - 100vw), 0, 0);
  }
  &.center-right {
    transform: translate3d(calc(-50% + 100vw), 0, 0);
  }

  #login-error {
    margin: 2px 0;
  }
}

//==================================
//Forgot Password Page
//==================================
#forgot-password {
  transform: translate3d(calc(-50% - 100vw), 0, 0);
  transition: transform 0.7s;

  &.left-center {
    transform: translate3d(-50%, -50%, 0);
  }

  #login-error {
    margin: 2px;
  }
}

#email-sent {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 3;

  div {
    @include x-center;
    top: 110px;
    padding: 20px 36px 30px;
    text-align: center;

    h2 {
      margin-bottom: 24px;
    }

    p {
      width: 299px;
      margin-bottom: 24px;
      text-align: left;
    }

    .btn {
      padding: 13.5px 39.5px;
    }
  }
}

//==================================
//Create Account Page
//==================================
#create-module {
  transform: translate3d(calc(-50% + 100vw), 0, 0);
  transition: transform 0.5s, max-height 0.7s;

  &.right-center {
    transform: translate3d(-50%, -50%, 0);
  }

  &.account-created {
    max-height: 160px;
    fieldset {
      &:not(:last-of-type) {
        opacity: 0;
        max-height: 0px;
      }
      .form-bottom {
        > div {
          opacity: 0;
          visibility: hidden;
        }
        #account-create-submit {
          right: 50%;
          transform: translateX(50%);
        }
      }
    }
  }
}

//Initial Create Community
//==================================
#create-community {
  #community-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 0 40px;
    font-size: 14px;
    text-align: center;

    span {
      max-width: 112px;
    }

    #drop-zone {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 96px;
      width: 96px;
      padding: 10px;
      background-color: $medium-grey;
      border: 1px dashed $black50;
      cursor: pointer;

      span {
        font-size: 10px;
      }

      input {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
      }
    }
  }

  .form-bottom {
    span {
      color: $black60;
      font-size: 12px;
      a {
        text-decoration: underline;
      }
    }
  }
}

//Initial Create Profile
//==================================
#create-profile {
  h2 {
    margin: 0 0 24px;
  }
  fieldset {
    &:last-of-type {
      margin: -16px 0 0;
      padding: 0;

      .btn {
        margin: 0;
      }
    }
  }
  #profile_image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -16px;
    padding: 0 40px;
    font-size: 14px;
    text-align: center;

    span {
      max-width: 138px;
    }

    #drop-zone {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 96px;
      width: 96px;
      padding: 10px;
      background-color: $medium-grey;
      border: 1px dashed $black50;
      border-radius: 50%;
      cursor: pointer;

      span {
        font-size: 10px;
      }

      input {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
      }
    }
  }
  #toggle-field {
    margin-top: -16px;
    > p {
      margin: 0 0 16px;
      font-size: 12px;
    }
    > div {
      display: flex;
      align-items: center;

      + div {
        margin-top: 16px;
      }

      p {
        margin: 0 0 0 16px;
        font-size: 18px;
        font-weight: 500;
        span {
          display: block;
          color: $black60;
          font-size: 12px;
        }
      }
    }
  }
}

//Join Existing Community
//==================================
#join-community {
  .form-bottom {
    span {
      color: $black60;
      font-size: 12px;
      a {
        text-decoration: underline;
      }
    }
  }
}

//Community Successfully Created/Joined
//==================================
#community_success {
  .modal_main {
    padding: 32px 36px;
    text-align: center;

    h2 {
      margin-bottom: 16px;
    }

    p {
      margin: 0;
      font-size: 12px;
    }

    .btn {
      width: 328px;
      min-width: 100%;
      margin-top: 32px;
    }
  }
}
