#login-module,
#create-module,
#forgot-password,
#select-initial-com,
#create-community,
#create-profile,
#submit-community,
#join-community {
  @include x-y-center;
  width: 280px;
  max-width: 95vw;
  border-radius: 5px;

  .modal_main & {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  #logo_large {
    width: 100%;
    margin-bottom: 16px;
  }

  h2 {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #go-back {
    position: absolute;
    left: 0;
    height: 32px;
    width: 32px;

    background-color: transparent;
    border: 0;
    border-radius: 50%;

    cursor: pointer;
    transition: background-color 0.3s;

    &:before {
      @include x-y-center;
      @include font-icon($icon-caret-right);
      transform: translate3d(-50%, -50%, 0) rotate(180deg);
    }

    &:hover {
      background-color: $light-grey;
    }
  }

  .btn {
    width: 100%;
    max-width: 280px;
  }
}

#login-module {
  #login-error {
    margin: 2px 0;
  }
}

//==================================
//Forgot Password Page
//==================================
#forgot-password {
  #login-error {
    margin: 2px;
  }
}

#email-sent {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 3;

  div {
    @include x-center;
    top: 110px;
    padding: 20px 36px 30px;
    text-align: center;

    p {
      width: 299px;
      margin-bottom: 24px;
      text-align: left;
    }

    .btn {
      padding: 13.5px 39.5px;
    }
  }
}

//==================================
//Create Account Page
//==================================
#create-module {
  .disclaimer {
    margin-top: -8px;
    margin-bottom: 24px;
    color: $text-black;
    font-size: 12px;
    a {
      display: inline;
      font-size: 12px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

#select-initial-com {
  p {
    margin: 0 0 40px;
    text-align: center;
  }
}

//Initial Create Community
//==================================
#create-community {
  fieldset {
    margin: 0;
    padding: 0;
  }

  #community-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 32px;
    padding: 0 40px;
    font-size: 14px;
    text-align: center;

    #community-image-select {
      margin: 0 auto;

      img {
        position: absolute;
        z-index: 4;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    span {
      max-width: 112px;
    }

    #drop-zone {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 96px;
      width: 96px;
      padding: 10px;
      background-color: $medium-grey;
      border: 1px dashed $black50;
      border-radius: 4px;
      cursor: pointer;

      &:before {
        @include x-y-center;
        @include font-icon($icon-harth);
        z-index: 1;
        color: $light-grey;
        font-size: 60px;
      }

      span {
        position: relative;
        z-index: 2;
        font-size: 10px;
      }

      input {
        position: absolute;
        z-index: 5;
        height: 100%;
        width: 100%;
        opacity: 0;
      }
    }
  }

  .form-bottom {
    margin-top: 40px;
  }
}

//Initial Create Profile
//==================================
#create-profile {
  width: 375px;
  fieldset {
  }
  #profile_image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    font-size: 14px;
    text-align: center;

    span {
      max-width: 138px;
    }

    #profile_image_select {
      margin: 0 auto;
    }

    #drop-zone {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 120px;
      width: 120px;
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;

      img {
        position: absolute;
        z-index: 4;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
      }

      &:before {
        @include x-y-center;
        @include font-icon($icon-user);
        color: $black50;
        font-size: 120px;
      }

      span {
        font-size: 10px;
      }

      input {
        position: absolute;
        z-index: 5;
        height: 100%;
        width: 100%;
        opacity: 0;
      }
    }
  }
  #toggle-field {
    > p {
      margin: 0 0 16px;
      font-size: 14px;
    }
    > div {
      display: flex;
      align-items: center;
      margin-left: 40px;

      + div {
        margin-top: 16px;
      }

      p {
        margin: 0 0 0 16px;
        font-size: 18px;
        font-weight: 500;
        span {
          display: block;
          color: $black60;
          font-size: 12px;
        }
      }
    }
  }

  .form-bottom {
    text-align: center;
  }
}

#submit-community {
  text-align: center;
}

//Join Existing Community
//==================================
#join-community {
  p {
    width: 242px;
    margin: 0 auto 24px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
  > div {
    margin: 0 -4px;
  }
  input {
    display: inline-block;
    height: 56px;
    width: 40px;
    margin: 4px;
    padding: 0;
    font-size: 28px;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid $border-grey;
    border-radius: 0;
  }
}

//Community Successfully Created/Joined
//==================================
#community_success {
  .modal_main {
    padding: 32px 36px;
    text-align: center;

    p {
      margin: 0;
      font-size: 12px;
    }

    .btn {
      width: 328px;
      min-width: 100%;
      margin-top: 32px;
    }
  }
}
