#chat_input_container {
  position: fixed;
  bottom: 25px;
  width: calc(100% - 328px);
  border: 1px solid $black50;
  border-radius: 4px;

  .topic-edit-active & {
    width: calc(100% - 628px);
  }

  textarea {
    resize: none;
    width: 100%;
    min-height: 25px;
    max-height: 50vh;
    padding: 8px 8px 0;
    border: 0;
    border-radius: 4px;
  }

  > div {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $black60;

    button {
      height: 32px;
      width: 32px;
      background-color: transparent;
      border: 0;
      cursor: pointer;
    }

    .input-style-wrapper {
      button {
        font-family: "Times New Roman", Times, serif;
        font-size: 18px;
      }
      .style-bold {
        font-weight: bold;
      }
      .style-italic {
        font-style: italic;
      }
      .style-strike {
        text-decoration: line-through;
      }
    }

    .chat-insert-additional-wrapper {
    }
  }
}
