#create-module {
  @include x-center;
  top: 140px;
  height: 495px;
  width: 360px;
  max-height: 495px;
  padding: 21px 16px 24px;
  background-color: $white;
  border-radius: 12px;

  transform: translateX(50vw);
  transition: transform 0.5s, max-height 0.7s;

  &.right-center {
    transform: translateX(-50%);
  }

  &.account-created {
    max-height: 160px;
    fieldset {
      &:not(:last-of-type) {
        opacity: 0;
        max-height: 0px;
      }
      .form-bottom {
        > div {
          opacity: 0;
          visibility: hidden;
        }
        #account-create-submit {
          right: 50%;
          transform: translateX(50%);
        }
      }
    }
  }

  fieldset {
    max-height: 70px;
    margin-bottom: 0;
    transition: max-height 0.5s;
    &:last-of-type {
      margin-top: 6px;
    }
  }

  #return-login {
    display: block;
    color: $dark-grey;
    font-size: 12px;
    line-height: 40px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: $pink;
    }
  }

  p {
    height: 11px;
    margin: 0 0 19px;
    font-size: 10px;
    color: $pink;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;

    &.error {
      opacity: 1;
      visibility: visible;
    }
  }

  .form-bottom {
    position: relative;
    height: 36px;

    #account-create-submit {
      position: absolute;
      right: 0;
      transform: translateX(0);
      transition: all 0.5s;
    }

    p {
      position: absolute;
      right: 4px;
      bottom: -33px;
    }
  }
}
