#dashboard {
  display: grid;
  grid-template-columns: 56px auto;
  grid-template-rows: 56px auto;
  grid-template-areas:
    "aside header"
    "aside content";
  height: 100vh;
  width: 100vw;
  background-color: $white;
}

#main-content {
  position: relative;
  &:before {
    @include cover;
    content: "";
    background-color: transparent;
    transition: background-color 0.5s;
    visibility: hidden;
  }

  .menu-open & {
    &:before {
      background-color: rgba($black, 0.32);
      visibility: visible;
    }
  }

  main {
    display: flex;
    height: 100%;
  }
}

#community-preferences {
  .modal_main {
    display: grid;
    grid-template-areas:
      "header header"
      "nav body";

    width: 90vw;
    max-width: 560px;
  }
  .modal_top {
    grid-area: header;
    padding: 20px 16px;
    p {
      margin: 0;
    }
  }
  .modal_left {
    grid-area: nav;

    width: 143px;

    border-right: 1px solid $border-grey;
  }
  .modal_right {
    grid-area: body;
    padding: 16px 24px 19px;
    min-height: 560px;
  }

  #invite {
    fieldset {
      margin: 0 0 2px;

      > p[class*="_error_message"] {
        bottom: -14px;
      }
    }

    .form-bottom {
      text-align: right;
    }

    .btn {
      width: auto;
    }
  }
}
