#main_content {
  display: flex;
  justify-content: flex-end;
}

#dashboard {
  height: 100vh;
  width: calc(100vw - 64px);
  background-color: $white;
}

#content_wrapper {
  position: relative;
  &:before {
    @include cover;
    content: '';
    background-color: transparent;
    transition: background-color 0.5s;
    visibility: hidden;
  }

  .menu-open & {
    &:before {
      background-color: rgba($black, 0.32);
      visibility: visible;
    }
  }

  main {
    display: flex;
    height: 100%;
  }
}
