#dashboard {
  display: grid;
  grid-template-columns: 56px auto;
  grid-template-rows: 56px auto;
  grid-template-areas:
    'aside header'
    'aside content';
  height: 100vh;
  width: 100vw;
  background-color: $white;
}

#main-content {
  position: relative;
  &:before {
    @include cover;
    content: '';
    background-color: transparent;
    transition: background-color 0.5s;
    visibility: hidden;
  }

  .menu-open & {
    &:before {
      background-color: rgba($black, 0.32);
      visibility: visible;
    }
  }

  main {
    display: flex;
    height: 100%;
  }
}
