#add_room {
  height: 216px;
  width: 292px;
  padding: 16px;
  background-color: transparent;
  background-image: linear-gradient(
    to right,
    $placeholder-black 50%,
    $white 50%
  );
  background-position: top;
  background-size: 6px 1px;
  background-repeat: repeat-x;
  border-color: $placeholder-black;
  border-width: 1px;
  border-style: dashed;
  border-radius: 16px;
}

#stream-window {
  > div {
    padding: 6px 16px;
    color: #fff;
    background-color: #333;
  }

  &-controls {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    margin: 0;
    color: #fff;
    background-color: #333;
    list-style: none;

    li {
      margin: 5px;

      button {
        cursor: pointer;
      }
    }
  }

  &-peer-container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;

    [id^='peerBox-'] {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      max-width: 100%;
      min-width: calc(100% / 3);
      object-fit: contain;
      background-color: #9a9a9a;
      border: 1px solid #333;

      img {
        height: 64px;
        width: 64px;
        border-radius: 50%;
      }
    }

    [id^='remoteVideo-'] {
      width: 50%;
      object-fit: contain;
    }
  }
  #localVideo {
    position: fixed;
    right: 0;
    bottom: 64px;
  }
}
