#add_room {
    height: 216px;
    width: 292px;
    padding: 16px;
    background-color: transparent;
    background-image: linear-gradient(
        to right,
        $placeholder-black 50%,
        $white 50%
    );
    background-position: top;
    background-size: 6px 1px;
    background-repeat: repeat-x;
    border-color: $placeholder-black;
    border-width: 1px;
    border-style: dashed;
    border-radius: 16px;
}

#gatherings {
    //margin: 16px;
    #gathering_create {
        padding: 10px 20px;
        color: #9a9a9a;
        background-color: #fff;
        border: 1px solid #eaeaea;
        border-radius: 20px;
        filter: drop-shadow(0 2px 4px rgba(#000, 0.16));
        cursor: pointer;
    }
}

#stream-window {
    display: flex;
    background-color: #eaeaea;
    &-title {
        padding: 6px 16px;
        color: #fff;
        background-color: #333;
    }

    &-video-container {
        position: relative;
        height: 100vh;
        width: 100%;
    }

    &-controls {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        max-height: 64px;
        margin: 0;
        padding: 4px 0;
        color: #fff;
        background-color: #333;
        list-style: none;

        .list-left {
            display: flex;
        }
        .list-center {
            display: flex;
            align-items: flex-end;
            position: relative;
            left: -28px;
            margin: 0 auto;
        }

        li {
            position: relative;
            z-index: 2;
            border-radius: 50%;
            > button {
                position: relative;
                cursor: pointer;
                height: 56px;
                width: 56px;
                color: #fff;
                font-size: 0;
                background-color: transparent;
                border-radius: 50%;
                border: 0;

                &:before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #fff;
                    font-size: 20px;
                }

                // &#leave_room {
                //   &:before {
                //     @include font-icon($icon-leave);
                //   }
                // }

                // &#muted {
                //   &:before {
                //     @include font-icon($icon-muted);
                //   }
                // }
                // &#unmuted {
                //   &:before {
                //     @include font-icon($icon-mic);
                //   }
                // }

                // &#stream {
                //   &:before {
                //     @include font-icon($icon-camera);
                //   }
                // }
                // &#no_stream {
                //   &:before {
                //     @include font-icon($icon-stopcamera);
                //   }
                // }
                &#options {
                    height: 80px;
                    width: 80px;
                    border: 4px solid #fff;
                    background-color: #333;
                    &:before {
                        // @include font-icon($icon-sack);
                        font-size: 37px;
                    }

                    &.active {
                        background-color: #fff;
                        &:before {
                            // @include font-icon($icon-close);
                            color: #333;
                        }
                    }
                }
                &#screen_share {
                    &:before {
                        // @include font-icon($icon-startshare);
                    }
                }
                &#chat {
                    &:before {
                        // @include font-icon($icon-inner-chat);
                    }
                }
            }

            &.open {
                background-color: #fff;
                > button {
                    &:before {
                        color: #333;
                    }
                }
            }
            &.unread {
                position: relative;
                &:before {
                    position: absolute;
                    top: 17px;
                    left: 30px;
                    z-index: 1;
                    height: 10px;
                    width: 10px;
                    content: "";
                    background-color: #ee5500;
                    border-radius: 50%;
                }
            }
        }
    }

    &-grid {
        &-peer-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            height: calc(100vh - 103px);
            width: 100%; // change for conditional chat window
            margin-bottom: 64px;

            .peerWrapper {
                position: relative;
                margin: 4px;
                border-radius: 16px;
                overflow: hidden;
            }

            [id^="peerBox-"],
            [id^="remoteVideo-"] {
                visibility: hidden;
                height: 100%;

                &.active {
                    visibility: visible;
                }
            }

            [id^="remoteVideo-"] {
                transform: scaleX(-1);
            }
            [id^="peerBox-"] {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: #9a9a9a;

                img {
                    height: 64px;
                    width: 64px;
                    border-radius: 50%;
                }
            }

            &.full {
                .peerWrapper {
                    width: 90vw;
                    max-width: 1040px;
                    border-radius: 16px;
                }
            }
            &.double-wide {
                .peerWrapper {
                    height: calc(100% / 2 - 4px);
                    width: calc(50% - 8px);
                }
            }
            &.three-wide {
                peerWrapper {
                    width: calc(100% / 3);
                }
            }
        }
        #localVideo,
        .localPeer {
            display: none;
            position: absolute;
            right: 0;
            bottom: 64px;
            height: 108px;
            width: 190px;
            object-fit: cover;
            border-radius: 16px;

            &.active {
                display: flex;
            }
        }
        #localVideo {
            transform: scaleX(-1);
        }
        .streamVideo {
            display: none;
            height: calc(100vh - 260px);
            margin: auto;
            object-fit: contain;
        }

        &.streamActive {
            #stream-window-grid-peer-container {
                display: flex;
                justify-content: center;
                height: auto;
                max-height: 147px;
                margin-bottom: 4.8px;
                video,
                div {
                    height: 147px;
                    max-width: 246px;
                    object-fit: cover;
                }
            }

            #localVideo,
            .localPeer {
                position: relative;
                top: 0;
                right: 0;
                width: 100%;
                border-radius: 16px;
            }

            .streamVideo {
                display: block;
            }
        }
    }
}

#create_gathering {
    .form-back {
        position: absolute;
        top: 50%;
        left: 28px;
        height: 48px;
        width: 48px;
        color: #333;
        font-size: 0;
        background-color: transparent;
        border: 0;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: #f7f7f7;
        }
        &:before {
            @include x-y-center;
            // @include font-icon($icon-back);
            font-size: 16px;
            font-weight: bold;
        }
    }
    #gathering_setup_type {
        button {
            display: block;
            width: 100%;
            padding: 16px;
            border: 0;
            border-radius: 8px;
            color: #777;
            font-size: 16px;
            font-weight: bold;
            line-height: 24px;
            text-align: left;
            cursor: pointer;
            background-color: #f7f7f7;

            + button {
                margin-top: 16px;
            }

            span {
                display: block;
                font-size: 12px;
                font-weight: normal;
                pointer-events: none;
            }

            &.active {
                color: #333;
                background-color: #eaeaea;
            }
        }

        &_error {
            height: 11px;
            color: #b00020;
            font-size: 10px;
        }
    }

    #gathering_button {
        width: 100%;
    }
    #gathering_schedule {
        display: block;
        margin: 16px auto 0;
        color: #9a9a9a;
        background-color: #f7f7f7;
    }
}

.room_card {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

    //   .room-container {
    //     position: relative;
    //     padding: 64px 16px 16px;
    //     width: 280px;
    //     margin: 0 16px 16px 0;
    //     border: 1px solid #eaeaea;
    //     border-radius: 8px;
    //     box-shadow: 0 2px 4px rgba(#000, 0.16);
    //   }
}

#stream-window-peer-container {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    div {
        width: calc(50% - 4px);
        video {
            width: 100%;
        }
    }
}
#stream-window-capture-container {
    div {
        video {
            width: 100%;
            max-height: calc(100vh - 265px);
        }
    }
}
