#forgot-password {
  @include x-center;
  top: 140px;
  height: 195px;
  width: 360px;
  padding: 21px 16px 24px;
  background-color: $white;
  border-radius: 5px;

  transform: translateX(-100vw);
  transition: transform 0.7s;

  &.left-center {
    transform: translateX(-50%);
  }

  fieldset {
    margin-bottom: 4px;
    padding: 0;
    border: 0;
  }

  #return-login {
    display: inline-block;
    color: $dark-grey;
    font-size: 12px;
    line-height: 40px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: $pink;
    }
  }

  .error {
    height: 11px;
    margin: 0;
    font-size: 10px;
    color: $pink;
  }

  .form-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 9px;
  }
}
