#main-content {
  display: flex;

  #topic_active {
    width: calc(100% - 240px);

    &.topic-edit-active {
      width: calc(100% - 596px);
    }

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 6px 16px;
      border-bottom: 1px solid #e0e0e0;

      p {
        margin: 0;
      }

      #topic_bookmark {
        position: relative;
        height: 32px;
        width: 32px;
        padding: 0;
        font-size: 0;
        background-color: transparent;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s;
        &:before {
          @include font-icon($icon-bookmark);
          @include x-y-center;

          color: $black50;
          font-size: 26px;
        }
        &:hover {
          background-color: $black04;
        }
      }

      #topic_menu_toggle {
        position: relative;
        height: 32px;
        width: 32px;
        padding: 0;
        font-size: 0;
        background-color: transparent;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s;
        &:before {
          @include font-icon($icon-dots);
          @include x-y-center;

          color: $black50;
          font-size: 26px;
        }

        &:hover {
          background-color: $black04;
        }
      }
    }

    #topic_messages_container {
      position: relative;
    }

    #topic_active_messages {
      display: flex;
      flex-direction: column;
      height: 74vh;
      padding: 0 16px;
      overflow-y: scroll;
    }
  }
}
