@import '../globals.scss';

.Events {
  padding: 16px;

  .create {
    p {
      font-weight: 700;
    }
    .button {
      height: 96px;
      width: 254px;
      background-color: $white;
      border: 1px dashed $placeholder-black;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}
