@import "../../styles/globals.scss";
@import "../../styles/fonts.scss";

.topic {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    padding: 4px 0px;
    border: 0;
    background-color: transparent;
    //border: 1px solid red;
    //color: $warm_blue_highlight;
    //background-color: aqua;
    cursor: pointer;

    .label {
        display: flex;
        align-items: center;
        //justify-content: center;
        height: 32px;
        text-align: left;
        @include topicTitle;
        padding: 0px 4px;
        width: fit-content;
        color: $warm_blue_highlight;
        
    }

    .alertProfiles {
        display: flex;
        flex-direction: row;
        //column-gap: 1px;
        //row-gap: 1px;
        flex-wrap: wrap;
        padding: 0px 8px 0px 8px;
        margin-top: -8px;
        z-index: 1;

        img {
            width: 32px;
            height: 32px;
            //object-fit: cover;
            border-radius: 999px;
            border: 2px solid white;
        }

        &Mobile {
            margin-top: -8px;

            img {
                width: 36px;
                height: 36px;
                //object-fit: cover;
                border-radius: 999px;
            }
        }

    }

    &InActive {
        &:hover {
            .label{
                //background-color:$warm_blue_light;
                color: $ash;
            }

        }
    }

    &Active {
        
        .label {
            @include topicTitleActive;
            color: $ash;
            //background-color: $warm_blue_light;
        }
        
        
    }

    &Alert {
        .label {
            color: $ash;
            font-weight: 500;
        }
    }

    &Mobile {
        //height: 48px;
        width: 100%;
        //margin: 8px 0px;
        padding: 8px 0px;

        .label {
            @include topicTitleMobile;
            //height: 40px;
            padding: 24px 16px;
        }
    }
}
