@import "../../styles/globals.scss";
@import "../../styles/fonts.scss";

.topic {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    height: 40px;
    width: 100%;
    padding: 0px 0px;
    border: 0;
    background-color: transparent;
    color: $oxygen_40;

    .label {
        text-align: left;
        @include topicTitle;
        padding-right: 24px;
    }


    .alertProfiles {
        display: flex;
        flex-direction: row;
        column-gap: 1px;
        row-gap: 1px;
        flex-wrap: wrap;
    }

    &Active {
        color: $oxygen;
       // background-color:bisque;

        &:before {
            position: absolute;
            right: 0px;
            top: -5px;
            width: 24px;
            height: 24px;
            z-index: 1;
            background: $white;
            content: "";
        }

        &:after {
            position: absolute;
            right: 0px;
            top: -5px;
            width: 24px;
            height: 24px;
            z-index: 2;
            background: $warm_blue;
            content: "";
            border-bottom-right-radius: 9999px;

        }

    }

    &IndicatorBox {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        width: 100%;
        height: 100%;
        
        &Active {

            &:before {
                position: absolute;
                right: 0px;
                bottom: -3px;
                width: 24px;
                height: 24px;
                z-index: 1;
                background: $white;
                content: "";
            }
    
            &:after {
                position: absolute;
                right: 0px;
                bottom: -3px;
                width: 24px;
                height: 24px;
                z-index: 2;
                background: $warm_blue;
                content: "";
                border-top-right-radius: 9999px;
            }
    
        }

    }
    

    &Alert {
        color: $oxygen_80;


    }

    &:hover {
        color: $oxygen;
    }

    &Mobile {
        height: 40px;
        margin-top: 8px;
        margin-bottom: 8px;
        width: 100%;

        .label {
            @include topicTitleMobile;
        }

        
    }


}
