@import '../../../styles/globals.scss';

.Toggle {

  &Container {
    position: relative;
    cursor: pointer;

    &Background {
      height: 24px;
      max-height: 24px;
      width: 40px;
      border-radius: 9999px;
      border: 1px solid $fuel_10;
      margin: 0;
      background-color: $light_ash;
      transition: background-color 0.3s;
    }

    &Circle {
      @include y-center;
      left: 4px;
      height: 16px;
      width: 16px;
      transition: left 0.3s;

      &:before {
        @include x-y-center;
        height: 0px;
        width: 0px;
        //content:attr(tagText);
        content: "";
        display: none;
        background-color: rgba($black, 0.05);
        border-radius: 50%;
        transition: all 0s;
      }

      span {
        @include x-y-center;
        z-index: 2;
        height: 100%;
        width: 100%;
        background-color: $fuel;
        border-radius: 50%;
        transition: background-color 0.3s;
      }

      &:hover {
        &:before {
          //display: block;
          height: 40px;
          width: 40px;
        }
      }
    }

    &Input {
      position: absolute;
      // top: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
    }
  }

  &Checked {
    .ToggleContainer {
      &Background {
        background-color: $white;
      }
      &Circle {
        left: calc(100% - 20px);
        span {
          background-color: $hot_pink;
        }

        &:before {
          background-color: rgba($black, 0.1);
        }
      }
    }
  }
}
