@import "../../styles/globals.scss";
@import "../../styles/fonts.scss";

.isDisabled {
  opacity: 0.2;
}
.TopicButtonClickWrapper {
  position: relative;
  z-index: 3;
}

.TopicButtonWrapper {
  @media screen and (max-width: 640px) {
    position: fixed;
    z-index: 12;
    height: var(--vh);
    width: 100vw;
    background: var(--overlay);
    top: 0;
    left: 0;
  }
}

.CustomContextMenu {
  position: fixed;
  user-select: none;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  color: $font_light;
  background-color: $menu_color;
  border-radius: 8px;

  &Button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 6px 8px;
    color: $font_light;
    background-color: $background_offset_1;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    @include worksans;
    font-size: 14px;
    user-select: none;
    &:not(:last-of-type) {
      margin-bottom: 8px;
    }

    svg {
      width: 16px;
      margin-right: 6px;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: $border_basic;
      }
    }

    &:active {
      background-color: $border_basic;
    }
  }

  &Mobile {
    padding: 24px;
    padding-top: 30px;
    border-radius: 12px;
    width: 100%;
    margin: 0; 
    background: $menu_color;
    border-top: 1px solid $modal_border;
    border-bottom: 1px solid $modal_border;
    border-radius: 0;
    transition: max-height 0.5s linear;
    overflow: hidden;
    max-height: 180px; /* Start with a height of 0 */
    margin-top: -36px;    
    button {
      height: 52px;
      width: 240px;
      font-size: 16px;
      user-select: none;
      border-radius: 8px;
      color: $font_light;
      padding-left: 12px;

      svg {
        width: 24px;
        margin-right: 12px;
      }

      path {
        fill: $font_light;
      }
    }

    .moreButton {
      position: absolute;
      top: 6px;
      right: -56px;
      height: 40px;
      width: 40px;
      border-radius: 99px;
      background-color: transparent;
      border: 2px solid $border_basic;
      padding: 0;

      path {
        fill: $border_basic;
      }
      svg {
        width: 100%;
        height: 100%;
        margin: 0;
        transition: rotate 0.3s linear;
      }

      &Active {
        svg {
          rotate: -90deg;
        }
      }
    }

    span {
      position: relative;
      width: fit-content;
    }

    &Active {
      max-height: 600px;
    }
  }
}
