@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.MobileChatHeader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 16px;
    background-color: $light_ash;
    @include montserrat;
    color: $fuel;
    font-size: 14px;
    font-weight: 600;
    //backdrop-filter: blur(12px);
    border-bottom: 1px solid $fuel_10;

    button {
        height: 44px;
        width: 44px;
        border-radius: 999px;
        margin: 0;
        padding: 8px;
        background-color: transparent;
        border: 0;
        outline: 0;


        path {
            fill: $fuel;
        }

        &:hover {
            background-color: $fuel_10;
        }

    }
}
