@import "../../styles/fonts.scss";
@import "../../styles/globals.scss";

.mainContainer {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    width: 100%;
    max-height: 540px;
    overflow-y: scroll;
    //row-gap: 16px;
    margin-left: auto;
    margin-right: auto;
    


    .title {
        @include overlayMenuTitle;
        color: $font_main;
        width: 100%;
        text-align: left;
        margin-top: 0px;
        margin-bottom: 24px;
    }

    .harthHolder {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        margin-bottom: 24px;
        margin-top: -36px;

        img {
            position: relative;
            width: 72px;
            height: 72px;
            border-radius: 8px;
        }

        .harthTitle {
            position: relative;
            @include harthTitle;
            color: $font_main;
            font-size: 24px
        }
    }

    .footer {
        @include systemFont;
        color: $font_muted;
        width: 100%;
        padding: 0px 0px;
        font-size: 14px;
        text-align: center;
        flex-wrap: wrap;
    }

    .buttonBar {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 98%;
        gap: 16px;
        margin-top: 32px;
        margin-bottom: 16px;
    }
}
