@import "../../../styles/fonts.scss";
@import "../../../styles/globals.scss";

.OtpModule {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 340px;
    margin: 0 auto;
    padding: 20px 10px;
    overflow: scroll;

    &Text {
        @include interfaceR2;
        margin: 12px 0 16px;
        text-align: center;
    }
    &SubText {
        @include interfaceR3;
        margin-top: 8px;
        color: $fuel_50;
        text-align: center;
    }

    &Buttons {
        display: flex;
        width: 100%;
        margin-top: 56px;
        button + button {
            margin-left: 16px;
        }
    }
}
