@import "../../styles/fonts.scss";
@import "../../styles/globals.scss";

.TalkingHead {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;

    &HelperContainer {
        display: flex;
        justify-content: center;
        max-width: 340px;
        margin-bottom: 12px;

        &TextBubble {
            //width: 223px;
            width: 100%;
            padding: 12px;
            margin-bottom: 94px;
            text-align: center;
            background-color: #fff;
            border: solid 2px;
            border-radius: 24px;
            border-bottom-right-radius: 0;
        }
        &Text {
            @include talkingHead;
        }
        &Image {
            width: 88px;
            min-width: 88px;
            max-width: 88px;
            height: auto;
            //height: 154px;
            margin-top: auto;
            margin-left: 8px;
        }
    }
}
