@import "../../styles/fonts.scss";
@import "../../styles/globals.scss";

.TalkingHead {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;

    .HelperContainer {
        display: flex;
        justify-content: center;
        max-width: 340px;
        margin-bottom: 12px;

        &TextBubble {
            width: 100%;
            padding: 12px;
            margin-bottom: 60px;
            text-align: center;
            background-color: #fff;
            border: solid 2px;
            border-radius: 24px;
            border-bottom-right-radius: 0;
            overflow-wrap: anywhere;
        }
        &Text {
            @include talkingHead;
        }
        .WizardBackground {
            width: 88px;
            min-width: 88px;
            max-width: 88px;
            //height: auto;
            //height: 154px;
            margin-top: auto;
            margin-left: 8px;

            .Wizard {
                width: 88px;
            }
        }
    }
}

.TalkingHeadSmall {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;


    .HelperContainer {
        display: flex;
        justify-content: center;
        width: 360px;
        max-width: 100%;
        margin-bottom: 12px;

        &TextBubble {
            //width: 223px;
            width: 100%;
            padding: 12px;
            margin-bottom: 84px;
            text-align: center;
            background-color: #ffffff;
            border: solid 2px $fuel;
            border-radius: 24px;
            border-bottom-right-radius: 0;
            overflow-wrap: anywhere;
        }
        &Text {
            @include talkingHead;
            font-size: 18px;
            color: $font_dark;
        }

        .WizardBackground {
            width: 88px;
            min-width: 88px;
            max-width: 88px;
            //height: auto;
            //height: 154px;
            margin-top: auto;
            margin-left: 8px;

            .Wizard {
                width: 88px;
            }
        }
    }
}