@import "../../../styles/fonts.scss";
@import "../../../styles/globals.scss";

.loginModule {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 340px;
    margin: 0 auto;
    padding: 0 24px;

    svg {
        width: 122px;
        margin-bottom: 32px;
    }

    .formBottom {
        max-width: 340px;
        margin-top: 8px;
    }

    &Disclaimer {
        @include interfaceR3;
        width: 316px;
        margin: 12px auto 20px;
        color: $fuel_50;
    }

    &SignUpLink {
        display: block;
        margin: 0 auto;
    }
}
