@import "../../../styles/fonts.scss";
@import "../../../styles/globals.scss";

.loginModule {
  max-width: 360px;
  margin: 0 auto;

  h3 {
    @include overlayMenuTitle;
    color: var(--font-main);
    text-align: left !important;
    width: 100%;
    margin: 0;
    margin-bottom: 36px;
  }

  .label {
    @include systemFont;
    display: none;
    text-align: center;
    margin-bottom: 4px;
    margin-top: 4px;
    color: var(--font-main);
    text-align: left;
  }

  input {
    border-radius: 4px;
    background-color: var(--theme-background);
    border: 1px solid var(--border-light);
    height: 56px;
    padding: 0px 12px;
    @include systemFont;
    font-size: 16px;
    color: var(--font-main);
    caret-color: $hot_purple;
    box-shadow: var(--shadow-1);
    &::placeholder {
      color: var(--font-placeholder);
    }
  }

  .logoHolder {
    width: 280px;
    max-width: 280px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    svg {
      margin: auto;
      height: 64px;
    }
  }
  .greeting {
    @include systemFont;
    text-align: center;
    margin-bottom: 64px;
    margin-top: 8px;
    color: var(--font-main);
  }

  .formBottom {
    max-width: 340px;
    margin-top: 8px;
  }

  &Disclaimer {
    @include systemFont;
    font-size: 12px;
    text-align: center;
    width: 280px;
    margin: 8px auto 28px;
    color: var(--font-muted);

    a {
      color: var(--font-muted);
    }
  }

  &SignUpLink {
    display: block;
    margin: 0 auto 56px;
  }

  .loginButton {
    margin-top: 24px;
  }

  .accountCreateAlert {
    position: relative;
    @include systemFont;
    font-size: 12px;
    text-align: center;
    width: 260px;
    color: var(--font-muted);
    margin: auto;
    margin-top: 16px;
    margin-bottom: 8px;
    background-color: var(--border-light);
    border: 1px solid var(--border-basic);
    border-radius: 16px;
    padding: 8px 12px;

    .button {
      display: block;
      margin: 4px auto;
      background-color: transparent;
      color: var(--font-main);
      text-decoration: underline;
      border: none;
      @include systemFont;
      padding: 4px 4px;
      border-radius: 8px;
      cursor: pointer;
      text-transform: uppercase;
    }
  }
  .buttonBar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 98%;
    column-gap: 8px;
    margin-top: 24px;

    .backButton {
      height: 48px;
      border-radius: 999px;
      max-width: 88px;
      border: 1px solid var(--border-basic);
      background-color: transparent;

      path {
        fill: var(--border-basic);
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background: var(--border-light);
          border-color: var(--border-heavy);
          path {
            fill: var(--border-heavy);
          }
        }
      }

      &:active {
        background: var(--border-light);
        border-color: var(--border-heavy);
        path {
          fill: var(--border-heavy);
        }
      }
    }

    .submitButton {
      @include buttonPrimary;
      width: 100%;
    }
  }
}

.fadeIn {
  animation: fadeInAnimation ease 300ms;
  -webkit-animation: fadeInAnimation ease 300ms;
  -moz-animation: fadeInAnimation ease 300ms;
  -o-animation: fadeInAnimation ease 300ms;
  -ms-animation: fadeInAnimation ease 300ms;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
