@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

@font-face {
    font-family: "icomoon";
    src: url("../../../public/fonts/Icomoon/icomoon.eot");
    src: url("../../../public/fonts/Icomoon/icomoon.eot?#iefix")
            format("embedded-opentype"),
        url("../../../public/fonts/Icomoon/icomoon.woff") format("woff"),
        url("../../../public/fonts/Icomoon/icomoon.ttf") format("truetype"),
        url("../../../public/fonts/Icomoon/icomoon.svg#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

.volumeButton {
    &:before {
        font-family: "icomoon";
        content: "\e900";
        color: $white_50;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }

    &Active {
        &:before {
            color: $hot_pink;
        }
    }
}

.VoiceWindow {
    position: absolute;
    display: flex;
    flex-direction: column;
    //background-color: $fuel;
    height: 100vh;
    width: 100%;
    border: 0;
    padding: 0;

    background: radial-gradient(ellipse at top, $black, $black_60),
        radial-gradient(ellipse at bottom, $hot_blue, $fuel);

    .ContentContainer {
        position: relative;
        display: flex;
        flex-direction: row;
        height: calc(100% - 108px);
        width: 100%;
        padding: 16px 12px;

        .leftContainer {
            margin-right: 12px;
            margin-left: 4px;
            width: 240px;
            min-width: 240px;
            user-select: none;

            &Mobile {
                width: 100%;
            }
        }

        .userContainer {
            position: relative;
            width: 100%;
            padding: 8px 8px;
            border: 1px solid $white_10;
            border-radius: 8px;
            backdrop-filter: blur(8px);
            background-color: $white_5;
            margin: 4px 0px;

            .topContainer {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .profileContainer {
                    display: flex;
                    align-items: center;
                }

                .volumeButton {
                    font-size: 18px;
                    background-color: transparent;
                    border: 0;
                    cursor: pointer;
                }
            }

            .peerName {
                color: $white;
                @include topicTitle;
            }

            .peerImage {
                height: 44px;
                width: 44px;
                margin-right: 8px;
                border-radius: 50%;
                object-fit: cover;
                border: 3px solid transparent;
            }

            &.ownerVideo {
                transform: scaleX(-1);
            }

            .sliderContainer {
                position: relative;
                //right: -50%;
                z-index: 99;
                display: flex;
                align-items: center;
                padding: 4px;
                margin: 8px 0px;
                //border: 2px solid $white_10;
                //background-color: $white_80;

                input[type="range"] {
                    height: 20px;
                    width: 100%;
                    border: 0;
                    border-radius: 0;
                    -webkit-appearance: none;
                }
                input[type="range"]::-webkit-slider-thumb {
                    height: 20px;
                    width: 20px;
                    margin-top: -7px;
                    background: $hot_pink;
                    border-radius: 50%;
                    cursor: pointer;
                    box-shadow: 0 1px 2px $white_20;
                    -webkit-appearance: none;
                }
                input[type="range"]::-moz-range-thumb {
                    height: 20px;
                    width: 20px;
                    background: $hot_pink;
                    border: 0;
                    border-radius: 50%;
                    cursor: pointer;
                    box-shadow: 0 1px 2px $white_20;
                }

                input[type="range"]::-webkit-slider-runnable-track {
                    width: 100%;
                    height: 6px;
                    animate: 0.2s;
                    background: $white_50;
                    border-radius: 100px;
                    cursor: pointer;
                }
                input[type="range"]::-webkit-progress-value {
                    background-color: $white;
                }

                input[type="range"]::-moz-range-track {
                    width: 100%;
                    height: 6px;
                    animate: 0.2s;
                    background: $white_50;
                    border: 0;
                    border-radius: 100px;
                    cursor: pointer;
                }
                input[type="range"]::-moz-range-progress {
                    height: 6px;
                    background-color: $white;
                    border-radius: 100px;
                }

                .muteButton {
                    background-color: transparent;
                    border: 0;
                    cursor: pointer;

                    &:before {
                        font-family: "icomoon";
                        content: "\e900";
                        color: $fuel;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                    }
                }
                .unMuteButton {
                    background-color: transparent;
                    border: 0;
                    cursor: pointer;

                    &:before {
                        font-family: "icomoon";
                        content: "\e901";
                        color: $red;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                    }
                }
            }

            .playButton {
                display: block;
                margin: 4px 0 0 auto;
                padding: 6.5px 12px;
                color: $white;
                font-family: var(--Work_Sans-font);
                font-size: 12px;
                font-weight: 500;
                letter-spacing: 0.02em;
                line-height: 125%;
                background-color: $hot_pink;
                border: 0;
                border-radius: 20px;
                cursor: pointer;
            }

            audio {
                position: relative;
                z-index: 2;
            }

            video {
                position: absolute;
                z-index: 1;
                object-fit: cover;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                overflow: hidden;
                background-size: cover;
                overflow: hidden;
            }
        }

        .ChatPanelContainer {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            padding: 2px 12px;
            border: 1px solid rgba(256,256,256,0.05);
		    background: rgba(256,256,256,0.05);
		    backdrop-filter: blur(5px);
  	        -webkit-backdrop-filter: blur(5px);
            border-radius: 18px;
            margin: 0;

            &Mobile {
                position: absolute;
                left: 100%;
                height: calc(100% - 40px);
                width: calc(100% - 20px);
                margin: 0 10px;
            }

            &Open {
                &.rendering {
                    left: 100%;
                    transition: all 0.4s ease-in-out;
                }
                &.entered {
                    left: 0%;
                    transition: all 0.4s ease-in-out;
                }
            }
        }
    }
}
