@import "../../../../styles/globals.scss";
@import "../../../../styles/fonts.scss";

.imageHolder {
    margin-top: 40px;
}

.form {
    margin-top: 30px;

    &Content {
        display: flex;
        height: 40px;
    }

    .textEntry {
        margin: 0;
        padding: 8.5px 20px;
        background-color: $fuel_10;
        border: 0;
        border-radius: 99px 0 0 99px;
    }
    .formSubmit {
        padding: 8px;
        background-color: $fuel;
        border-radius: 0 99px 99px 0;
    }
}

.contentHolder {
    width: 100%;
    padding: 16px 0px;

    .title {
        @include interfaceR2;
        color: $fuel;
        width: fit-content;
        padding: 4px 16px 4px 0px;
        border-bottom: 1px solid $fuel;
        text-transform: capitalize;
    }

    // .leaveButton {
    //     width: fit-content;
    //     background-color: $alert_red;
    //     border: 0;
    //     margin-top: 8px;
    // }
}

.DeleteModal {
    section {
        top: 0;
        left: 0;
        transform: none;
    }
}
