@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";


.diceButton {
    position: relative;
    border-radius: 9999px;
    cursor: pointer;
    border: solid 3px $white_10;
    background-origin: border-box;
    background-clip: content-box, border-box;
    
    
    
    
    &Large {
        height: 80px;
        width: 80px;

        .icon {
            position: relative;
            top: 0px;
            left: 3px;
            width: 60px;
            height: 60px;
            //background-color: aqua;
        }
    
        .rollResult{
            display: flex;
            align-items: center;
            justify-content: center;
            @include interfaceH1;
            font-size: 42px;
            color: $white_90;

        }
    }
    

    &Small {
        height: 58px;
        width: 58px;

        .icon {
            position: relative;
            top: 0px;
            left: 0px;
            width: 44px;
            height: 44px;
        }

        .rollResult{
            display: flex;
            align-items: center;
            justify-content: center;
            @include interfaceH1;
            font-size: 34px;
            color: $white_90;

        }
    }

    &Active {
        border: solid 3px transparent;
        box-shadow: 4px 9999px 1px $white inset; //interior color
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(35deg, $hot_blue, $hot_pink);
    }

    &Inactive {
        box-shadow: 4px 9999px 1px $ash inset; //interior color

        path{
            fill: $white_90;
        }
        &:hover {
            border: solid 3px $white_90;
            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(35deg, $hot_blue, $hot_pink);
    
        }
    }


    &Animated {
        border: solid 3px transparent;
        box-shadow: 4px 9999px 1px $black inset; //interior color
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(35deg, $hot_blue, $hot_pink);
        
        .icon {
            animation: roll 1s;
        }
    }
}



@keyframes roll {
    0% {
    transform: translate(0, 0);
    }
    10% {
    transform: translate(15%, 15%) rotate(-120deg);
    }
    20% {
    transform: translate(-15%, 15%) rotate(-240eg);
    }
    30% {
    transform: translate(10%, -15%) rotate(-360deg);
    }
    40% {
    transform: translate(-15%, -15%) rotate(-120deg);
    }
    50% {
    transform: translate(15%, 10%) rotate(-240deg);
    }
    60% {
    transform: translate(-15%, 15%) rotate(-360deg);
    }
    70% {
    transform: translate(10%, -10%) rotate(-120deg);
    }
    80% {
    transform: translate(-10%, -10%) rotate(-240deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}


