@import "../../styles/globals.scss";
@import "../../styles/fonts.scss";

.mainContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500000;
    height: 100vh;
    width: 100vw;
    background-color: $ash_dark;
    button {
      position: fixed;
      //height: 24px;
      width: 24px;

      top: 15px;
      right:  15px;
      z-index: 5000000;
      border: 1px solid $ash_light;
      background: $ash;
      color: $font_medium;
      @include worksans;
      font-size: 14px;
      font-weight: 600;
      text-transform:uppercase;
      border-radius: 99px;
      width: fit-content;
      //font-size: 16px;
      padding: 4px 8px;
      cursor: pointer;
    }
  }
  
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
  
    img {
      width: auto;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      margin: 0 auto;
  }

  }

  .nextbutton {
    position: fixed;
    top: 50%;
    right: 10px;
    z-index: 500000000;
    border: 1px solid $ash_light;
    background-color: $ash_heavy;
    color: $font_medium;
    border-radius: 25px;
    width: 36px;
    height: 36px;
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
    cursor: pointer;
  }
  .prevbutton {
    position: fixed;
    top: 50%;
    left: 10px;
    z-index: 500000000;
    border: 1px solid $ash_light;
    background-color: $ash_heavy;
    color: $font_medium;
    border-radius: 25px;
    width: 36px;
    height: 36px;
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
    cursor: pointer;
  }
