@import "../../../styles/fonts.scss";
@import "../../../styles/globals.scss";

.GatheringSchedule {
    //margin-top: -16px;
    width: 100%;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;

    .title {
        @include overlayMenuTitle;
        width: 100%;
        text-align: left;
        margin-top: 8px;
        margin-bottom: 40px;
        color: $font_main;
    }

    &SubTitle {
        @include systemFont;
        margin-top: 16px;
        color: $font_main;
    }

    &DateTime {
        display: flex;
        gap: 16px;
        color: $font_main;

        input {
            width: 50%;
            height: 56px;
            background-color: $border_basic;
            color: $font_main;
            @include systemFont;
            font-size: 16px;
            padding: 0px 16px;
            border: 0;
            border-radius: 6px;
          }
          ::-webkit-calendar-picker-indicator {
            background-color: $background;
            padding: 6px;
            border-radius: 4px;
            cursor: pointer;
          }

        
    }

    &Input {
        text-align: center;
        @include roomTitle;
        color: $font_main;
        border: 0;
        border-radius: 6px;
        height: 56px;
        background: $border_basic;
        resize: none;
        padding: 8px;
        margin-bottom: -12px;

        caret-color: $hot_salmon;
        &::placeholder {
            color: $font_muted;

        }
    }
    
    .description {
        width: 100%;
        height: 88px;
        @include systemFont;
        font-size: 14px;
        color: $font_main;
        border: 0;
        border-radius: 6px;
        background: $border_basic;
        padding: 12px;
        word-wrap: normal;
        resize: none;
    }

    &Type {
        display: flex;
        justify-content: space-between;
        gap: 6px;

        &Select {
            position: relative;
            @include systemFont;
            //font-weight: 700;
            //letter-spacing: 0.06em;
            //font-size: 12px;
            display: flex;
            align-items: center;
            gap: 4px;
            width: 100%;
            color: $font_muted;
            background: $background;
            border: 1px solid $border_basic;
            border-radius: 99px;
            cursor: pointer;
            padding: 2px 0px 2px 8px;;

            span {
                width: 40px;
                height: 40px;
                border-radius: 999px;
                border: 1px solid transparent;
                opacity: .5;
                filter: grayscale(.9);

                svg {
                    height: 38px;
                    width: 38px;
                }
                
            }


            input {
                position: absolute;
                opacity: 0;
                visibility: hidden;
            }

            &.Active {
                box-shadow: 4px 4px 0px $hot_purple; 
                //border: 1px solid transparent;
                color: $font_main;
                span {
                    opacity: 1;
                    filter: grayscale(0)
                }
            }

        }
    }

    &Buttons {
        display: flex;
        gap: 16px;
        margin-top: 24px;

        button {
            background: $button_main;
            color: $background;
            border: 0;

            &:active {
                background: $button_main;

            }
        }

        .delete {
            width: 48px;
            min-width: 48px;
            height: 48px;
            padding: 6px;
            border: 0;
            border-radius: 4px;
            background: $button_main;

            path {
                fill: $background;
            }

            &:hover {
                background: $alert_red;

            }

            &:active {
                background: $alert_red;

            }
        }
    }
}
