@import "../../../../../styles/globals.scss";

.VoteModule {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 19px 35.5px;
    background-color: #333;
    border-radius: 16px;

    &Content {
        width: 100%;
        text-align: center;
        &Title {
            margin-bottom: 32px;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
        }

        &Options {
            display: flex;
            justify-content: space-around;
            margin-bottom: 32px;

            &Yes,
            &No {
                position: relative;
                height: 64px;
                width: 64px;
                font-size: 0;
                cursor: pointer;

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }
                &:before {
                    @include x-y-center;
                    color: #fff;
                    font-size: 64px;
                    line-height: 64px;
                }
            }

            &Yes {
                &:before {
                    content: "Y";
                }
                &:hover {
                    &:before {
                        color: #00b90c;
                    }
                }
            }
            &No {
                &:before {
                    content: "N";
                }
                &:hover {
                    &:before {
                        color: #b00020;
                    }
                }
            }
        }
    }
}
