@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.TopicsNav {
    position: relative;
    width: 220px;
    min-width: 220px;
    padding: 20px 0px 0px 24px;
    //background-color: $warm_blue_light;
    background-color: $light_ash;
    height: 100%;
    overflow-y: scroll;
    border-right: 1px solid $fuel_5;

    &Mobile {
        width: 100%;
        padding: 16px 0px 24px 24px;
    }

    &Title {
        position: relative;
        @include smallTitle;
        padding: 0px 0px 6px 0px;
        text-transform: uppercase;
        color: $ash;
        margin-bottom: 8px;
        user-select: none;

        &:after {
            position: absolute;
            bottom: 2px;
            left: 0px;
            height: 1px;
            width: 30px;
            content: "";
            background-color: $ash;
        }

    }

    &Hidden {
        position: relative;
        @include smallTitle;
        padding: 0px 0px 6px 0px;
        text-transform: uppercase;
        color: $warm_blue_highlight;
        border: 0;
        background: transparent;
        cursor: pointer;
        margin-bottom: 8px;
        user-select: none;

        &:hover {
            color: $ash;
        }

        &Active {
            color: $ash;

            &:after {
                position: absolute;
                bottom: 2px;
                left: 0px;
                height: 1px;
                width: 30px;
                content: "";
                background-color: $ash;
            }
        }
    }

    &Container {
        position: relative;
        margin: 0;
        padding: 0px 0 80px 0;
        overflow: scroll;

    }



    &Create {
        position: relative;
        padding: 0px 0px;
        margin-top: 8px;
        &Button {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 2px;
            color: $warm_blue_highlight;
            @include topicTitle;
            height: 40px;
            background: transparent;
            border: 0;
            cursor: pointer;
            margin-bottom: 16px;

            .iconHolder {
                display: flex;
                height: 20px;
                width: 20px;
                padding: 2px;
                path {
                    fill: $warm_blue_highlight;
                }
            }

            &:hover {
                color: $hot_pink;
                //@include topicTitleActive;
                .iconHolder {
                    padding: 1px;
                    //background-color: lighten($warm_blue_light, 5%);
                    path {
                        fill: $hot_pink;
                    }
                }

            }
        }
    }

    &CreateMobile {
        position: relative;
        padding: 0px 0px;
        &Button {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 12px;
            color: $ash_50;
            @include topicTitleMobile;
            height: 48px;
            background: transparent;
            border: 0;
            cursor: pointer;
            margin-top: 8px;
            margin-bottom: 32px;

            .iconHolder {
                height: 16px;
                width: 16px;
                background-color: $ash_50;
                border-radius: 4px;
                path {
                    fill: $light_ash;
                    stroke-width: 1px;
                    stroke: $light_ash;
                }
            }

            &:hover {
                color: $ash;
                .iconHolder{
                    background-color: $ash;
                }
            }
        }
    }
}
