@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.TopicsNav {
    position: relative;
    width: 230px;
    min-width: 230px;
    padding: 20px 0px 0px 24px;
    background-color: $warm_blue;
    height: 100%;
    overflow-y: scroll;
    //border-right: 1px solid $fuel_5;
    background-image: url("../../../public/images/background_chat.png");
    background-repeat: repeat;
    background-size: 36px;
    background-position: 16px 16px;

    &Mobile {
        width: 100%;
        background-size: 48px;

        padding: 16px 0px 24px 24px;
    }

    &Title {
        position: relative;
        @include smallTitle;
        padding: 0px 0px 8px 0px;
        text-transform: uppercase;
        color: $oxygen;
        //margin-bottom: 8px;
        user-select: none ;
        margin-bottom: 6px;

        // &:after {
        //     position: absolute;
        //     bottom: 2px;
        //     left: 0px;
        //     height: 1px;
        //     width: 30px;
        //     content: "";
        //     background-color: $fuel;
        // }

    }

    &TitleMobile {
        position: relative;
        @include smallTitleMobile;
        padding: 0px 0px 8px 0px;
        text-transform: uppercase;
        color: $oxygen;
        //margin-bottom: 8px;
        user-select: none ;
        margin-top: 8px;
        margin-bottom: 12px;

        // &:after {
        //     position: absolute;
        //     bottom: 2px;
        //     left: 0px;
        //     height: 1px;
        //     width: 30px;
        //     content: "";
        //     background-color: $fuel;
        // }

    }

    &Hidden {
        position: relative;
        @include smallTitle;
        padding: 0px 0px 8px 0px;
        text-transform: uppercase;
        color: $oxygen_muted;
        border: 0;
        background: transparent;
        cursor: pointer;
        //margin-bottom: 8px;
        user-select: none;

        &:hover {
            color: $oxygen;
        }

        &Active {
            color: $oxygen;

            // &:after {
            //     position: absolute;
            //     bottom: 2px;
            //     left: 0px;
            //     height: 1px;
            //     width: 30px;
            //     content: "";
            //     background-color: $fuel;
            // }
        }
    }

    &Container {
        position: relative;
        margin: 0;
        padding: 0px 0 80px 0px;
        overflow: scroll;
        gap: 0px;
        //background-color: aquamarine;

    }



    &Create {
        position: relative;
        padding: 0px 0px;
        margin-top: 16px;
        margin-left: 0px;
        margin-bottom: 24px;
        button {
            border: 0;
            cursor: pointer;
            height: 32px;
            width: 32px;
            border-radius: 8px;
            background-color: $black_10;
            backdrop-filter: blur(8px);
            padding: 7px;
           
            path {
                fill: $white_80;
            }


            &:hover {
                background-color: $black_50;
                //border-color: $white_50;
                path {
                    fill: $white;
                }

            }
        }
    }

    &CreateMobile {
        position: relative;
        padding: 0px;
        margin-left: 0px;
        margin-top: 28px;
        margin-bottom: 32px;
        
        //background-color: aqua;
        button {
            border: 0;
            cursor: pointer;
            height: 40px;
            width: 40px;
            border-radius: 8px;
            padding: 9px;
            background-color: $black_10;
            backdrop-filter: blur(8px);
           
            path {
                fill: $white_80;
            }

            &:hover {
                background-color: $black_50;
                //border-color: $white_50;
                path {
                    fill: $white;
                }

            }
        }
    }
}
