@import "../../../styles/fonts.scss";
@import "../../../styles/globals.scss";

.basic {
  
  &Mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    min-height: 52px;
    width: 100%;
    padding: 0px 8px 2px 8px;
    background-color: $gather_background_offset;
    border: 0;
    z-index: 10;
    border-bottom: 1px solid $ash_medium;

    .leave {
      position: relative;
      display: flex;
      flex-direction: row;
      //height: 100%;
      width: 44px;
      height: 44px;
      background-color: transparent;
      border-radius: 999px;
      border: 0;
      padding: 6px;


      path {
        fill: $gather_path;
      }

      &:active {
        background-color: $gather_background_offset;
      }
    }

    .iconHolder {
      width: 40px;
      min-width: 40px;
      //height: 32px;
      //padding-right: 8px;
    }

    .labelHolder {
      display: flex;
      position: relative;
      align-items: center;
      column-gap: 8px;
      @include roomTitle;
      font-size: 16px;
      color: $font_muted;
      user-select: none;
    }
  }

  &Desktop {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-height: 40px;
    width: 100%;
    padding: 0px 16px 0px 16px;
    z-index: 10;

    .iconHolder {
      width: 24px;
      height: 24px;
      padding: 0;
      margin-right: 4px;

      svg {
        height: 24px;
        width: 24px;
      }
    }

    .labelHolder {
      display: flex;
      position: relative;
      align-items: center;
      column-gap: 8px;
      @include roomTitle;
      font-size: 14px;
      color: $font_muted;
      user-select: none;
    }
  }
}

.stream {
  &Mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    min-height: 52px;
    width: 100%;
    padding: 0px 8px 2px 8px;
    background-color: $gather_background_offset;
    border: 0;
    z-index: 10;
    border-bottom: 1px solid $ash_medium;

    .leave {
      position: relative;
      display: flex;
      flex-direction: row;
      //height: 100%;
      width: 44px;
      height: 44px;
      background-color: transparent;
      border-radius: 999px;
      border: 0;
      padding: 6px;


      path {
        fill: $gather_path;
      }

      &:active {
        background-color: $gather_background_offset;
      }
    }

    .iconHolder {
      width: 40px;
      min-width: 40px;
      //height: 32px;
      //padding-right: 8px;
    }

    .labelHolder {
      display: flex;
      position: relative;
      align-items: center;
      column-gap: 8px;
      @include roomTitle;
      font-size: 16px;
      color: $font_muted;
      user-select: none;
    }
  }

  &Desktop {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 52px;
    min-height: 52px;
    max-height: 52px;
    width: 240px;
    padding: 0px 0px 0px 8px;
    z-index: 10;
    background: $gather_background_offset;
    border: 0;
    border-bottom: 1px solid $ash_medium;
    border-right: 1px solid $ash_medium;

    .iconHolder {
      width: 32px;
      height: 32px;
      margin-right: 10px;
    }

    .labelHolder {
      display: flex;
      position: relative;
      align-items: center;
      //column-gap: 8px;
      @include roomTitle;
      font-size: 14px;
      color: $font_light;
      user-select: none;
    }
  }
}

.voice {
  &Mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    min-height: 52px;
    width: 100%;
    padding: 0px 8px 2px 8px;
    background-color: $gather_background_offset;
    border: 0;
    z-index: 10;
    border-bottom: 1px solid $ash_medium;

    .leave {
      position: relative;
      display: flex;
      flex-direction: row;
      //height: 100%;
      width: 44px;
      height: 44px;
      background-color: transparent;
      border-radius: 999px;
      border: 0;
      padding: 6px;


      path {
        fill: $gather_path;
      }

      &:active {
        background-color: $gather_background_offset;
      }
    }

    .iconHolder {
      width: 40px;
      min-width: 40px;
      //height: 32px;
      //padding-right: 8px;
    }

    .labelHolder {
      display: flex;
      position: relative;
      align-items: center;
      column-gap: 8px;
      @include roomTitle;
      font-size: 16px;
      color: $font_muted;
      user-select: none;
    }
  }

  &Desktop {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 52px;
    min-height: 52px;
    max-height: 52px;
    width: 100%;
    padding: 0px 12px 0px 12px;
    z-index: 10;
    background: $gather_background_offset;
    border: 0;
    border-bottom: 1px solid $ash_medium;

    .iconHolder {
      width: 32px;
      height: 32px;
      margin-right: 10px;
    }

    .labelHolder {
      display: flex;
      position: relative;
      align-items: center;
      //column-gap: 8px;
      @include roomTitle;
      font-size: 14px;
      color: $font_light;
      user-select: none;
    }
  }
}

.chatHeader {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  min-height: 48px;
  width: 100%;
  padding: 0px 12px 0px 12px;
  background-color: $fuel;
  z-index: 10;

  color: $white_90;
  @include systemFont;
}

.rightSpacer {
  width: 40px;
}

.leaveMenu {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  gap: 16px;
  width: 100%;
  padding: 12px 0px;

  .menuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 56px;
    gap: 16px;
    padding: 0px 16px;
    border: 0;
    border-radius: 8px;
    background-color: $gather_background_offset_2;
    svg {
      height: 28px;
      width: 28px;
    }

    path {
      fill: $font_light;
    }

    p {
      @include rubik;
      font-size: 16px;
      font-weight: 400;
      color: $font_light;
    }

    &:active {
      background-color: $gather_background_offset;
    }
  }
}
