@import '../../../styles/globals.scss';
@import '../../../styles/config/config-type';

.backButton {
  position: absolute;
  left: 0;
  height: 32px;
  width: 32px;

  background-color: transparent;
  border: 0;
  border-radius: 50%;

  cursor: pointer;
  transition: background-color 0.3s;

  &:before {
    @include x-y-center;
    @include font-icon($icon-caret-right);
    transform: translate3d(-50%, -50%, 0) rotate(180deg);
  }

  &:hover {
    background-color: $light-grey;
  }
}
