@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.purple {
  color: $font_light;
  background: $hot_purple !important;
  border: 0;
  &:hover {
    background-color: $button_main_press;
  }

  &:active {
    background-color: $button_main_press;
  }
}

.gray {
  color: $font_light;
  background: $border_basic !important;
  border: 0;
  &:hover {
    background-color: $button_main_press;
  }

  &:active {
    background-color: $button_main_press;
  }
}

.closeButton {
  position: relative;
  padding: 12px;
  border: 0;
  border-radius: 99px;
  cursor: pointer;
  transition: all 0.2s;
  background-color: var(--border-basic);

  path {
    fill: var(--menu-color);
  }
  &Desktop {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--border-heavy);
      }
    }
  }

  &Mobile {
    &:active {
      background-color: var(--border-heavy);
    }
  }
}

.backButton {
  position: relative;
  padding: 8px 8px;
  border: 1px solid var(--path-heavy);
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.2s;
  background-color: transparent;
  path {
    fill: var(--path-heavy);
  }
}

.editButton {
  position: relative;
  padding: 8px 8px;
  border: 1px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  background-color: transparent;
  path {
    fill: var(--font-main);
  }
  &:hover {
    background-color: var(--border-basic);
  }
  &:active {
    background-color: var(--border-basic);
  }
}

.button {
  position: relative;
  border: 2px solid;
  border-radius: 9999px;
  outline: none;
  outline-style: none;
  -moz-outline-style: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  transition: all 0.3s;

  &:before {
    @include x-y-center;
    color: inherit;
  }

  &FullWidth {
    width: 100%;
  }

  &Primary {
    @include buttonPrimary;
  }

  &Secondary {
    @include buttonSecondary;
  }

  &Large {
    padding: 14px 20px;
    @include systemFont;
    font-size: 16px;
    font-weight: 400;
  }
  &Small {
    padding: 8px 12px;
    @include systemFont;
    font-size: 14px;
    font-weight: 400;
  }

  &:disabled {
    color: var(--border-basic);
    background-color: transparent;
    cursor: default;
    border: 0;
  }

  &Loading {
    pointer-events: none;

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background-color: transparent;
      border: 4px solid transparent;
      border-top-color: $oxygen;
      border-radius: 50%;
      animation: spinner 1s ease infinite;
    }
  }
}

.textButton {
  width: auto;
  padding: 8px;
  color: var(--font-main);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.89px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: all 0.3s;

  &:hover,
  &:focus {
    color: $black;
  }
}

.iconButton {
  position: relative;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  &:before {
    @include x-y-center;
    color: #9a9a9a;
    font-size: 16px;
  }

  &:hover {
    &:before {
      color: #333;
    }
  }
}

.radioButton {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  column-gap: 8px;
  background: transparent;
  border-radius: 8px;
  padding: 0 8px;
  border: 0;
  height: 48px;
  width: 100%;
  cursor: pointer;

  .theButton {
    accent-color: $hot_salmon;
    height: 20px;
    min-height: 20px;
    width: 20px;
    min-width: 20px;
    margin: 0;
  }
  .label {
    display: flex;
    @include systemFont;
    height: 48px;
    align-items: center;
    overflow: hidden;
    color: var(--font-main);
  }

  &:hover {
    background-color: var(--border-basic);
  }
}

@keyframes spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
