@import "../../../styles/fonts.scss";
@import "../../../styles/globals.scss";

.rendering{
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.entered{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;

}

.gatheringPage {
    position: relative;
    background: $background_page;
    height:100%;
    width: 100%;
    overflow-y: scroll;
    padding: 56px 8px 0px 12px;
    margin-top: 0px;

    // &::after {
    //     content: "";
    //     width: 100%;
    //     height: 36px;
    //     background: linear-gradient(to bottom, $background 30%, transparent);
    //     //background: aqua;
    //     position: fixed;
    //     top: 48px;
    //     left: 264px;
    // }

    &Mobile {
        padding: 75px 12px 80px 12px;
        margin-top: 0px;

        // &::after {
        //     display: none;
        // }
    }


    .roomContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-bottom: 40px;
        margin-top: 12px;
        padding: 0px 8px;
        //justify-content: center;

        &ActiveList {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .roomHolderMobile {
        width: 100%;
        padding: 0px 0px;
    }

    
    .gatheringSectionRemove {
        display: none;

    }
    .gatheringSection {
        position: relative;
        @include systemFont;
        //text-transform: uppercase;
        color: $font_main;
        width: fit-content;
        user-select: none ;
        margin-left: 8px;
        margin-top: 12px;
        margin-bottom: 8px;

    }

    .gatheringSectionMobile {
        position: relative;
        @include systemFont;
        font-size: 16px;
        padding: 24px 0px 8px 8px;
        width: fit-content;
        //text-transform: uppercase;
        color: $font_main;
        user-select: none ;

    }


}
