@import "../../../styles/fonts.scss";
@import "../../../styles/globals.scss";

.gatheringPage {
    background-color: $light_ash;
    height:100%;
    width: 100%;
    overflow-y: scroll;
    padding: 0px 24px 140px 24px;

    .roomContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-bottom: 40px;
        //background-color: aqua;

        &ActiveList {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .gatheringSection {
        position: relative;
        @include smallTitle;
        padding: 0px 0px 6px 0px;
        text-transform: uppercase;
        color: $ash;
        margin-bottom: 12px;
        margin-top: 20px;

        &:after {
            position: absolute;
            bottom: 2px;
            left: 0px;
            height: 1px;
            width: 30px;
            content: "";
            background-color: $ash;
        }
    }

    .spacer {

    }
}
