@import "../../../styles/fonts.scss";
@import "../../../styles/globals.scss";

.gatheringPage {
    background-color: $ash_ultralight;
    height:100%;
    width: 100%;
    overflow-y: scroll;
    padding: 0px 24px 140px 24px;

    .roomContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-bottom: 40px;
        margin-top: 24px;
        
        //justify-content: center;

        &ActiveList {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .roomHolderMobile {
        //background-color: aqua;
        width: 100%;
    }

    .gatheringSection {
        position: relative;
        @include smallTitle;
        padding: 0px 0px 0px 0px;
        text-transform: uppercase;
        color: $ash;
        //margin-bottom: 8px;
        //margin-top: 20px;

        // &:after {
        //     position: absolute;
        //     bottom: 2px;
        //     left: 0px;
        //     height: 1px;
        //     width: 30px;
        //     content: "";
        //     background-color: $ash;
        // }
    }


}
