@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.desktop {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: header;
  padding: 0px 8px 0px 0px;
  border: 0;
  background-color: transparent;
  //column-gap: 16px;
  border-top: 1px solid $ash_medium;

  .optionsContainer {
    position: relative;
  }

  .leftGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $gather_background_offset;
    width: fit-content;
    padding: 8px 16px;
    gap: 18px;
    border-radius: 999px;
    margin-left: auto;
    margin-right: auto;
  }
}

.mobile {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-area: header;
  padding: 8px 8px 8px 8px;
  margin-bottom: 16px;
  //height:104px;
  border: 0;
  width: 100%;
  background-color: $ash;
  border-top: 1px solid $ash_medium;

  .spacerLarge {
    display: flex;
    width: 52px;
  }
}
