@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.desktop {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: header;
  padding: 8px 8px 9px 8px;
  border: 0;
  background-color: var(--menu-color);
  border-top: 1px solid var(--border-ultralight);

  .optionsContainer {
    position: relative;
  }

  .spacer {
    width: 56px;
    content: "";
  }
}

.mobile {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-area: header;
  padding: 8px 8px 20px 8px;
  border: 0;
  width: 100%;
  background-color: var(--menu-color);
  border-top: 1px solid var(--border-ultralight);


  .spacerLarge {
    display: flex;
    width: 52px;
  }
}
