@import "../../styles/globals.scss";
@import "../../styles/fonts.scss";

.MainNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    width: 100%;
    background-color: $light_ash;

    &HarthButton {
        .Mobile & {
            position: relative;
            top: -10px;
            padding: 8px;
            background-color: $fuel;
            border: 2px solid $light_ash;
            border-radius: 14px;
            &:hover {
                border-color: $black;
            }

            &Image {
                height: 60px;
                width: 60px;
                border-radius: 10px;
            }
        }
        .Desktop & {
            @include contentH1;
            padding: 0 8px;
            color: $fuel;
            text-overflow: ellipsis;
            background-color: transparent;
            border: 0;
            cursor: pointer;
        }
    }

    &Pages {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        // margin-top: 9px;
        column-gap: 24px;
    }

    &PageButton {
        @include interfaceR3;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $fuel;
        background-color: transparent;
        border: 0;

        &:before {
            position: absolute;
            bottom: -4px;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            height: 5px;
            content: "";
            background-color: transparent;
            border-top-left-radius: 9999px;
            border-top-right-radius: 9999px;
            transition: 1s;
        }

        &AlertIndicator {
            position: absolute;
            top: 15px;
            height: 11px;
            width: 11px;
            background-color: $hot_pink;
            border: 2px solid $light_ash;
            border-radius: 50%;

            .Mobile & {
                right: 22px;
            }
            .Desktop & {
                left: 28px;
            }
        }

        &.Active {
            font-weight: 700;
            .Desktop & {
                &:before {
                    width: 56px;
                    background-color: $fuel;
                }
            }
        }

        .Mobile & {
            flex-direction: column;
            height: 64px;
            width: 72px;
            padding: 0 0 12px;

            &:before {
                width: 56px;
            }
        }
        .Desktop & {
            height: 48px;
            padding: 12px 12px 0;

            &:before {
                width: 32px;
            }
        }
    }

    &.Mobile {
        height: 72px;
    }
    &.Desktop {
        height: 56px;
        padding: 0 16px;
    }
}

.desktop {
    .harthButton {
        border-radius: 6px;
        &:hover {
            background-color: $fuel_10;
        }
    }

    .topButtons {
        display: flex;
        align-items: center;
        margin-top: 9px;
        column-gap: 24px;
    }

    .navButton {
        cursor: pointer;

        .indicator {
            height: 5px;
            width: 32px;
            border-top-right-radius: 9999px;
            border-top-left-radius: 9999px;
            background-color: transparent;
        }

        &Inactive {
            @include interfaceR3;

            path {
                stroke-width: 0.6px;
                stroke: transparent;
            }

            &:hover {
                .indicator {
                    background-color: $fuel;
                }
            }
        }

        &Active {
            @include interfaceR3;
            font-weight: 500;
            transition: 1s;

            .indicator {
                width: 56px;
                background-color: $fuel;
            }
            path {
                stroke-width: 0.6px;
                stroke: $fuel;
            }
        }
    }
}

.mobile {
    width: 100%;
    padding: 0px;
    padding-right: 36px;
    padding-left: 12px;
    position: absolute;
    bottom: 0;

    .navButton {
        stroke-width: 0.6px;
        stroke: transparent;

        .indicator {
            height: 5px;
            width: 56px;
            border-bottom-right-radius: 9999px;
            border-bottom-left-radius: 9999px;
            background-color: transparent;
        }
    }

    .navButtonActive {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        @include interfaceR4;
        font-weight: 600;
        stroke-width: 0.6px;
        stroke: $fuel;

        height: 64px;
        width: 72px;
        color: $fuel;
        background-color: transparent;

        border: 0;
        padding-top: 0px;
        padding-bottom: 12px;

        .indicator {
            height: 5px;
            width: 56px;
            border-bottom-right-radius: 9999px;
            border-bottom-left-radius: 9999px;
            background-color: $fuel;
        }
    }

    path {
        //this is the icon color
        fill: $fuel;
    }
}
