@import "../../styles/globals.scss";
@import "../../styles/fonts.scss";

.MainNav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $oxygen; 

    &TitleHolder {
        display: flex;
    }

    &HarthButton {
        
        .Desktop & {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            @include harthTitle;
            font-size: 26px;
            letter-spacing: 0;
            color: $font_main;
            border: 0;
            width: 300px;
            max-width: 300px;
            min-width: 300px;
            height: 54px; // match height of TopBar - 2px
            
            padding: 0px 0px 0px 16px;
            cursor: pointer;
            text-wrap: nowrap;
            user-select: none;
            //border-right: 1px solid $border_basic;
            border: 0;            
            background: $oxygen;
            overflow: hidden;
            .iconHolder {
                position: relative;
                top: -16px;
                right: 4px;
                
                margin: 0;
                //background-color: aqua;
                padding: 0;

                svg {
                    height: 16px;
                    width: 16px;
                }

                path {
                    fill: $border_heavy;
                }

            }

            p {
                position: relative;
                overflow-x: hidden;
                text-overflow: ellipsis;


            }
            

        
            


            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    background: $background_offset;
                    .iconHolder {
                        path {
                            fill: $font_muted;
                        }       
                    }

                }
            }
        }

    }

    &Pages {
        display: flex;
        width: fit-content;
        align-items: center;
        
        .Desktop & {
            position: relative;
            width: fit-content;
            max-width: 400px;
            height: 100%;
            display: flex;
            margin: 0;
            margin-top: 0px;
            border: 0;
            justify-content: flex-start;
            align-items: center;
            padding: 0px 16px 0 16px;
            border: 0;
            //gap: 8px;

            &Rounded {
                border-bottom-right-radius: 8px;
            }

        }
        &Mobile {
            position: relative;
            top: 0px;
            left: 0px;
            width: 100%;
            border: 0;
            margin: 0;
            border-radius: 0;
            justify-content:space-evenly;
            padding: 4px 0px 0px 0px;

        }
    }

    &PageButton {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: transparent;
        background-color: transparent;
        border: 0;
        user-select: none;
        z-index: 1;

        
        
        .iconHolder {
            transition: scale 0.2s ease-in-out;
            position: relative;
            
            svg {
                opacity: .3;
                
                path {
                    filter: grayscale(.5);
                }
            }
            
            
            &UnreadMessage {
                position: relative;
                &:before {
                    position: absolute;
                    top: -2px;
                    right: -2px;
                    z-index: 2;
                    height: 5px;
                    width: 5px;
                    content: "";
                    background: linear-gradient(45deg, $hot_orange, $hot_pink);
                    border-radius: 9999px;
                    border: 1px solid $oxygen;
                }

            }

        }
        
        .title {
            width: 100%;
            opacity: .5;
            text-align: center;
            user-select: none;
            color: $font_main;
        }


        .Mobile & {
            position: relative;
            height: 56px;
            width: 72px;
            padding: 0;
            padding-top: 0px;
            border-radius: 8px;
            border: 1px solid transparent;
            gap: 4px;

            .iconHolder {
                height: 28px;
                width: 28px;
            }
            .title {
                @include titleNavMobile;
            }
            &:active {
                background: $border_basic;
            }

        }
        
        .Desktop & {
            width: fit-content;
            height: 100%;
            min-width: 96px;
            border: 1px solid transparent;
            flex-direction: row;
            justify-content: center;
            //border-radius: 999px;
            cursor: pointer;
            gap: 4px;
            background: transparent;
            //background: aqua;
            padding: 0px 24px;

            .title {
                @include titleNav;
                //text-transform: uppercase;
                text-align: left;
                padding-top: 4px;
                padding-right: 6px;
                width: fit-content;
            }
            .iconHolder {
                height: 20px;
                width: 20px;
            }

            // @media (hover: hover) and (pointer: fine) {
            //     &:hover {

            //         background: $border_light;
            //         // .title {
            //         //     opacity: 1;
            //         // }

            //         // .iconHolder {
            //         //     svg {
            //         //         filter: grayscale(0);
            //         //     }
            //         // }

            //         // &::after {
            //         //     content: "";
            //         //     width: calc(100% - 44px);
            //         //     height: 1px;
            //         //     border-radius: 99px;
            //         //     position: absolute;
            //         //     bottom: 12px;
            //         //     //left: calc(50% - 3px);
            //         //     //transform: translateX(-50%);
            //         //     left: 30px;
            //         //     background: $hot_purple;
            //         // }
            //     }
            // }
        }

        &.Active {
            .title {
                opacity: 1;
            }

            .iconHolder {
                svg {
                    opacity: 1;
                    
                    filter: grayscale(0);
                }
            }

            .Desktop & {
                background: $background_page;
                border: 1px solid $border_basic;
                border-bottom: 0;
                border-top-right-radius: 16px;
                border-top-left-radius: 16px;


                .title {
                    opacity: 1;
                }

                svg {
                    filter: grayscale(0);
                }

                &::after {
                    content: "";
                    width: calc(100% - 2px);
                    height: 12px;
                    position: absolute;
                    bottom: -8px;
                    left: 50%;
                    transform: translateX(-50%);
                    background: $background_page;
                }

                @media (hover: hover) and (pointer: fine) {
                    &:hover {
                        &::after {
                            opacity: 1;
                        }
                    }
                }

            }

            .Mobile & {

                .title {
                    color: $font_main; 
                }

            }
        }
    }


    &.Mobile {
        width: 100%;
        position: fixed;
        bottom: 0;
        height: 84px;
        align-items: flex-start;
        padding: 0px;
        border: 0;
        border-top: 1px solid $border_basic;


    }


    &.Desktop {
        width: 100%;
        height: 100%;
        padding: 0px;
        flex-direction: row;
        align-items: flex-start;
        //background: aqua;

    }
}
