@import "../../../styles/fonts.scss";
@import "../../../styles/globals.scss";

.GatheringTile {
  display: flex;
  gap: 0;
  background-color: transparent;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: rgba(180, 180, 180, 0.4) 0px 8px 12px;
  width: 336px;
  min-height: 230px;
  background: $light_ash;
  border: 0;


  &Label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 56px;
    min-width: 56px;
    //background-color: $fuel;
    
    padding: 8px 0 0 0;
    border: 0;
    outline: 0;
    
    &Icon {
      width: 48px;
      height: 48px;
      //background-color: aliceblue;
      padding: 4px;
    }

    &Text {
      position: absolute;
      top: 72px;
      width: 100%;
      transform: rotate(90deg);
      @include roomType;
      user-select: none;
      margin-left: 2px;
    }
    .party & {
      color: $white_40;
      background: linear-gradient(to top left, $hot_purple_20, $hot_purple_80);
      svg path {
        fill: $white_40;
      }
    }
    .stream & {
      color: $white_40;
      background: linear-gradient(to top left, $hot_red_20, $hot_red_80);
      svg path {
        fill: $white_40;
      }
    }
    .voice & {
      color: $white_40;
      background: linear-gradient(to top left, $hot_blue_20, $hot_blue_80);
      svg path {
        fill: $white_40;
      }
    }

    .partyActive & {
      background-color: $hot_purple;
      color: $fuel_90; 

      svg path {
        fill-opacity: $fuel_90; 
      }
    }
    .streamActive & {
      background-color: $hot_red;
      color: $fuel_90; 
      svg path {
        fill: $fuel_90; 
      }
    }
    .voiceActive & {
      background-color: $hot_blue;
      color: $fuel_90; 
      svg path {
        fill: $fuel_90; 
      }
    }
  }

  .Info {
    width: 100%;
    flex: 1;
    padding: 20px 0px 0px 16px;
    //background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //border: 2px solid $white;
  }



  &Name {
    @include contentH1;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    //min-height: 60px;
    padding: 0px 0px 16px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
    width: 100%;
  }

  &InfoStructure {
    display: flex;
    flex-direction: row;
    min-height: 60px;
    width: 100%;
  }

  &Scheduled {
    width: 80px;
    min-width: 80px;
    padding: 12px 5px 8px 0;
    text-align: center;
    //background-color: aqua;

    &Time {
      @include interfaceH3;
      font-weight: 700;
      letter-spacing: -0.04em;
      text-transform: uppercase;
      user-select: none;

    }
    &Date {
      margin-top: 4px;
      @include interfaceR2;
      user-select: none;

    }

    &Now {
      @include worksans;
      font-size: 10px;
      font-weight: 500;;
      letter-spacing: 0.06em;
      padding: 9px 12px;
      color: $white;
      background-color: $fuel;
      border-radius: 9999px;
      user-select: none;

    }
  }

  &PeopleDescription {
    padding: 8px 0 8px 8px;
    border-left: 1px solid $fuel;
    //background-color: aquamarine;
    width: 100%;
    color: $fuel;
    @include contentR2;
  }

  &AttendeeWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 0px;
    margin-bottom: 8px;
    user-select: none;

    .profileImage {
      position: relative;
      height: 40px;
      width: 40px;
      border-radius: 999px;
      margin-right: -6px;
      padding: 0;
      border: 2px solid $white;

      img {
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 999px;
      }
    }

    .empty {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 40px;
      width: 40px;
      border-radius: 999px;
      margin-right: -6px;
      padding: 0;
      border: 2px solid $white;
      background-color: $warm_blue;
      color: $fuel_50;
      @include rubik;
      font-size: 14px;
      font-weight: 500;
    }

    .emptyMessage {
      color: $fuel_light;
      @include rubik;
      font-size: 14px;
      font-weight: 300;
      margin-left: auto;
      margin-right: auto;
      padding-right: 8px;
    }

    // > div {
    //   position: relative;
    //   height: 44px;
    //   width: 44px;
    //   margin-right: -16px;
    //   padding: 0;
    //   border-color: $white;
    // }
  }

  &ActionBar {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin-top: 28px;
    width: 100%;
    height: 40px;

    &Edit {
      height: 100%;
      width: 60px;
      padding: 9px;
      //margin-right: 24px;
      border: 0;
      background-color: $fuel_light;
      border-top-left-radius: 24px;
      border-bottom-right-radius: 24px;
      //border-top-right-radius: 8px;
      cursor: pointer;
      svg path {
        fill: $white;
      }

      &:hover {
        background-color: $warm_blue;
        svg path {
          fill: $white;
        }
      }
    }

    &Submit {
      
      border-top-left-radius: 24px;
      width: 136px;
      height: 100%;
      color: $white;
      background-color: $fuel_light;
      border: 0;
      outline: 0;
      cursor: pointer;
      @include worksans;
      font-size: 14px;
      letter-spacing: 0.02em;
      font-weight: 500;
      text-align: center;
      text-transform: capitalize;
      user-select: none;

    

      &:hover {
          background-color: $warm_blue;
      }

      &Active {
      .party & {
        background-color: $hot_purple_80;
        color: $white; 
      }
      .stream & {
        background-color: $hot_red;
        color: $fuel_90; 
      }
      .voice & {
        background-color: $hot_blue;
        color: $fuel_90; 
      }
      }
    }
  }

  &Mobile {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: 280px;
    .Info {
      padding: 24px 0px 0px 16px;
    }
  }
}
