@import "../../../styles/fonts.scss";
@import "../../../styles/globals.scss";

.Desktop {  
  border-radius: 24px;
  width: 336px;
  background: $ash;
  border: 1px solid $ash_medium;
  padding: 16px;

}

.Mobile {
  border-radius: 24px;
  width: 100%;
  background: $ash;
  border: 1px solid $ash_medium;
  padding: 24px;

}

.Top {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 12px;
  .iconHolder {
    width: 44px;
    min-width: 44px;
    max-width: 44px;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
  }

  .name {
    width: 100%;
    @include roomTitle;
    color: $font_light;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 12px;
  }

  .Mobile & {
    .iconHolder {
      width: 48px;
      min-width: 48px;
      max-width: 48px;
      padding: 2px;
    }

    .name {
      @include roomTitleMobile;
    }
  }

}

.Bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Info {
  width: 88px;
  height: fit-content;
  min-width: 88px;
  padding: 12px 0px;
  border: 0;
  border-radius: 0px;
  padding-right: 4px;
  border-right: 1px solid $ash_medium;

  .time {
    @include worksans;
    font-weight: 600;
    font-size: 18px;
    color: $font_light;
    text-align: center;
    margin-bottom: 12px;
  }

  .date {
    @include worksans;
    font-weight: 500;
    font-size: 11px;
    color: $font_light;
    text-align: center;
  }

  .now {
    @include worksans;
    width: fit-content;
    padding: 6px 12px;
    font-weight: 600;
    font-size: 12px;
    color: $font_light;
    border-radius: 999px;
    text-transform: capitalize;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: $hot_salmon;
  }

}


.Details {
  width: 100%;
  padding: 0px 0px;
  border: 0;
  border-radius: 0px;
  padding-left: 12px;

  .description {
    @include worksans;
    color: $font_light;
    font-size: 14px;

  }

  .AttendeeWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 2px;
    margin-bottom: 8px;
    margin-top: 8px;
    user-select: none;
  
    .profileImage {
      position: relative;
      height: 36px;
      width: 36px;
      border-radius: 999px;
      padding: 0;
      background-color: $white;
  
      img {
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 999px;
      }

      .Mobile & {
        height: 40px;
        width: 40px;
      }
    }
  
    .empty {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 40px;
      width: 40px;
      border-radius: 999px;
      padding: 0;
      background-color: $warm_blue;
      color: $font_light;
      @include worksans;
      font-size: 14px;
      font-weight: 500;
    }
  
    .emptyMessage {
      color: $font_medium;
      @include worksans;
      font-size: 14px;
      font-weight: 800;
      margin-left: auto;
      margin-right: auto;
      padding-right: 8px;
      margin-top: 12px;
      margin-bottom: 12px;
    }

  }

  .ActionBar {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin-top: 16px;
    width: 100%;
    height: 40px;
    background: transparent;
    overflow: hidden;  
  
    &Edit {
      width: 56px;
      height: 100%;
      padding: 8px;
      border: 0;
      background: $black;
      border-radius: 99px;
      cursor: pointer;

      path {
        fill: $font_medium;
      }
  
      .Desktop & {
        &:hover {
              background: $hot_salmon;
              path {
                fill: $font_light;
              }
        }
      }

      .Mobile & {
        &:active {
              background: $hot_salmon;
              path {
                fill: $font_light;
              }
        }
      }
    }
  
    &Submit {
      border-radius: 999px;
      width: 136px;
      height: 100%;
      color: $font_light;
      border: 0;
      outline: none;
      outline-style: none;
      -moz-outline-style: none; 
      -webkit-tap-highlight-color: transparent; 
      cursor: pointer;
      @include worksans;
      font-size: 14px;
      letter-spacing: 0.02em;
      font-weight: 500;
      text-align: center;
      text-transform: capitalize;
      user-select: none;
  
      background: $black;
  
  
      .Desktop & {
        &:hover {
              background: $hot_salmon;
              color: $font_light;
        }
      }

      .Mobile & {
        &:active {
              background: $hot_salmon;
              color: $font_light;
        }
      }
  
      &Active {
          background: $black;
          color: $font_medium;

      }
  
    }
  
    
  }
}


























