@import "../../../styles/fonts.scss";
@import "../../../styles/globals.scss";

.Desktop {
  border-radius: $corner_radius;
  width: 320px;
  height: fit-content;
  background-color: var(--theme-background-offset);
  border: 1px solid var(--gather-tile-offset);
  border-bottom: 0;
  
  overflow: hidden;
  padding: 0px;
  box-shadow: var(--shadow-1);
}

.Mobile {
  border-radius: $corner_radius_mobile;
  width: 100%;
  background-color: var(--menu-color);
  border: 1px solid var(--gather-tile-offset);
  border-bottom: 0;
  overflow: hidden;
  padding: 0px;
  box-shadow: var(--shadow-1);
}

.Top {
  position: relative;
  width: 100%;
  height: 80px;
  //margin-bottom: 12px;
  background: linear-gradient(45deg, $hot_purple 50%, var(--gather-tile));
  overflow: hidden;
  padding-bottom: 8px;

  svg {
    position: absolute;
    top: -60px;
    right: -16px;
    margin-left: auto;
    width: 180px;
    height: 180px;
    rotate: -35deg;
  }

  .Info {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 140px;
    height: 80px;
    min-height: 80px;
    padding: 0px 0px 0px 8px;
    border: 0;
    border-radius: 0px;
    //overflow: hidden;
    background-color: var(--gather-tile);

    .time {
      @include systemFont;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 0;
      color: var(--font-main);
      text-align: center;
    }

    .date {
      @include systemFont;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: 0;
      color: var(--font-main);
      text-align: center;
      margin-top: 2px;
    }

    .day {
      @include systemFont;
      font-weight: 800;
      font-size: 28px;
      line-height: 28px;
      color: var(--font-main);
      text-align: center;
    }

    .now {
      @include systemFont;
      font-weight: 800;
      font-size: 28px;
      line-height: 28px;
      letter-spacing: 0.03em;
      color: $hot_green;
      text-transform: capitalize;
      text-align: center;
      
      text-shadow: 
        -2px -2px 0 $oxygen,  
        2px -2px 0 $oxygen,
        -2px 2px 0 $oxygen,
        2px 2px 0 $oxygen; 
    }

  }

  &::after {
    content: "";
    position: absolute;
    top: 0px; 
    left: 139px; 
    width: 0;
    height: 0;
    border-left: 0px solid transparent; 
    border-right: 50px solid transparent;
    border-bottom: 100px solid var(--gather-tile); 
}

  .Mobile & {
    height: 96px;
    
    .Info {
      height: 96px;
    }
    
  }
}

.Bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px 16px;
  border-top: 0;
  border-bottom-right-radius: $corner_radius;
  border-bottom-left-radius: $corner_radius;
  border-top: 1px solid var(--border-ultralight);
  //background-color: var(--theme-background);
  background: linear-gradient(45deg, var(--theme-background), var(--theme-background-offset));


  .name {
    width: 100%;
    @include roomTitle;
    color: var(--font-main);
    padding-bottom: 4px;
    padding-top: 4px;
  }

  .description {
    @include systemFont;
    color: var(--font-muted);
    font-weight: 300;
    letter-spacing: 0.05em;
  }

  .AttendeeWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 2px;
    padding-top: 8px;
    user-select: none;

    .profileImage {
      position: relative;
      height: 40px;
      width: 40px;
      border-radius: 999px;
      padding: 0;
      border: 0;

      img {
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 999px;
      }

      .Mobile & {
        height: 48px;
        width: 48px;
      }
    }

    .Mobile & {
      padding-top: 12px;
    }

    .empty {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 40px;
      width: 40px;
      border-radius: 999px;
      padding: 0;
      color: var(--font-muted);
      @include systemFont;
    }

    .emptyMessage {
      color: var(--font-muted);
      @include systemFont;
      margin-left: auto;
      margin-right: auto;
      padding-right: 8px;
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }

  .ActionBar {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin-top: 16px;
    width: 100%;
    height: 44px;
    background: transparent;
    overflow: hidden;

    &Edit {
      width: 64px;
      height: 100%;
      padding: 8px;
      background-color: transparent;
      border: 1px solid var(--border-basic);
      border-radius: 99px;
      cursor: pointer;

      path {
        fill: var(--path-light);
      }

      .Desktop & {
        &:hover {
          background: $hot_purple;
          border-color: $hot_purple;
          path {
            fill: $font_light;
          }
        }
      }

      .Mobile & {
        &:active {
          background: $hot_purple;
          border-color: $hot_purple;
          path {
            fill: $font_light;
          }
        }
      }
    }

    &Submit {
      background: linear-gradient(45deg, $hot_purple, darken($hot_purple, 30%));
      color: $oxygen;
      @include systemFont;
      letter-spacing: 0.02em;
      margin: 0;
      padding: 0px 18px;
      border-radius: 999px;
      cursor: pointer;
      width: 136px;
      height: 40px;
      border: 1px solid transparent;
      outline: none;
      outline-style: none;
      -moz-outline-style: none;
      -webkit-tap-highlight-color: transparent;
      font-size: 14px;
      text-align: center;
      text-transform: capitalize;
      user-select: none;


      .Desktop & {
        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background: linear-gradient(
              45deg,
              darken($hot_purple, 30%),
              darken($hot_purple, 30%)
            );
          }
        }
      }
      .Mobile & {
        //
      }

      &:active {
        background: linear-gradient(
          45deg,
          darken($hot_purple, 30%),
          darken($hot_purple, 30%)
        );
      }

      &Active {
        color: var(--font-muted);
        background: transparent;
        border-color: var(--border-basic);

        .Desktop & {
          @media (hover: hover) and (pointer: fine) {
            &:hover {
              color: var(--font-main);
              background: var(--gather-tile);
              border-color: var(--font-muted);
            }
          }
        }

        .Mobile & {
          //
        }
  
          &:active {
              color: var(--font-main);
              background: var(--gather-tile);
              border-color: var(--font-muted);
          }

      }

    }
  }

  .Mobile & {
    border-bottom-right-radius: $corner_radius_mobile;
    border-bottom-left-radius: $corner_radius_mobile;

    .name {
      @include roomTitleMobile;
    }
  }
}
