#left_nav_comms {
  margin: 0;
  padding: 0;
  list-style: none;

  &:hover {
    li {
      .comm-name {
        width: calc(100% - 40px);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  li {
    display: flex;
    position: relative;
    height: 48px;
    width: 100%;
    padding: 4px 8px;
    background-color: transparent;

    button {
      display: flex;
      align-items: center;
      padding: 0;
      border: 0;
      background-color: transparent;
      cursor: pointer;
      transition: border 0.3s;

      img {
        height: 40px;
        width: 40px;
        object-fit: cover;
      }

      .comm-icon {
        display: inline-block;
        position: relative;
        height: 40px;
        width: 40px;
        border-radius: 8px;
        &:before {
        }
      }
    }

    .comm-name {
      width: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s 0.3s;
    }

    &.active {
      &:before {
        @include y-center;
        right: -1px;
        height: 48px;
        width: 2px;
        content: "";
        background-color: #333;
      }
      button {
        .comm-icon {
          border: 3px solid #333;
        }
      }
    }

    &:hover {
      .comm-icon {
        border: 3px solid #333;
      }
    }

    &#left_nav_comms_new {
      button {
        position: relative;
        height: 40px;
        width: 40px;
        background-color: transparent;
        border: 1px dashed #eaeaea;
        border-radius: 8px;
        transition: border 0.3s;
        &:before {
          @include x-y-center;
          @include font-icon($icon-plus);
          color: #eaeaea;
          transition: color 0.3s;
        }
      }

      &:hover {
        button {
          border-color: #333;
          &:before {
            color: #333;
          }
        }
      }
    }
  }
}

#menu-toggle {
  position: relative;
  height: 40px;
  width: 40px;
  text-align: center;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;

  &:before {
    @include x-y-center;
    @include font-icon($icon-gear);
  }

  &:hover {
    background-color: $black04;
  }
}
