#harth_invite_header {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  #go_back {
    position: relative;
    height: 48px;
    width: 48px;
    margin-right: 8px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;

    &:before {
      @include x-y-center;
      @include font-icon($icon-caret-right);
      margin-right: 8px;
      font-size: 16px;
      transform: translate3d(-50%, -50%, 0) rotate(180deg);
    }

    &:hover {
      background-color: $light-grey;
    }
  }
  span {
    font-size: 18px;
  }
}

#harth_invite_form {
  display: flex;
  align-items: center;
  flex-direction: column;
  .invite-select-wrapper {
    width: 100%;
    padding: 24px 16px 0;
  }
  .harth-invite-select {
    margin-bottom: 24px;

    &__control {
      padding: 13px 16px;
      border-color: $text-black;
      border-radius: 0;
    }

    &__value-container {
      font-size: 16px;
      line-height: 24px;
    }

    &__indicator-separator {
      display: none;
    }
  }

  .btn {
    width: calc(100% - 32px);
  }

  > p {
    margin: 8px 0 32px;
    font-size: 12px;
  }
}

.invite-code {
  width: 100%;
  padding: 24px 16px;
  background-color: $light-grey;
  > p {
    margin: 0 0 8px;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
  }
  textarea {
    width: 100%;
    resize: none;
    font-size: 19px;
    background-color: transparent;
    border: 0;
  }
}
