#main-menu {
  position: fixed;
  top: 56px;
  left: -304px;
  z-index: 0;
  height: calc(100vh - 56px);
  width: 100%;
  max-width: 304px;
  background-color: $white;
  transition: left 0.5s;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  button {
    display: block;
    width: 100%;
    padding: 15px 16px 14px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: $blarg-purple;
      background-color: rgba($blarg-purple, 0.12);
    }
  }
}
