@keyframes flyin {
  0% {
    left: 0px;
    z-index: 2;
  }
  50% {
    left: 60px;
  }
  75% {
    z-index: 0;
  }
  100% {
    left: -304px;
    z-index: 0;
  }
}
@keyframes flyout {
  0% {
    left: -304px;
    z-index: 0;
  }
  50% {
    left: 60px;
  }
  75% {
    z-index: 2;
  }
  100% {
    left: 0px;
    z-index: 999;
  }
}

#main-menu {
  position: fixed;
  top: 56px;
  left: -304px;
  z-index: 0;
  height: calc(100vh - 56px);
  width: 100%;
  max-width: 304px;
  background-color: $white;

  .menu-closed & {
    animation-name: flyin;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .menu-open & {
    animation-name: flyout;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  button {
    display: block;
    width: 100%;
    padding: 15px 16px 14px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: $blarg-purple;
      background-color: rgba($blarg-purple, 0.12);
    }
  }
}
