.top-buttons {
  display: flex;
  align-items: center;
  margin-right: 16px;
  button {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 40px;
    height: 56px;
    color: #777;
    font-size: 14px;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &:before {
      margin-right: 8px;
      color: inherit;
      font-size: 18px;
    }

    &#chat {
      &:before {
        @include font-icon($icon-chat);
      }
    }
    &#notes {
      &:before {
        @include font-icon($icon-note);
      }
    }
    &#gather {
      &:before {
        @include font-icon($icon-game);
      }
    }
    &#events {
      &:before {
        @include font-icon($icon-calendar);
      }
    }
  }
}
