#topicNav {
  width: 240px;
  border-right: 1px solid #e0e0e0;

  &Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    width: 100%;
    padding: 4px 16px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1.29px;
    line-height: 29px;
    border-bottom: 1px solid #f7f7f7;

    p {
      margin: 0;
    }
  }

  .isMobile & {
    height: calc(100vh - 56px);
    width: 100%;
  }

  #left_nav_topics {
    margin: 0;
    padding: 8px 0;
    list-style: none;
    li {
      padding: 8px 16px;
      button {
        display: block;
        padding: 8px 16px;
        font-size: 14px;
        letter-spacing: 0.096px;
        line-height: 19px;
        text-align: left;
        background-color: transparent;
        border: 0;
        border-radius: 24px;
        cursor: pointer;

        &:hover {
          background-color: rgba($text-black, 0.1);
        }
      }

      &.topic_active {
        button {
          color: $white;
          background-color: $text-black;
        }
      }
      &.topic_new_message {
        button {
          position: relative;
          &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 4px;
            width: 40px;
            content: '';
            background-color: $orange;
          }
        }
      }

      #create_topic {
        display: block;
        position: relative;
        padding: 8px 16px;
        color: $placeholder-black;
        font-size: 14px;
        letter-spacing: 0.096px;
        line-height: 19px;
        text-align: left;
        background-color: rgba($text-black, 0.1);
        border: 0;
        border-radius: 24px;
        cursor: pointer;

        &:before {
          @include font-icon($icon-plus);
          margin-right: 8px;
          color: inherit;
        }

        &:hover {
          color: $text-black;
        }

        .isMobile & {
          margin: 0 auto;
        }
      }

      .isMobile & {
        &:not(:last-child) {
          border-bottom: 1px solid #f7f7f7;
        }
      }
    }
  }
}
