.top-buttons {
  display: flex;
  align-items: center;
  margin-right: 16px;
  button {
    position: relative;
    height: 56px;
    width: 72px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: background-color 0.3s;

    &:before {
      @include x-y-center;
      color: $black50;
      font-size: 24px;
      transition: color 0.3s;
    }
    &:after {
      @include x-center;
      bottom: 0;
      height: 2px;
      width: 0%;
      content: "";
      background-color: $bg-purple;
      transition: width 0.3s;
    }

    &#chat {
      &:before {
        @include font-icon($icon-books);
      }
    }
    &#notifications {
      &:before {
        @include font-icon($icon-chat);
      }
    }
    &#games {
      &:before {
        @include font-icon($icon-game);
      }
    }
    &#calendar {
      &:before {
        @include font-icon($icon-calendar);
      }
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
    &.active {
      &:before {
        color: $bg-purple;
      }
      &:after {
        width: 100%;
      }
    }
  }
}
