@import "../../../../styles/globals.scss";
@import "../../../../styles/fonts.scss";

.listHolder{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 100%;
    padding: 8px 0px;
    //background-color: aqua;


    .sectionRow {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        background-color: $warm_blue_highlight;
        width: 100%;
        height: 40px;
        @include topicTitleActive;
        letter-spacing: 0.03em;
        padding: 0px 8px 0px 12px;
        border-radius: 4px;
        color: $oxygen;

    }
    
    .individualRow {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        background-color: transparent;
        width: 100%;
        height: 40px;
        padding: 0px 16px 0px 16px;
        @include topicTitle;


    }

    .chatListHolder{
        margin-top: -4px;
        display: flex;
        flex-direction: column;
        row-gap: 0px;
        width: 100%;
    }

}
