@import "../../../../styles/globals.scss";
@import "../../../../styles/fonts.scss";


.participantElement {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border:0;
    &:not(:last-child) {
        margin-bottom: -6px;
    }
    .avatar {
        height: 25px;
        width: 25px;
        border-radius: 9999px;
        border:0;
        border: 2px solid $ash;
        user-select: none;
    }
}

.listHolder{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 100%;
    padding: 8px 0px;


    .sectionRow {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        background-color: $ash_heavy;
        width: 100%;
        height: 48px;
        @include worksans;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.03em;
        padding: 0px 8px 0px 12px;
        border-radius: 8px;
        //border: 1px solid $ash_medium;
        color: $font_light;

    }
    
    .individualRow {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        background-color: $ash_medium;
        color: $font_light;
        border-radius: 6px;
        width: 100%;
        height: 40px;
        padding: 0px 16px 0px 16px;
        @include topicTitle;

    }
    .individualConvRow {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        background-color: $ash_medium;
        color: $font_light;
        border-radius: 6px;
        width: 100%;
        height: max-content;
        padding: 0px 16px 0px 16px;
        @include topicTitle; 
    }

    .chatListHolder{
        margin-top: -4px;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        width: 100%;
        padding: 0px 0px 0px 16px;
        border-radius: 8px;
        margin-bottom: 12px;
    }

}
