@import "../../../../styles/globals.scss";
@import "../../../../styles/fonts.scss";

.listHolder{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 100%;
    padding: 8px 0px;


    .sectionRow {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        background-color: $silver-light;
        width: 100%;
        height: 48px;
        @include titleNav;
        letter-spacing: 0.03em;
        padding: 0px 8px 0px 12px;
        border-radius: 8px;
        border: 1px solid $silver-med;
        color: $fuel;

    }
    
    .individualRow {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        background-color: $silver-xlight;
        border: 1px solid $silver-light;
        border-radius: 6px;
        width: 100%;
        height: 40px;
        padding: 0px 16px 0px 16px;
        @include topicTitle;

    }

    .chatListHolder{
        margin-top: -4px;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        width: 100%;
        padding: 0px 0px 0px 16px;
        border-radius: 8px;
        margin-bottom: 12px;
    }

}
