@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.rendering{
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.entered{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;

}

.topicHolderMobile {
    position: relative;
    height: 100%;
    //overflow: auto;
    //background-color: #ee5500;
}

.chatHolderMobile {
    //position: relative;
    position: absolute;
    top: 0px;
    right: 0px;

    //height: 100%;
    //width: 100%;
    //overflow: auto;
    background-color: #ee5500;
}

.topicHolderDesktop {
    position: relative;
    height: 100%;
    overflow: auto;
}

.chatHolderDesktop {
    //position: relative;
    //height: 100%;
    //overflow: auto;
    //background-color: #ee5500;
}
