@import '../../../styles/globals.scss';
@import '../../../styles/fonts.scss';

.topicHolderMobile {
  position: relative;
  height: 100%;
  //overflow: auto;
  //background-color: #ee5500;
}

.chatHolderMobile {
    //position: relative;
    position: absolute;
    top: 0px;
    right: 0px;
    
    //height: 100%;
    //width: 100%;
    //overflow: auto;
    background-color: #ee5500;
  }





.topicHolderDesktop {
    position: relative;
    height: 100%;
    overflow: auto;
}

.chatHolderDesktop {
    //position: relative;
    //height: 100%;
    //overflow: auto;
    //background-color: #ee5500;
}