@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.rendering {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.entered {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.ConversationMessages {
    display: flex;
    width: 100%;
}

.topicHolderMobile {
    position: relative;
    height: 100%;
    //overflow: auto;
    //background-color: #ee5500;
}

.chatHolderMobile {
    //position: relative;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 11;
    //height: 100%;
    //width: 100%;
    //overflow: auto;
    background-color: #ee5500;
}

.topicHolderDesktop {
    position: relative;
    height: 100%;
    overflow: auto;
}

.MobileChatHeader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 8px;
    height: 52px;
    min-height: 52px;
    max-height: 52px;
    background-color: $silver-xlight;
    color: $fuel;
    font-size: 14px;
    font-weight: 600;
    //backdrop-filter: blur(12px);
    border-bottom: 1px solid $silver-med;
    @include topicTitleActive;

    button {
        height: 44px;
        width: 44px;
        border-radius: 999px;
        margin: 0;
        padding: 8px;
        background-color: transparent;
        border: 0;
        outline: 0;

        path {
            fill: $fuel;
        }

        &:hover {
            background-color: $silver-med;
        }
    }
}

@media screen and (max-width: 640px) {
    .chatHolderMobile {
        //position: relative;
        position: absolute;
        top: 0px;
        left: 0;
        background-color: #ee5500;
        width: 100vw;
        background-color: #ee5500;
    }
}

.avatar {
    //margin-bottom: -6px;
    height: 36px;
    width: 36px;
    border-radius: 9999px;
    border: 0;
    border: 1px solid $silver-light;
    user-select: none;

    //background-color: aqua;
    &Mobile {
        height: 48px;
        width: 48px;
    }
}
