@import "../../../styles/fonts.scss";
@import "../../../styles/globals.scss";

.GatheringCreate {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 12px;
    width: 336px;

    &Content {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: $oxygen;
        width: 100%;

        padding: 20px 12px 20px 12px;
    }

    &Input {
        text-align: center;
        width: 90%;
        height: fit-content;
        @include contentH1;
        border: none;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        resize: none;


        background:transparent;
        border-bottom: 1px solid $fuel;
        padding: 0px;



        &::placeholder {
            color: $fuel_30;
        }
    }


    &LabelHolder {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &LabelText {
        @include rubik;
        color: $fuel;
        font-weight: 400;
        font-size: 10px;
        letter-spacing: 0.05em;
        text-align: center;
        //text-transform: uppercase;
        margin-bottom: 6px;
        user-select: none;

    }

    &Type {
        display: flex;
        justify-content: space-between;
        width: 240px;
        background-color: $warm_blue_light;
        border-radius: 100px;
    }


    &SubText {
        @include ubuntu;
        color: $fuel_50;
        font-weight: 400;
        margin-top: 12px;
        text-align: center;
        user-select: none;
    }

    &Launch {
        display: flex;
        width: 100%;
        background-color: $oxygen;
        gap: 16px;
    }

    &Submit {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 50%;
        padding: 11px 0px;
        color: $oxygen;
        background-color: $fuel;
        border: 0;
        border-radius: 24px 0px 0px 0px;
        cursor: pointer;
        @include ubuntu;
        font-size: 13px;
        letter-spacing: 0.02em;
        font-weight: 500;
        path {
            fill: $oxygen;
        }

        svg {
            width: 20px;
        }

        &Schedule {
            border-radius: 0px 24px 0px 0px;
        }

        &:hover {
            background-color: $warm_blue;
        }


    }

    
}

.GatheringButton {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    height: 60px;
    width: 60px;
    padding: 4px;
    background-color: transparent;
    border: 0;
    border-radius: 999px;
    color: $fuel_50;
    cursor: pointer;

    path {
        fill: $fuel_50;
    }

    &Text {
        @include ubuntu;
        font-weight: 400;
        font-size: 11px;
        text-align: center;
        text-transform: capitalize;
    }

    &Icon {
        height: 28px;
        width: 28px;
    }

    

    &.Active {
        color: $oxygen;

        path {
            fill: $oxygen;
        }
        &.voice {
            background-color: $hot_blue;
        }
        &.stream {
            background-color: $hot_red;
        }
        &.party {
            background-color: $hot_purple;
        }
    }
}
