@import "../../../styles/fonts.scss";
@import "../../../styles/globals.scss";

.Mobile {
  position: absolute;
  top: 78px;
  left: 50%;
  transform: translateX(-50%);
  border-top-right-radius: $corner_radius_mobile;
  border-top-left-radius: $corner_radius_mobile;
  border-bottom-right-radius: $corner_radius_mobile;
  border-bottom-left-radius: $corner_radius_mobile;
  width: calc(100% - 16px);
  height: fit-content;
  background-color: var(--theme-offset-2);
  padding: 4px 16px 16px 16px;

}

.Desktop {
  position: absolute;
  top: $space_gap;
  left: calc(50% + 4px);
  transform: translateX(-50%);
  border-radius: 0;
  //border-bottom-right-radius: 36px;
  border-bottom-left-radius: $outside_radius;
  overflow: hidden;
  border: 0;
  padding: 0px 12px 24px 12px;
  width: calc(100% - $space);
  //width: fit-content;
  min-width: fit-content;
  height: fit-content;
  background-color: var(--theme-color);
}

.title {
  color: var(--font-muted);
  @include eyebrow;
  padding-top: 8px;
  padding-bottom: 4px;
  text-align: center;

  .Mobile & {
    color: var(--font-muted);
    font-size: 12px;
    margin-bottom: 16px;
  }
}

.Content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  padding: 0px;
  margin: 0 auto;
  border: 0;
  gap: 4px;
  //padding-bottom: 28px;
  padding-top: 4px;

  .arrow {
    height: 20px;
    width: 20px;
    svg {
      path {
        fill: var(--path-light);
      }
    }

    .Mobile & {
      display: none;
    }
  }

  .Entry {
    position: relative;
    width: 230px;
    min-width: 230px;
    height: fit-content;
    background-color: transparent;
    input {
      position: relative;
      text-align: center;
      width: 100%;
      @include roomTitle;
      font-size: 18px;
      font-weight: 500;
      border-radius: 999px;
      background-color: var(--theme-offset-1);
      border: 0;
      height: 40px;
      color: var(--font-main);
      caret-color: $hot_purple;
      margin: 0;
      text-transform: none;

      &::placeholder {
        color: var(--font-muted);
      }
    }

    span {
      //error message
      position: absolute;
      width: 100%;
      bottom: -18px;
      left: 50%;
      transform: translateX(-50%);
      padding: 0;
      margin: 0;
      color: $alert_red;
      text-align: center;
      @include systemFont;
      font-size: 12px;
      font-weight: 500;
    }

    .Mobile & {
      width: 100%;

      input {
        height: 56px;
        font-size: 22px;
      }

      span {
        bottom: -15px;
      }
    }
  }

  .Desktop & {
    flex-direction: row;
    gap: 8px;
  }

  .Mobile & {
    width: 100%;
    gap: 18px;
  }
}

.Type {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: 48px;
  //background: var(--theme-offset-1);
  padding: 0px 8px;
  border-radius: 999px;
  border: 0;
  gap: 8px;
  margin: 0;

  .Mobile & {
    height: 56px;
    padding: 0px 16px;
    margin-bottom: 8px;
    gap: 24px;
    //background: var(--theme-offset-2);
  }
}

.LabelHolder {
  position: absolute;
  width: fit-content;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  @include systemFont;
  color: var(--font-muted);
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  user-select: none;
  margin: 0;
  border-radius: 999px;
  overflow: hidden;
  padding: 4px 8px 4px 8px;


  p {
    white-space: nowrap;
  }

  .Mobile & {
    font-size: 12px;
    bottom: -16px;
  }
}

.Launch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  margin: 0;
  border: 0;
  width: 230px;
  height: 48px;
  min-width: 230px;
  border-radius: 999px;
  padding: 8px;
  //background-color: var(--theme-offset-1);

  .Mobile & {
    width: 100%;
    //padding: 16px 16px;
    padding: 0;
    padding-top: 8px;
    height: 56px;
    background-color: transparent;
  }
}

.Submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 32px;
  color: var(--border-basic);
  background-color: transparent;
  border-radius: 999px;
  cursor: pointer;
  @include systemFont;
  border: 1px solid var(--border-basic);
  padding: 0px 0px;
  margin: 0;
  gap: 4px;

  svg {
    width: 20px;
    height: 20px;
    margin: 0;

    path {
      fill: var(--border-basic);
    }
  }

  &Schedule {
    //border: 0;

    .Mobile & {
      border: 1px solid var(--border-basic);
    }
  }

  .Desktop & {
    font-size: 12px;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: $hot_purple;
        color: $font_light;
        border-color: $hot_purple;

        path {
          fill: $font_light;
        }
      }
    }
  }

  .Mobile & {
    height: 40px;
    font-size: 14px;
    gap: 8px;

    svg {
      width: 22px;
      height: 22px;
    }

    &:active {
      background: $hot_purple;
      color: $font_light;

      path {
        fill: $font_light;
      }
    }
  }
}

.GatheringButton {
  position: relative;
  height: 40px;
  width: 40px;
  padding: 5px;
  background: transparent;
  border: 0;
  border-radius: 999px;
  cursor: pointer;
  background: transparent;

  .iconHolder {
    opacity: 0.4;
    filter: grayscale(100%);
    height: 100%;
    width: 100%;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .Desktop & {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: var(--border-basic);
      }
    }
  }

  .Mobile & {
    height: 48px;
    width: 48px;
    padding: 2px;

    &:active {
      background-color: var(--border-light);
    }
  }

  &.Active {
    //background-color: var(--border-basic);
    // border-color: var(--theme-offset-2);

    .iconHolder {
      opacity: 0.9;
      filter: grayscale(0);
    }
  }
}
