@import "../../../styles/fonts.scss";
@import "../../../styles/globals.scss";

.ignoreFadeIn {
  background: var(--overlay);
  animation-name: none !important;
  animation-duration: 0s !important;
}

.rendering {
  left: -356px;
  transition: all 0.2s ease-in-out;
}
.entered {
  left: 0;
  transition: all 0.2s ease-in-out;
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  height: var(--vh);
  width: 100vw;

  animation-name: blur-in;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  &Mid {
    position: absolute;
    width: 100%;
    top: 48%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    padding: 0px;
    background-color: var(--menu-color);
    border-top: 1px solid var(--border-light);
    border-bottom: 1px solid var(--border-light);
    opacity: 0;
    animation: pop 0.3s ease-out forwards;

    &Dark {
      background-color: $ash;
    }

    &Padding {
      padding: 24px;
    }

    &Block {
      border: 0;
    }

    &Top {
      top: 6px;
      transform: translateX(-50%);
    }

    &Full {
      height: 100vh;
      max-height: 100vh;
      top: 0;
      left: 0;
      transform: none;
    }
  }

  &Left {
    position: absolute;
    top: 0;
    height: var(--vh);
    width: 330px;
    background-color: var(--menu-color);
    overflow: hidden;
    padding-bottom: 4px;
    border-radius: 0px;

    &::after{
      position: absolute;
      opacity: 0;
      top: 0px;
      right: 0px;
      content: "";
      width: 1px;
      height: 100%;
      background: linear-gradient(transparent, var(--border-light) 16%, var(--border-light) 84%, transparent);
      animation: border-fadein .5s ease-in forwards;
    }
  }

  &Block {
    background: var(--menu-color);
    border: 0;
    animation: blur-in-block 0.3s ease-out forwards;
  }
}

.sideModalContainer {
  z-index: 299;
}

@keyframes blur-in {
  from {
    background: transparent;
  }
  to {
    background: var(--overlay);
  }
}

@keyframes blur-in-block {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--menu-color);
  }
}

@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes border-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}