@import "../../../styles/fonts.scss";
@import "../../../styles/globals.scss";

.Modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(1px);
    background-color: $black_10;
    // opacity: 0;
    // visibility: hidden;
    // transition: opacity 0.3s;

    &Mid {
        position: absolute;
        max-width: 420px;
        min-width: 340px;
        top: 49%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        padding: 24px 24px 24px 24px;
        background-color: $oxygen;
        border: 1px solid $fuel_10;
        border-radius: 18px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        
        &Dark {
            background-color: $ash;
        }

    }

    &Left {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 336px;
        //border-right: 1px solid $fuel_10;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: $ash;


    }
}
