@import "../../styles/fonts.scss";
@import "../../styles/globals.scss";

.mainContainer {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  .title {
    @include overlayMenuTitle;
    color: var(--font-main);
    width: 100%;
    text-align: left;
    margin-bottom: 32px;
    text-align: left;
  }

  .harth {
    @include harthTitle;
    width: 100%;
    overflow-wrap: anywhere;
    font-size: 36px;
    text-align: center;
    margin-bottom: 48px;
  }

  .label {
    @include systemFont;
    color: var(--font-main);
    width: 90%;
    font-size: 14px;
    margin-top: 24px;
  }
  .textEntry {
    width: 90%;
    @include topicTitle;
    font-size: 18px;
    text-align: center;
    //margin-top: 24px;
    height: 48px;
    border-radius: 6px;
    border: 0;
    color: var(--font-main);
    background-color: var(--theme-background);
    box-shadow: var(--shadow-1);
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .helpText {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 4px auto;

    color: var(--font-muted);
    @include systemFont;
    font-size: 12px;
    overflow-wrap: anywhere;
  }

  .buttonBar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 98%;
    column-gap: 8px;
    margin-top: 28px;

    .cancelButton {
      width: 96px;
      // min-width: 88px;
    }

    .submitButton {
      width: 100%;
    }
  }
}
