@import "../../../styles/fonts.scss";
@import "../../../styles/globals.scss";

.SettingsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    justify-content: flex-start;
    align-items: center;
    //width: 320px;
    width: 100%;
    height: 100%;
    padding: 8px 8px 8px 8px;
    //border-top: 1px solid $ash_border;
    //background-color: aqua;
    //overflow-y: auto;

    &Header {
        display: flex;
        align-content: flex-start;
        align-items: center;
        width: 100%;
        background-color: transparent;
        color: $fuel;
        padding-right: 40px;
        p {
            width: 100%;
            @include menuTitle;
            text-align: center;
            color: $font_light;
        }

        path {
            fill: $ash_light;
        }
    }

    &Title {
        @include menuSubTitle;
        color: $ash_light;
        width: calc(100% - 16px);
        margin-top: 24px;
        padding: 4px 0px;
        border-bottom: 1px solid $ash_light;
        text-transform: capitalize;
    }

    &Text {
        @include worksans;
        color: $font_light;
        width: 80%;
        margin-top: 12px;
        text-align: center;

    }
}

.InviteList {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 100%;
    padding: 8px 12px;
    overflow-y: auto;
    background-color: transparent;
    margin-top: 12px;

    &Item {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        padding: 20px;
        background-color: $black;
        border-radius: 12px;
        border: 1px solid $ash_medium;
        box-shadow:
            0 1px 1px hsl(0deg 0% 0% / 0.075),
            0 2px 2px hsl(0deg 0% 0% / 0.075);

        &Info {
            display: flex;
            align-items: center;
            margin-bottom: 12px;

            &Image {
                height: 56px;
                width: 56px;
                margin-right: 12px;
                border-radius: 8px;
                box-shadow:
                    0 1px 1px hsl(0deg 0% 0% / 0.075);
            }

            &Name {
                @include harthTitle2;
                color: $font_light;
            }
        }

        &Code {
            display: flex;
            width: 100%;
            height: 40px;
            transition: all .3s ease-in-out;
            &Url {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                padding: 0px 8px;
                text-overflow: ellipsis;
                background-color: $black;
                border-radius: 99px 0 0 99px;
                overflow: hidden;
                white-space: nowrap;
                @include worksans;
                font-size: 13px;
                color: $font_medium;
            }
            &Copy {
                padding: 8px 16px;
                color: $font_light;
                background-color: $hot_salmon;
                border: 0;
                border-radius: 0 99px 99px 0;
                //transition: .3s;
                cursor: pointer;
                @include buttonLarge;

                &:active {
                    background-color: $ash;

                }
            }
        }

    }
}

.headerImage {
    width: 140px;
    max-width: 140px;
    margin: 56px 0 56px 0;
}

.settingsHeader {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    @include interfaceH3;


}

.menuItem {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    //cursor: pointer;
    width: 100%;
    height: 52px;
    border: 0;
    border-radius: 8px;
    padding: 0px 16px 0px 24px;

    background-color: transparent;
    @include menuText;
    color: $font_light;

    &Invites {
        color: $hot_pink;
        font-weight: 600;

    }
    &:hover {
        background-color: $fuel_10;
    }

    .iconHolder {
        height: 24px;
        width: 24px;
        path {
            fill: $ash_light;
        }
    }
}

.sectionLabel {
    display: flex;
    @include interfaceH4;
    width: 100%;
    border: 0px solid $fuel;
    border-bottom-width: 1px;
    align-items: flex-end;
    padding-bottom: 4px;
    height: 36px;
}

.sectionContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0px 8px;
    //margin-bottom: 16px;
    //background-color: aqua;
}

.optionHolder {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 4px 12px;
    //background-color: aquamarine;
    @include chatText;
    color: $font_light;

    path {
        fill: $ash_medium;
    }

    button {
        &:hover {
            background-color: $black;
            path {
                fill: $ash_light;
            }
        }

        &:active {
            background-color: $black;
            path {
                fill: $ash_light;
            }
        }
    }

}

.EditContainer {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 48px 12px 24px 12px;
    //background-color: aquamarine;
    @include chatText;
    color: $fuel;

    .inputEdit {
        border-radius: 4px;
        background-color: black;
        border: 1px solid $ash_medium;
        height: 40px;
        color: $font_light;
        caret-color: $hot_salmon;
        margin: 0;
        &::placeholder {
            color: $font_medium;

        }
    
    }

    .buttonBar {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        column-gap: 8px;
        width: 100%;
    }
    .cancelButton {
        background-color: transparent;
        color: $font_medium;
        border: 1px solid $ash_medium;
        
    
    }

}



.spacer {
    width: 40px;
    background: transparent;
}
