@import "../../../styles/fonts.scss";
@import "../../../styles/globals.scss";

.SettingsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  justify-content: flex-start;
  align-items: center;
  //width: 320px;
  width: 100%;
  height: 100%;
  padding: 8px 0px 8px 0px;
  overflow-y: scroll;

  &Header {
    display: flex;
    align-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: transparent;
    color: var(--font-main);
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    p {
      width: 100%;
      @include overlayMenuTitle;
      text-align: right;
      color: var(--font-main);
    }

    path {
      fill: var(--font-main);
    }
  }

  &Title {
    @include systemFont;
    color: var(--font-main);
    width: calc(100% - 16px);
    margin-top: 24px;
    padding: 4px 0px;
    border-bottom: 1px solid var(--border-basic);
    text-transform: capitalize;
  }

  &Text {
    @include systemFont;
    color: var(--font-main);
    width: 80%;
    margin-top: 12px;
    text-align: center;
  }
}

.InviteList {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;
  padding: 8px 12px;
  overflow-y: auto;
  background-color: transparent;
  margin-top: 12px;

  &Item {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 20px;
    background-color: $ash_heavy;
    border-radius: 12px;

    &Info {
      display: flex;
      align-items: center;
      margin-bottom: 12px;

      &Image {
        height: 48px;
        width: 48px;
        margin-right: 12px;
        border-radius: 8px;
        box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075);
      }

      &Name {
        @include harthTitle;
        color: var(--font-main);
      }
    }

    button {
      background: $ash;
      border-radius: 4px;
      border: 1px solid $ash_medium;
      height: 40px;
      padding: 0;
    }

    &Code {
      display: flex;
      width: 100%;
      height: 40px;
      transition: all 0.3s ease-in-out;
      border: 1px solid $ash_medium;
      border-radius: 4px;
      &Url {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 0px 8px;
        text-overflow: ellipsis;
        background-color: $ash_heavy;
        border-radius: 99px 0 0 99px;
        overflow: hidden;
        white-space: nowrap;
        @include worksans;
        font-size: 13px;
        color: var(--font-main);
        user-select: text;
      }

      button {
        border-radius: 0;
        padding: 8px 0px;
        width: 96px;
        height: 40px;
        color: $font_light;
        background: $hot_salmon;
        border: 0;
        border-radius: 0px 4px 4px 0px;
        //transition: .3s;
        cursor: pointer;
        @include buttonLarge;

        &:active {
          background-color: $ash;
        }
      }
    }
  }
}

.headerImage {
  margin-top: 36px;
  margin-bottom: 80px;
  svg {
    height: 32px;
  }
  margin-left: auto;
  margin-right: auto;
}

.settingsHeader {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  @include systemFont;
  font-size: 16px;
}

.menuItem {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 48px;
  border: 0;
  //border-radius: 8px;
  padding: 0px 16px 0px 16px;

  background-color: transparent;
  @include menuText;
  color: var(--font-main);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--menu-offset);
    }
  }

  .iconHolder {
    height: 24px;
    width: 24px;
    min-width: 24px;
    path {
      fill: var(--menu-path-muted);
    }
  }

  &Invites {
    justify-content: flex-start;
    gap: 6px;
    width: 100%;
    padding: 0px 12px 0px 12px;
    margin-top: 8px;

    .iconInvite {
      height: 36px;
      width: 36px;
    }
  }
}

.sectionLabel {
  display: flex;
  @include systemFont;
  width: 100%;
  border: 0px solid var(--font-main);
  border-bottom-width: 1px;
  align-items: flex-end;
  padding-bottom: 4px;
  height: 36px;
}

.sectionContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0px 8px;
}

.optionHolder {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 56px;
  padding: 0px 12px;
  @include systemFont;
  letter-spacing: 0;
  color: var(--font-main);
  background: transparent;
  border-radius: 6px;

  p {
    max-width: calc(100% - 40px);
    text-overflow: ellipsis;
    overflow: hidden;
  }

  path {
    fill: var(--font-main);
  }

  button {
    &:hover {
      background-color: $button_main_press;
      path {
        fill: $menu_color;
      }
    }

    &:active {
      background-color: $button_main_press;
      path {
        fill: $menu_color;
      }
    }
  }
}

.themeHolder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 8px 36px 8px 12px;
  gap: 8px;

  .active{
    border-color: $hot_purple !important;
  }

  .theme {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 3px solid var(--border-light);
    border-radius: 8px;
    outline: 0;
    margin: 0;
    gap: 4px;
    padding: 8px 8px;

    p {
      @include eyebrow;
      color: var(--font-main);
      padding-left: 4px;
    }

    img {
      width: 100%;
      border-radius: 8px;
      border: 1px solid var(--border-light);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        border-color: $hot_purple;
      }
    }

    &:active {
      border-color: $hot_purple;
    }
  }
}

.textSizeHolder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 8px 36px 64px 12px;
  gap: 8px;

  .active{
    border-color: $hot_purple !important;
  }

  .theme {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 3px solid var(--border-light);
    color: var(--font-main);
    border-radius: 8px;
    outline: 0;
    margin: 0;
    gap: 6px;
    padding: 8px 8px 8px 12px;
    width: 100%;

    p {
      @include eyebrow;
      color: var(--font-main);
    }

    .regText {
      text-align: left;
      @include chatText;
      font-size: 14px;
      

      &Mobile {
        text-align: left;
        @include chatTextMobile;
        font-size: 16px;
      }

    }

    .largeText {
      text-align: left;
      @include chatText;
      font-size: 16px;

      &Mobile {
        text-align: left;
        @include chatTextMobile;
        font-size: 20px;
      }

    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        border-color: $hot_purple;
      }
    }

    &:active {
      border-color: $hot_purple;
    }
  }
}

.EditContainer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 48px 12px 24px 12px;

  .inputEdit {
    border-radius: 4px;
    background-color: var(--border-basic);
    border: 0;
    height: 56px;
    @include systemFont;
    font-size: 16px;
    color: var(--font-main);
    caret-color: $hot_purple;
    margin: 0;
    &::placeholder {
      color: var(--font-muted);
    }
  }

  .buttonBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 8px;
    width: 100%;
  }
  .cancelButton {
    background-color: transparent;
    color: var(--font-muted);
    border: 1px solid var(--border-basic);
  }
}

.appVersion {
  @include systemFont;
  font-size: 12px;
  letter-spacing: 0;
  color: var(--font-muted);
}

.spacer {
  width: 40px;
  background: transparent;
}
