@import "../../styles/globals.scss";
@import "../../styles/fonts.scss";

.Holder {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: calc(var(--vh) - 64px);
  width: 100%;
  background: var(--theme-background);
  border-radius: $box_radius;
  border-bottom-right-radius: 0;
  margin-top: 0px;
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 10px;
  .spacer {
    height: 24px;
    width: 100%;
    background-color: var(--theme-background);
    //background-color: aqua;
  }

  @media screen and (max-width: 640px) {
    height: var(--vh);
    border-radius: 0;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

    .spacer {
      background-color: transparent;
      height: 52px;
    }
  }
}

#ChatMessages {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  position: relative;
  bottom: 0;
  background-color: transparent;
  width: 100%;
  padding: 24px 0px;
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  color: var(--font-main);

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 640px) {
    padding-bottom: 140px;
    border-radius: 0px;
  }
}

.NoPosts {
  width: fit-content;
  max-width: 100%;
  margin: auto;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out 0.8s forwards;
}

.AdminMessage {
  color: $hot_purple;
  @include systemFont;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 8px 0px;
  &:before,
  &:after {
    content: "--";
  }

  p {
    display: inline-block;
  }

  @media screen and (max-width: 640px) {
    font-size: 14px;
  }
}

.SelfMessage,
.IncomingMessage {
  width: fit-content;
  max-width: 100%;
  padding: 0px 24px 0px 12px;
  .Creator {
    @include chatProfile;
    color: $font_light;
    user-select: none;
    margin-right: 4px;
  }
  > p {
    margin: 0 0 12px 0;
    padding: 12px 16px 12px 16px;
    @include chatText;
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    border-radius: 12px;

    a {
      @include url;
      color: $hot_blue;
      //font-size: 13px;
    }
  }
  .MessageEmoji {
    font-size: 22px;
  }
  img {
    width: 400px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 3px solid transparent;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: $oxygen;
    &:hover {
      border-color: $hot_pink;
    }
  }

  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  @media screen and (max-width: 640px) {
    padding: 0px 12px 0px 12px;

    > p {
      @include chatTextMobile;
      margin: 0 0 12px 0;
      padding: 12px 16px 12px 16px;
    }
  }
}

.SelfMessage {
  align-self: flex-end;

  position: relative;
  > p {
    position: relative;
    background-color: $fuel;
    border-bottom-right-radius: 0px;
    margin-top: 2px;
    color: $oxygen;
  }
  .TimeStamp {
    display: block;
    margin-right: 0px;
    text-align: right;
    @include timeStamp;
    font-size: 11px;
    line-height: 12px;
    user-select: none;
    color: var(--font-muted);
    margin-top: 8px;
  }
}
.IncomingMessage {
  > p {
    background-color: $hot_purple;
    margin-left: 40px;
    margin-top: -24px;
    margin-right: 12px;
    border-top-left-radius: 0px;
    color: $oxygen;
  }
  .TimeStamp {
    display: flex;
    align-items: flex-start;
    color: $ash;
    @include timeStamp;
    font-size: 11px;
    line-height: 12px;
    user-select: none;
    img {
      height: 36px;
      width: 36px;
      margin-right: 8px;
      border-radius: 999px;
      box-shadow:
        0 1px 1px var(--shadow-color),
        0 2px 2px var(--shadow-color),
        0 4px 4px var(--shadow-color);
      border: 0;
      &hover {
        border-color: initial;
      }
    }
  }
}



.ScrollButton {
  position: relative;
  text-align: center;
  padding: 4px 14px;
  color: $oxygen;
  @include systemFont;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  background: $hot_purple;
  border: 0;
  border-radius: 9px;
  width: max-content;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.ScrollButton::before,
.ScrollButton::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 50%;
  height: 1px;
  background-color: $hot_purple;
}

.ScrollButton::before {
  left: 0;
  margin-right: 5px; /* Adjust this value to increase/decrease the gap from text */
  transform: translateX(-100%);
}

.ScrollButton::after {
  right: 0;
  margin-left: 5px; /* Adjust this value to increase/decrease the gap from text */
  transform: translateX(100%);
}

.Input {
  &Mobile {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
  }

  &Desktop {
    width: 100%;
  }
}

.imageViewer {
  width: 100%;
  height: 100%;
  z-index: 100;
}

.alertContainer {
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 2px 6px 0px $black;
  height: 68px;
  width: 148px;

  .contents {
    position: relative;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border: solid 4px transparent;
    border-radius: 12px;
    box-shadow: 4px 9999px 1px $ash inset; //interior color
    background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      ),
      linear-gradient(35deg, $hot_blue, $hot_pink);

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px 0px 4px;

    .label {
      @include rubik;
      font-size: 48px;
      font-weight: 600;
      letter-spacing: -0.05em;
      text-align: center;
      width: 64px;
      color: $oxygen;
    }

    .attributeContainer {
      position: relative;
      padding-left: 10px;
      padding-bottom: 6px;

      .icon {
        height: 52px;
        width: 52px;
        path {
          fill: $oxygen;
        }
      }

      .avatarWrapper {
        position: absolute;
        border-radius: 9999px;
        border: 2px solid $ash;
        width: 38px;
        height: 38px;
        bottom: 0px;
        left: -4px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          border-radius: 9999px;
          //border: 1px solid $oxygen;
        }
      }
    }
  }
}

.shadow {
  box-shadow: 10px 10px 8px 10px #888888;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
