@import "../../styles/globals.scss";
@import "../../styles/fonts.scss";

.Holder {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: calc(100vh - 56px);
    width: 100%;
    //background: linear-gradient(100deg, lighten($warm_blue, 50%), lighten($hot_pink, 32%));   
    background-color: $ash_light;
    //padding-left: 8px;

    @media screen and (max-width: 640px) {
        height: calc(100vh - 24px);
        padding: 8px;
        margin-top: 36px;
    }
}

#ChatMessages {
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    position: relative;
    background-color: transparent;
    // min-height: calc(100% - 98px);
    width: 100%;
    padding: 24px 8px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    //scrollbar-width: 0px;
    color: $fuel;

    &::-webkit-scrollbar {
        display: none;
    }

    @media screen and (max-width: 640px) {
        // min-height: calc(100% - 80px);
        padding-top: 0;
        padding-bottom: 121px;
    }
}

.NoPosts {
    //background-color: aqua;
    width: fit-content;
    max-width: 100%;
    margin: auto;
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out 0.3s forwards;
}

.AdminMessage {
    color: $hot_orange;
    @include montserrat;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.02em;
    text-align: center;
    padding: 8px 0px;
    &:before,
    &:after {
        content: "--";
    }

    p {
        display: inline-block;
    }
}

.SelfMessage,
.IncomingMessage {
    width: fit-content;
    max-width: 100%;
    .Creator {
        @include chatProfile;
        color: $silver-light;
        user-select: none;
        margin-right: 4px;
    }
    > p {
        margin: 0 0 12px 0;
        padding: 8px 12px;
        @include chatText;
        white-space: pre-wrap; /* CSS3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
        border-radius: 12px;

        a {
            @include url;
            color: $hot_blue;
            font-size: 13px;
        }
    }
    .MessageEmoji {
        font-size: 22px;
    }
    img {
        width: 400px;
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        border: 3px solid transparent;
        margin-top: 4px;
        margin-bottom: 4px;
        background-color: $white;
        &:hover {
            border-color: $hot_pink;
        }
    }

    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }


}

.SelfMessage {
    align-self: flex-end;
    //background-color: aqua;
    padding: 0px 0px 0px 24px;
    position: relative;
    > p {
        position: relative;
        background-color: $black;
        border-bottom-right-radius: 0px;
        margin-top: 2px;
        color: $silver-light;
    }
    .TimeStamp {
        display: block;
        margin-right: 0px;
        text-align: right;
        @include timeStamp;
        font-size: 11px;
        line-height: 12px;
        user-select: none;
        color: $silver-heavy;
        margin-top: 8px;
    }
}
.IncomingMessage {
    > p {
        background-color: $fuel;
        margin-left: 40px;
        margin-top: -24px;
        margin-right: 12px;
        border-top-left-radius: 0px;
        color: $silver-light;
        
    }
    .TimeStamp {
        display: flex;
        align-items: flex-start;
        //background-color: aqua;
        color: $silver-heavy;
        @include timeStamp;
        font-size: 11px;
        line-height: 12px;
        user-select: none;
        img {
            height: 32px;
            width: 32px;
            margin-right: 8px;
            border-radius: 50%;
            box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
            0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075);
            border: 0;
            &hover {
                border-color: initial;
            }
        }
    }
}

// .TimeStamp {
//     font-size: 11px;
//     line-height: 15px;
// }

.ScrollButton {
    @include x-center;
    bottom: 15%;
    z-index: 999;
    padding: 4px 14px;
    color: $white;
    font-size: 9px;
    line-height: 11px;
    text-transform: uppercase;
    background-color: #ee5500;
    border: 0;
    border-radius: 9px;
    cursor: pointer;
}

.Input {
    &Mobile {
        width: 96%;
        position: fixed;
        bottom: 0;
        z-index: 1;
        //background-color: aqua;
    }

    &Desktop {
        //position: absolute;
        //bottom: 0px;
        width: 100%;
        //min-height: 100px;
        padding: 0px 16px 8px 16px;
        //background-color: aqua;
    }
}

.mainContainerDice {
    position: absolute;
    top: 12%;
    left: 10%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    row-gap: 0;
    width: fit-content;
    background: transparent;
    border: 1px solid $oxygen_10;
    border-radius: 8px;
    overflow: hidden;
    background-color: $ash;
}

.mainContainerMap {
    position: absolute;
    top: 12%;
    right: 10%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    row-gap: 0;
    width: fit-content;
    background: transparent;
    border: 1px solid $oxygen_10;
    border-radius: 8px;
    overflow: hidden;
    background-color: $ash;
}

.imageViewer {
    width: 100%;
    height: 100%;
    z-index: 100;
}

.diceContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0px;
    border: 0;
    background-color: $ash;
    width: 56px;
    padding: 4px 0px 6px 0px; // 0px;
    border-top: 1px solid $oxygen_10;
}

.mapContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    row-gap: 8px;
    border: 0;
    border-top: 1px solid $oxygen_10;
    background-color: $ash;
    width: 320px;
    height: 260px;
    padding: 0px 0px 24px 0px;

    .icon {
        height: 48px;
        width: 48px;

        path {
            fill: $oxygen;
        }
    }

    .label {
        @include rubik;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 24px;
        text-align: center;
        color: $oxygen;
    }
}

.mapContainerActive {
    overflow: hidden;
    position: relative;
    width: auto;
    height: auto;
    max-width: 540px;
    max-height: 540px;
    background-color: $ash;
    z-index: 100;

    .bottomBar {
        position: absolute;
        background-color: $overlay_dark;
        width: 100%;
        height: 44px;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            background-color: $overlay_dark;
            color: $oxygen;
            &:hover {
                //color: $oxygen;
                background-color: $black;
                backdrop-filter: blur(4px);
                border-color: $oxygen_80;
            }
        }
    }
}

.mobileMapContainer {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    row-gap: 8px;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 0;
    background-color: $overlay_dark;
    align-items: center;
    backdrop-filter: blur(4px);
    width: 100%;
    padding: 12px 0px 64px 0px;

    .icon {
        height: 64px;
        width: 64px;
        path {
            fill: $oxygen;
        }
    }

    .label {
        @include interfaceH2;
        color: $oxygen;
        margin-bottom: 40px;
        text-align: center;
    }

    .grabber {
        background-color: $white_50;
        border-radius: 9999px;
        height: 4px;
        width: 48px;
        margin-bottom: 40px;
    }

    .closeBar {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        justify-items: end;
        align-content: flex-end;
        padding: 0px 12px;
        margin-bottom: 8px;
    }
    &Active {
        position: relative;
        padding: 0px;

        .bottomBar {
            position: relative;
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 12px;
        }
    }
}

.mobileDiceContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 0;
    background-color: $overlay_dark;
    align-items: center;
    backdrop-filter: blur(4px);
    width: 100%;
    padding: 12px 0px 48px 0px;

    .grabber {
        background-color: $white_50;
        border-radius: 9999px;
        height: 4px;
        width: 48px;
    }

    .diceRow {
        //background-color: aqua;
        position: relative;
        display: flex;
        flex-direction: row;
        column-gap: 24px;
    }
}

.topBar {
    background-color: $black_20;
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: grab;
    padding: 0px 2px 0px 10px;

    path {
        fill: transparent;
    }

    &:hover {
        .close {
            path {
                fill: $oxygen_40;
            }
        }
    }

    .grabber {
        background-color: $oxygen_20;
        border-radius: 9999px;
        height: 4px;
        width: 24px;
    }

    .close {
        background: transparent;
        height: 18px;
        width: 18px;
        border: 0px;
        border-radius: 4px;
        padding: 3px;
        path {
            fill: transparent;
        }

        &:hover {
            background-color: $oxygen_20;
            path {
                fill: $oxygen_80;
            }
        }
    }

    .spacer {
        height: 18px;
        width: 18px;
        background: transparent;
    }
}

.alertContainer {
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 2px 6px 0px $black;
    height: 68px;
    width: 148px;

    .contents {
        position: relative;
        background-origin: border-box;
        background-clip: content-box, border-box;
        border: solid 4px transparent;
        border-radius: 12px;
        box-shadow: 4px 9999px 1px $ash inset; //interior color
        background-image: linear-gradient(
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0)
            ),
            linear-gradient(35deg, $hot_blue, $hot_pink);

        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 8px 0px 4px;

        .label {
            @include rubik;
            font-size: 48px;
            font-weight: 600;
            letter-spacing: -0.05em;
            text-align: center;
            width: 64px;
            color: $oxygen;
            //background-color: aqua;
        }

        .attributeContainer {
            position: relative;
            padding-left: 10px;
            padding-bottom: 6px;

            .icon {
                height: 52px;
                width: 52px;
                path {
                    fill: $oxygen;
                }
            }

            .avatarWrapper {
                position: absolute;
                border-radius: 9999px;
                border: 2px solid $ash;
                width: 38px;
                height: 38px;
                bottom: 0px;
                left: -4px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 9999px;
                    //border: 1px solid $oxygen;
                }
            }
        }
    }
}

.shadow {
    box-shadow: 10px 10px 8px 10px #888888;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
