@import '../../styles/globals.scss';

#ChatMessages {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  height: 100%;
  width: 360px;
  padding: 30px 16px 0;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  > div {
    width: 296px;
    margin-bottom: 16px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.AdminMessage {
  color: #ee5500;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  &:before,
  &:after {
    content: '--';
  }

  p {
    display: inline-block;
  }
}

.SelfMessage,
.IncomingMessage {
  > p {
    margin: 0 0 4px 0;
    padding: 8px;
  }
}

.SelfMessage {
  margin-left: auto;
  > p {
    background-color: #f7f7f7;
  }
  .TimeStamp {
    display: block;
    margin-right: 16px;
    text-align: right;
  }
}
.IncomingMessage {
  > p {
    background-color: #eaeaea;
  }
  .TimeStamp {
    display: flex;
    align-items: center;
    img {
      height: 24px;
      width: 24px;
      margin-right: 8px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.TimeStamp {
  font-size: 11px;
  line-height: 15px;
}

.ScrollButton {
  @include x-center;
  bottom: 15%;
  z-index: 999;
  padding: 4px 14px;
  color: $white;
  font-size: 9px;
  line-height: 11px;
  text-transform: uppercase;
  background-color: #ee5500;
  border: 0;
  border-radius: 9px;
  cursor: pointer;
}
