@import "../../styles/globals.scss";

.userIcon {
    width: 100%;
    background-color: transparent;
    border: 0;

    &Button {
        padding: 0;
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }

    &Wrapper {
        // display: flex;
        align-items: center;
    }

    &Image {
        position: relative;

        font-size: 48px;
        line-height: 48px;
        border-radius: 50%;
        overflow: hidden;

        &:before {
            // @include font-icon($icon-user);
            @include x-y-center;
            z-index: 2;

            color: $black50;
        }
    }

    &Regular {
        .userIconImage {
            height: 48px;
            width: 48px;
            margin-right: 8px;
        }
    }
    &Small {
        .userIconImage {
            height: 36px;
            width: 36px;
            margin-right: 2px;
        }
    }
}
