@import "../../styles/fonts.scss";
@import "../../styles/globals.scss";


.backIcon {
    position: absolute;
}
.EmojiPicker {
    position: fixed;
    z-index: 301;
}
.mainContainer {
    position: realtive;
    display: flex;
    flex-direction: column;
    width: 360px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-height: 580px;
    overflow-y: scroll;

    
    .lineParent {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 8px auto; 
        margin-bottom: 36px;
    }

    .lineActive {
        background-color: $hot_purple !important;
    }
    
    .line {
        flex-grow: 1; 
        margin: 0 4px; 
        background-color: $ash;
        height: 3px;
    }
    
 
    .lineParent .line:first-child {
        margin-left: 0;
    }
    
    .lineParent .line:last-child {
        margin-right: 0;
    }
    

    .title {
        @include overlayMenuTitle;
        color: $font_light;
        width: 100%;
        text-align: left;
        margin-top: 0px;
        margin-bottom: 28px;
    }

    .reminder {
        position: relative;
        display: flex;
        flex-direction: row;
        .icon {
            position: absolute;
            width: 40px;
            height: 40px;
            transform: rotate(90deg);
            left: 30px;
            top: -10px;
            path {
                fill: $hot_purple;
            }
        }

        .text {
            margin-left: 60px;
            background: $hot_purple;
            width: 220px;
            @include systemFont;
            font-size: 14px;
            color: $background;
            border: 2px solid transparent;
            border-radius: 12px;
            padding: 8px;
            text-align: center;
        }
    }
    input {
        width: 90%;
        border-radius: 6px;
        background-color: $border_basic;
        border: 0;
        height: 56px;
        padding-left: 12px;
        color: $font_main;
        caret-color: $hot_salmon;
        @include systemFont;
        font-size: 16px;
        &::placeholder {
            color: $font_muted;
  
        }
      }
      .CreateTopic {
        .inputHolder {
            position: relative;
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding: 0px 16px;
            margin: 8px 0px 0px 0px;
    
            button {
                position: relative;
                padding: 0;
                //padding-bottom: 2px;
                min-width: 56px;
                width: 56px;
                min-height: 56px;
                height: 56px;
    
                border-radius: 8px;
                border: 3px dashed $font_main;
                background-color: transparent;
    
    
                &:hover {
                    border-color: $hot_pink;
    
                    &::before {
                        position: absolute;
                        top: -36px;
                        width: 96px;
                        left: 50%;
                        transform: translate3d(-50%, 0, 0);
                        padding: 6px 0px;
                        border-radius: 8px;
                        background-color: $background_reverse;
                        content: "Pick an Emoji";
                        @include mouseover;
                    }
    
                    &::after {
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 0;
                        top: -13px;
                        left: 50%;
                        transform: translate3d(-50%, 0, 0);
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-top: 10px solid $background_reverse;
                    }
                }
    
                &:active {
                    border-color: $hot_pink;
                }
            }
    
            .TopicEmoji {
                font-size: 36px;
            }
    
            input {
                @include topicTitle;
                font-size: 18px;
                font-weight: 400;
                height: 56px;
    
                color: $font_main;
                border: 2px solid $font_main;
                border-radius: 6px;
                background: transparent;
                caret-color: $hot_salmon;
                &::placeholder {
                    color: $font_muted;
                }
            }
        }
    
        .error {
            text-align: center;
            margin-left: 96px;
            margin-top: -4px;
        }
        .subtext {
            width: 80%;
            margin: auto;
            text-align: center;
            @include subtext;
        }
    
        &Buttons {
            display: flex;
            gap: 16px;
            justify-content: space-between;
            margin-top: 20px;
        }
    }
    
    .helpText {
        text-align: center;
        width: 100%;
        @include systemFont;
        font-size: 12px;
        padding-top: 4px;
        color: $font_muted;
        margin-top: 30px;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imageHolder {
        position: relative;
        top: -32px;

    }
    .buttonBar {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 98%;
        column-gap: 8px;
        margin-top: 24px;
        
        .backButton {
          height: 48px;
          border-radius: 999px;
          border: 1px solid $border_heavy;
          background-color: $background;
        
          path {
            fill: $border_heavy;
          }
        
          @media (hover: hover) and (pointer: fine) {
            &:hover { 
              background: $background_offset;
              path {
                fill: $font_muted;
              }
            }
          }
        
          &:active {
            background: $background_offset;
            path {
              fill: $font_muted;
            }
          }
        }
        
        .submitButton {
          @include buttonPrimary;
          width: 100%;
        }

        .cancelButton {
            @include buttonSecondary;
          }
    }
}
