@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.SideNav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0px 8px 0px;
    width: 64px;
    background-color: $hot_salmon_dark;

    .SettingsButton {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 28px;
        width: 52px;
        padding: 6px;
        background-color: transparent;
        border: 0;
        border-radius: 6px;;

        &:hover {
            background-color: $white_10;
            border: 1px solid $white_10;
        }
    }
}

.sideNavMobile {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    width: 100%;
    background-color: $oxygen;

    .headerImage {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 164px;
        margin: 40px 0px;

    }

    .harthList {
        display: flex;
        align-items: flex-start;
        //background-color: aqua;
        width: 100%;

    }

    .settingsItems {
        width: 100%;
    }

}
