@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.SideNav {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    width: 64px;
    min-width: 64px;
    background-color: $ash;
    border-right: 1px solid $ash_border;

    .titleHolder {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        min-height: 60px;
        width: 64px;;
        border: 0;
        border-bottom: 1px solid $ash_border;
    }

    .SettingsButton {

        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 52px;
        padding: 6px;
        background-color: transparent;
        border: 0;
        border-radius: 6px;
        border: 1px solid transparent;
        cursor: pointer;


        &:hover {
            border: 1px solid $oxygen_80;
        }
    }

    .bottomHolder {

        position: absolute;
        bottom: 0px;
        height: 48px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $ash;
        border-top: 1px solid $ash_border;
        z-index: 20;

        .addHarthButton {
            border: 1px solid $oxygen_40;
            background-color: transparent;
            border-radius: 8px;
            height: 24px;
            width: 24px;
            padding: 2px;

            path {
                fill: $oxygen_40;
            }

            &:hover {
                border-color: $oxygen_80;
                path {
                    fill: $oxygen_80;
                }
            }
        }
    }
}


.sideNavMobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 100%;
    row-gap: 0px;
    background-color: $ash;

    .text {
        width: 100%;
        text-align: left;
        padding: 4px 20px;
        border: 0;
        border-bottom: solid 1px $ash_border;
        margin: 0;
        @include menuSubTitle;
        color: $oxygen_80;

    }

    .headerImage {
        flex:none;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 124px;
        margin: 48px 0px;

    }

    .harthList {
        width: 100%;
        padding: 0px 8px;
    }


}
