@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.SideNav {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 8px 0px 0px 0px;
    width: 64px;
    min-width: 64px;
    background-color: $light_ash;
    border-right: 1px solid $fuel_5;

    // .titleHolder {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     height: 60px;
    //     min-height: 60px;
    //     width: 64px;;
    //     border: 0;
    //     border-bottom: 1px solid $ash_border;
    // }

    .SettingsButton {

        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 32px;
        padding: 6px;
        background-color: transparent;
        border: 0;
        border-radius: 6px;
        border: 1px solid transparent;
        cursor: pointer;
        overflow: hidden;

        path {
            fill: $fuel_20;
        }


        &:hover {
            //border: 1px solid $fuel_10;
            background-color: $fuel_5;
        }
    }

    .bottomHolder {

        position: absolute;
        bottom: 0px;
        height: 56px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: $ash;
        border-top: 1px solid $fuel_5;
        z-index: 20;

        
    }

    .CreateHarthButton {
        position: relative;
        width: 28px;
        height: 28px;
        padding: 4px;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 64px;
        margin-top: 10px;
        cursor: pointer;
        border-radius: 8px;
        border: 1px solid $fuel_10;
        background: transparent;

        path {
            fill: $fuel_20;
        }

        &:hover {
            background-color: $black_20;

            path {
                fill: $fuel_light;
            }
        }

    }
}


.sideNavMobile {
    display: flex;
    // align-items: center;
    flex-direction: column;
    position: relative;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 100%;
    //background-color: aquamarine;
    //border-bottom: 4px solid blue;

    .text {
        width: 100%;
        text-align: left;
        padding: 4px 20px;
        border: 0;
        border-bottom: solid 1px $ash_border;
        margin: 0;
        @include menuSubTitle;
        color: $oxygen_80;

    }

    .headerImage {
        width: 124px;
        margin: auto;
        margin-top: 40px; 
        margin-bottom: 40px; 

    }

    .harthList {
        //background-color: aqua;
        display: flex;
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        padding: 0px 8px;
    }

    .settings {
        position: relative;
        bottom: 0;
    }


}
