@import "../../../../styles/globals.scss";

.voiceGathering {
    &Footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 8px 16px;
        border-top: 2px solid #eaeaea;

        button {
            height: 40px;
            width: 40px;
            box-sizing: content-box;
        }
    }

    &Leave {
        margin-right: 8px;
        padding-right: 10px;
        padding-left: 0;
        &:before {
            // @include font-icon($icon-leave);
        }

        &:after {
            @include y-center;
            right: 0;
            height: 24px;
            width: 2px;
            content: "";
            background-color: #eaeaea;
        }
    }

    &Mute {
        padding: 0;
        &:before {
            // @include font-icon($icon-mic);
        }

        &.voiceGatheringMuted {
            &:before {
                // @include font-icon($icon-muted);
                color: #b00020;
            }
        }
    }
}
