@import "../../styles/fonts.scss";
@import "../../styles/globals.scss";


.updateMain {
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 50000;
  width: 250px;
  color: $font_light;
  border-radius: 7px;
}

.buttonwrapper {
  position: relative;
}

.button {
  display: block;
  text-transform: uppercase;
  padding: 5px 15px;
  background-color: $ash_heavy;
  color: white;
	border-radius: 7px;
  border: 0px;
  cursor: pointer;
}

.buttonbg {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(90deg, #FD823A 0%, #d96fab 30.43%, #ff6b66 68.23%, #ff6b66 100%);
  background-size: 600% 600%;
  border-radius: 7px;
  animation: AnimateBorder 4s ease infinite;
  -webkit-animation: AnimateBorder 4s ease infinite;
  -moz-animation: AnimateBorder 4s ease infinite;
  z-index: -1;
  transform: translate(-2px, -2px);
  transition: filter 0.3s ease-in;
}

.buttonwrapper:hover .button-bg {
  filter: blur(10px);
  transition: filter .4s ease-in;
}


@-webkit-keyframes AnimateBorder {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimateBorder {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimateBorder {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.updateContainer {
  display: flex;
  justify-content: flex-end;
  margin: 5px 2px;
  button {
    border: 1px solid #48484e;
    border-radius: 5px;
    background-color: transparent;
    letter-spacing: 0.05em;
    font-size: 12px;
    font-weight: 400;
    color: #fafafa;
    padding: 5px;
    width: max-content;
    cursor: pointer;
  }
  button:hover {
    background-color: $hot_salmon;
  }

  .UpdateNow{
    margin-left: 5px;
  }
}


.Dashboard {
    display: flex;
    height: var(--vh);
    width: 100vw;

    &Content {
        display: flex;
        flex: 1;
        flex-direction: column;

        &Wrapper {
            display: flex;

            &.Mobile {
                display: flex;
                height: var(--vh);
                width: 100%;
            }

            &.Desktop {
                height: calc(100% - 56px);
            }
        }
    }
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes shrinkAndFade {
    0% {
      opacity: 0.9;
      transform: none;
    }
    50% {
      opacity: 0.7;
      transform: translate(calc(var(--icon-x) - 50%), calc(var(--icon-y) - 50%)) scale(0.1);
    }
    80% {
      opacity: 0.5;
      transform: translate(calc(var(--icon-x) - 50%), calc(var(--icon-y) - 50%)) scale(0.1);
    }
    100% {
      opacity: 0;
      transform: translate(calc(var(--icon-x) - 50%), calc(var(--icon-y) - 50%)) scale(0.1);
      height: 0;
      width: 0;
    }
  }

  .mobileRoomContainer.minimized {
    animation: shrinkAndFade 0.3s forwards;
    overflow: hidden;
  }

.mobileRoomContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    border: 0;
    padding: 0px 0px 0px 0px;
    background: linear-gradient(180deg, $ash_heavy, $fuel); 
    animation: slideInFromLeft 0.3s forwards;
    @media (max-width: 640px) {
        height: var(--vh);
        z-index: 500;
    }
}
