.Dashboard {
    display: flex;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;

    &Content {
        display: flex;
        flex: 1;
        flex-direction: column;

        &Wrapper {
            display: flex;

            &.Mobile {
                display: flex;
                height: calc(var(--vh, 1vh) * 100 - 75px);
                width: 100%;
            }

            &.Desktop {
                height: calc(100% - 56px);
            }
        }
    }
}
