@import "../../styles/fonts.scss";
@import "../../styles/globals.scss";

.updateMain {
  position: fixed;
  top: 8px;
  right: 8px;
  z-index: 50000;
  width: 284px;
  border-radius: 6px;

  p {
    @include systemFont;
    color: $font_light;
    text-align: center;
    padding: 8px 16px;
  }
}

.buttonwrapper {
  position: relative;
}

.content {
  display: block;
  text-transform: uppercase;
  padding: 12px 12px;
  background-color: var(--theme-color);
  border-radius: 8px;
  border: 0px;
  cursor: pointer;

  p {
    color: $font_light;
    @include overlayMenuTitle;
    font-size: 28px;
    margin-bottom: 24px;
  }
}

.buttonbg {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  background: linear-gradient(
    90deg,
    $hot_purple 0%,
    $hot_pink 30.43%,
    $hot_blue 68.23%,
    $hot_salmon 100%
  );
  background-size: 600% 600%;
  border-radius: 8px;
  animation: AnimateBorder 4s ease infinite;
  -webkit-animation: AnimateBorder 4s ease infinite;
  -moz-animation: AnimateBorder 4s ease infinite;
  z-index: -1;
  transform: translate(-4px, -4px);
  transition: filter 0.3s ease-in;
}

.buttonwrapper:hover .button-bg {
  filter: blur(10px);
  transition: filter 0.4s ease-in;
}

@-webkit-keyframes AnimateBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimateBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimateBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.updateContainer {
  display: flex;
  justify-content: flex-end;
  //margin: 5px 2px;
  align-items: flex-end;

  button {
    border: 0;
    border-radius: 999px;
    background-color: transparent;
    letter-spacing: 0.03em;
    @include systemFont;
    font-size: 14px;
    padding: 6px 12px;
    width: max-content;
    cursor: pointer;
  }
  button:hover {
    background-color: $button_main_press;
    color: black;
    border-color: $button_main_press;
  }

  .UpdateNow {
    margin-left: 8px;
    background: $button_main;
    color: black;
    height: 40px;
  }

  .UpdateLater {
    background: $menu_color;
    color: $font_muted;
    border: 1px solid $border_basic;
    height: 32px;
  }
}

.Dashboard {
  display: flex;
  height: var(--vh);
  width: 100vw;

  &Content {
    display: flex;
    flex: 1;
    flex-direction: column;

    &Wrapper {
      display: flex;

      &.Mobile {
        display: flex;
        height: var(--vh);
        width: 100%;
      }

      &.Desktop {
        height: calc(100% - 72px);
      }
    }
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrinkAndFade {
  0% {
    opacity: 0.9;
    transform: none;
  }
  50% {
    opacity: 0.7;
    transform: translate(calc(var(--icon-x) - 50%), calc(var(--icon-y) - 50%));
    scale: 0.1;
  }
  80% {
    opacity: 0.5;
    transform: translate(calc(var(--icon-x) - 50%), calc(var(--icon-y) - 50%));
    scale: 0.1;
  }
  100% {
    opacity: 0;
    transform: translate(calc(var(--icon-x) - 50%), calc(var(--icon-y) - 50%));
    scale: 0.1;
    height: 0;
    width: 0;
  }
}

.mobileRoomContainer.minimized {
  animation: shrinkAndFade 0.5s forwards;
  overflow: hidden;
}

.mobileRoomContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  border: 0;
  padding: 0px 0px 0px 0px;
  background: linear-gradient(180deg, var(--menu-color), $fuel);
  animation: slideInFromLeft 0.3s forwards;
  @media (max-width: 640px) {
    height: var(--vh);
    z-index: 500;
  }
}
