@import "../../styles/globals.scss";
@import "../../styles/fonts.scss";


.imageViewer {
    width: 100vw;
    height: var(--vh);
    z-index: 100;
}

#ChatInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    margin: 0px 0px 8px 0px;
    background: $ash_heavy;
    border-radius: 12px;
    padding: 8px 8px 8px 8px;


    &Text {
        resize: none;
        display: block;
        width: 100%;
        min-height: 48px;
        height: 48px;
        max-height: calc(var(--vh) * 0.5);
        margin: 0;
        padding: 8px 12px;
        @include chatText;
        color: $font_light;
        background: $ash;
        border: 0;

        white-space: pre-wrap; /* CSS3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */

    }

    .entryBox {
        //border: 1px solid rgba(0,0,0,0.4);
        border-radius: 12px;
        padding: 0;
        overflow: hidden;
    }

    &Controls {
        display: flex;
        justify-content: space-between;
        padding: 0px;

        &Right,
        &Left {
            position: relative;
            display: flex;
            flex-direction: row;
            column-gap: 12px;

            > button {
                position: relative;
                margin: 0 0px;
                height: 36px;
                width: 36px;
                padding: 6px;
                background-color: transparent;
                border-radius: 8px;
                border: 0px;
                cursor: pointer;

                path {
                    fill: $ash_medium;
                }

                &Mobile {
                    height: 40px;
                    width: 40px;
                    padding: 8px;
                }

                &:hover {
                    background-color: $black;
                }

                &.EditCancel {
                    width: auto;
                    height: fit-content;
                    background-color: $silver_dark;
                    border: 0;
                    @include worksans;
                    font-size: 12px;
                    font-weight: 500;
                    border-radius: 24px;
                    color: $white;
                    padding: 8px 12px;
                    margin: auto;

                    &:hover {
                        background-color: $fuel;
                    }
                }

                &.SendActive {
                    //border: 1px solid $silver-med;
                    //background-color: $hot_pink;
                    path {
                        fill: $hot_pink;
                    }
                }

                &:before {
                    @include x-y-center;
                    color: $ash_30;
                    font-size: 16px;
                }

                // &.AttachEmoji {
                //   &:before {
                //     @include font-icon($icon-emoji);
                //   }
                // }
                // &.AttachGif {
                //   &:before {
                //     @include font-icon($icon-gif);
                //   }
                // }
                // &.AttachFile {
                //   &:before {
                //     @include font-icon($icon-upload);
                //   }
                // }
                // &.CancelEdit {
                //   &:before {
                //     @include font-icon($icon-cancel);
                //   }
                // }
                &.SendMessage {
                    &:before {
                        //@include font-icon($icon-check-circle);
                        color: red;
                    }
                    &:not(:disabled) {
                        &:before {
                            color: $orange;
                        }
                    }
                }
            }
        }

        .input-style-wrapper {
            button {
                font-family: "Times New Roman", Times, serif;
                font-size: 18px;
            }
            .style-bold {
                font-weight: bold;
            }
            .style-italic {
                font-style: italic;
            }
            .style-strike {
                text-decoration: line-through;
            }
        }
    }

    .EmojiPicker {
        position: absolute;
        bottom: 100%;
        z-index: 1;

        #root {
            background-color: $fuel;
        }
    }

    .giphy-grid {
        position: absolute;
        bottom: 0;
        z-index: 1;
        max-height: 400px;
        overflow-y: scroll;
    }
}




