@import "../../styles/globals.scss";
@import "../../styles/fonts.scss";

.LoadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.Spinner {
  pointer-events: none;
  width: 36px;
  transition: transform 0.3s ease;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: transparent;
    border: 4px solid transparent;
    border-top-color: $hot_purple;
    border-radius: 50%;
    animation: spinner 1s ease infinite;
  }
}

.CancelButton {
  transition: transform 0.3s ease;
}

@keyframes spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

#ChatInput {
  width: calc(100% - 16px);
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  background: var(--theme-background);
  padding: 0px 0px 0px 0px;
  border-bottom: none;
  border-radius: 0;
  border-bottom-left-radius: $corner_radius;
  border-bottom-right-radius: $corner_radius;

  &Text {
    resize: none;
    display: block;
    width: 100%;
    min-height: 56px;
    height: 56px;
    max-height: calc(var(--vh) * 0.5);
    margin: 0;
    padding: 8px 24px;
    @include chatText;
    caret-color: $hot_purple;
    color: var(--font-main);
    background: transparent;
    border: 0;

    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */

    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

    &::placeholder {
      @include chatText;
      color: var(--font-muted);
    }
  }

  .entryBox {
    border-radius: 0px;
    padding: 0;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid var(--border-light);

  }

  &Controls {
    display: flex;
    justify-content: space-between;
    padding: 6px 0px 6px 0px;
    background: var(--theme-background);
    //background-color: aqua;
    border: 0;
    border-radius: 0px;
    border-bottom-left-radius: $corner_radius;
    border-bottom-right-radius: $corner_radius;

    &Right,
    &Left {
      position: relative;
      display: flex;
      flex-direction: row;
      column-gap: 4px;

      > button {
        position: relative;
        margin: 0 0px;
        height: 32px;
        width: 48px;
        padding: 4px;
        background-color: transparent;
        border-radius: 99px;
        border: 0px;
        cursor: pointer;

        path {
          fill: var(--border-basic);
        }

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background-color: var(--theme-background-offset);
            path {
              fill: var(--border-heavy);
            }
          }
        }

        &.EditCancel {
          width: auto;
          height: fit-content;
          background-color: transparent;
          border: 0;
          @include systemFont;
          font-size: 14px;
          font-weight: 500;
          border-radius: 24px;
          color: var(--font-muted);
          padding: 8px 12px;
          margin: auto;
          border: 1px solid var(--border-basic);

          @media (hover: hover) and (pointer: fine) {
            &:hover {
              background-color: var(--theme-background-offset);
              color: var(--font-main);
            }
          }
        }

        &.SendActive {
          background: $hot_purple;
          path {
            fill: $font_light;
          }
        }

        &:before {
          @include x-y-center;
          color: $font_muted;
          font-size: 16px;
        }

        &.SendMessage {
          &:before {
            //@include font-icon($icon-check-circle);
            color: red;
          }
          &:not(:disabled) {
            &:before {
              color: $hot_orange;
            }
          }
        }
      }
    }

    .input-style-wrapper {
      button {
        font-family: "Times New Roman", Times, serif;
        font-size: 18px;
      }
      .style-bold {
        font-weight: bold;
      }
      .style-italic {
        font-style: italic;
      }
      .style-strike {
        text-decoration: line-through;
      }
    }
  }

  .EmojiPicker {
    position: absolute;
    bottom: 100%;
    z-index: 1;

    #root {
      background-color: $fuel;
    }
  }

  .giphy-grid {
    position: absolute;
    bottom: 0;
    z-index: 1;
    max-height: 400px;
    overflow-y: scroll;
  }
}

#ChatInputMobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--theme-background-offset);
  padding: 0px 0px 0px 0px;
  border-bottom: none;
  border-radius: 0;

  &Text {
    resize: none;
    display: block;
    width: 100%;
    min-height: 56px;
    height: 56px;
    max-height: calc(var(--vh) * 0.5);
    margin: 0;
    padding: 8px 16px;
    @include chatTextMobile;
    caret-color: $hot_purple;
    color: var(--font-main);
    background-color: var(--theme-background-offset);
    
    border: 0;
    border-radius: 0;

    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */

    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

    &::placeholder {
      @include chatTextMobile;
      color: var(--font-muted);
    }
  }

  .entryBox {
    //border-top: 1px solid $border_basic;
    //border-bottom: 1px solid $border_basic;
    padding: 0;
    overflow: hidden;
    border-top: 1px solid var(--border-light);
  }

  &Controls {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px 20px 10px;
    background-color: var(--theme-background-offset);
    border-top: 1px solid var(--border-light);

    &Right,
    &Left {
      position: relative;
      display: flex;
      flex-direction: row;
      column-gap: 4px;

      > button {
        position: relative;
        margin: 0 0px;
        height: 40px;
        width: 52px;
        padding: 7px;
        background-color: transparent;
        border-radius: 999px;
        border: 0px;
        cursor: pointer;

        path {
          fill: var(--border-basic);
        }

        &:active {
          background-color: var(--theme-background);
          path {
            fill: var(--boder-heavy);
          }
        }

        &.EditCancel {
          width: auto;
          height: fit-content;
          background-color: transparent;
          border: 0;
          @include systemFont;
          font-size: 14px;

          border-radius: 99px;
          color: var(--font-muted);
          padding: 8px 12px;
          margin: auto;
          border: 1px solid var(--border-basic);
        }

        &.SendActive {
          background-color: $hot_purple;
          path {
            fill: $font_light;
          }
        }

        &:before {
          @include x-y-center;
          color: var(--font-muted);
          font-size: 16px;
        }

        &.SendMessage {
          &:before {
            //@include font-icon($icon-check-circle);
            color: red;
          }
          &:not(:disabled) {
            &:before {
              color: $hot_orange;
            }
          }
        }
      }
    }

    .input-style-wrapper {
      button {
        font-family: "Times New Roman", Times, serif;
        font-size: 18px;
      }
      .style-bold {
        font-weight: bold;
      }
      .style-italic {
        font-style: italic;
      }
      .style-strike {
        text-decoration: line-through;
      }
    }
  }

  .EmojiPicker {
    position: absolute;
    bottom: 100%;
    z-index: 1;

    #root {
      background-color: $fuel;
    }
  }

  .giphy-grid {
    position: absolute;
    bottom: 0;
    z-index: 1;
    max-height: 400px;
    overflow-y: scroll;
  }
}

.imageBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 16px;
  justify-content: flex-start;
  width: auto;
  background-color: var(--theme-background-offset);
  padding: 16px;
  border-bottom: 1px solid var(--border-light);

  .imageContainer {
    position: relative;
    z-index: 1;

    img {
      position: relative;
      z-index: 1;
      border-radius: 8px;
      height: 100px;
      max-width: 140px;
      border: 1px solid $hot_purple;
      object-fit: contain;
    }
    .video {
      position: relative;
      z-index: 1;
      border-radius: 8px;
      height: 80px;
      max-width: 180px;
      border: 1px solid $hot_purple;
      object-fit: contain;
    }
    button {
      position: absolute;
      top: -8px;
      right: -8px;
      z-index: 2;
      height: 32px;
      width: 32px;
      padding: 5px;
      border-radius: 99px;
      border: 0;
      background-color: $black;
      cursor: pointer;

      path {
        fill: $font_light;
      }
    }
  }

  .imageUploading {
    pointer-events: none;
    &::after {
      content: "";
      position: absolute;
      z-index: 3;
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background-color: transparent;
      border: 4px solid transparent;
      border-top-color: $hot_purple;
      border-radius: 50%;
      animation: spinner 1s ease infinite;
    }
  }

  &Dark {
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid transparent;
    .imageContainer {
      img {
        background-color: $oxygen;
      }
    }
  }
}

@keyframes spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
