@import "../../styles/globals.scss";
@import "../../styles/fonts.scss";

.imageViewer {
  width: 100vw;
  height: var(--vh);
  z-index: 100;
}

#ChatInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0px;
  margin: 0px 0px 0px 0px;
  background: var(--theme-background);
  padding: 8px 8px 16px 8px;
  
  &.Mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--theme-background-offset);
    padding: 0px 0px 0px 0px;
    border-bottom: none;
    border-radius: 0;
  }

  &Text {
    resize: none;
    display: block;
    width: 100%;
    min-height: 48px;
    height: 48px;
    max-height: calc(var(--vh) * 0.5);
    margin: 0;
    padding: 8px 12px;
    border-radius: 8px;
    @include chatText;
    color: var(--font-main);
    background: var(--theme-background);
    border: 1px solid var(--border-light);
    caret-color: $hot_salmon;

    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */

    &::placeholder {
      @include chatText;
      color: var(--font-muted);
    }

    &.Mobile {
      resize: none;
      display: block;
      width: 100%;
      min-height: 56px;
      height: 56px;
      max-height: calc(var(--vh) * 0.5);
      margin: 0;
      padding: 8px 16px;
      @include chatTextMobile;
      caret-color: $hot_purple;
      color: var(--font-main);
      background-color: var(--menu-offset);
      //background-color: black;
      border: 0;
      border-radius: 0;

      white-space: pre-wrap; /* CSS3 */
      white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
      white-space: -pre-wrap; /* Opera 4-6 */
      white-space: -o-pre-wrap; /* Opera 7 */
      word-wrap: break-word; /* Internet Explorer 5.5+ */

      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;

      &::placeholder {
        @include chatTextMobile;
        color: var(--font-muted);
      }
    }
  }

  .entryBox {
    //border: 1px solid rgba(0,0,0,0.4);
    border-radius: 0px;
    padding: 0;
    overflow: hidden;

  }

  &Controls {
    display: flex;
    justify-content: space-between;
    padding: 4px 4px 4px 4px;

    &.Mobile {
      display: flex;
      justify-content: space-between;
      padding: 8px 10px 28px 10px;
      background-color: var(--menu-color);
      border-top: 1px solid var(--border-ultralight);
  
    }
    &Right,
    &Left {
      position: relative;
      display: flex;
      flex-direction: row;
      column-gap: 2px;

      > button {
        position: relative;
        margin: 0 0px;
        height: 36px;
        width: 52px;
        border-radius: 99px;
        padding: 6px;
        background-color: transparent;
        border: 0px;
        cursor: pointer;

        path {
          fill: var(--border-basic);
        }

        &:active {
          background-color: var(--menu-offset);
          path {
            fill: var(--path-basic);
          }
        }

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background-color: var(--menu-offset);
          path {
            fill: var(--path-basic);
          }
          }
        }

        &Mobile {
          height: 40px;
          width: 40px;
          padding: 8px;
        }

        &.EditCancel {
          width: auto;
          height: fit-content;
          background-color: $border_basic;
          border: 0;
          @include worksans;
          font-size: 12px;
          font-weight: 500;
          border-radius: 24px;
          color: $oxygen;
          padding: 8px 12px;
          margin: auto;

          &:hover {
            background-color: $fuel;
          }
        }

        &.SendActive {
          background-color: $hot_purple;
          path {
            fill: $oxygen;
          }
        }

        &:before {
          @include x-y-center;
          color: $font_muted;
          font-size: 16px;
        }

        &.SendMessage {
          &:before {
            //@include font-icon($icon-check-circle);
            color: red;
          }
          &:not(:disabled) {
            &:before {
              color: $hot_orange;
            }
          }
        }
      }

      &.Mobile {
        position: relative;
        display: flex;
        flex-direction: row;
        column-gap: 4px;
  
        > button {
          position: relative;
          margin: 0 0px;
          height: 44px;
          width: 56px;
          padding: 7px;
          background-color: transparent;
          border-radius: 999px;
          border: 0px;
          cursor: pointer;
  
          path {
            fill: var(--border-basic);
          }
  
          &:active {
            background-color: var(--menu-offset);
            path {
              fill: var(--path-basic);
            }
          }
  
          &.EditCancel {
            width: auto;
            height: fit-content;
            background-color: transparent;
            border: 0;
            @include systemFont;  
            border-radius: 99px;
            color: var(--font-muted);
            padding: 8px 12px;
            margin: auto;
            border: 1px solid var(--border-basic);
          }
  
          &.SendActive {
            background-color: $hot_purple;
            path {
              fill: $font_light;
            }
          }
  
          &:before {
            @include x-y-center;
            color: var(--font-muted);
            font-size: 16px;
          }
  
          &.SendMessage {
            &:before {
              //@include font-icon($icon-check-circle);
              color: red;
            }
            &:not(:disabled) {
              &:before {
                color: $hot_orange;
              }
            }
          }
        }
      }
    }



    .input-style-wrapper {
      button {
        font-family: "Times New Roman", Times, serif;
        font-size: 18px;
      }
      .style-bold {
        font-weight: bold;
      }
      .style-italic {
        font-style: italic;
      }
      .style-strike {
        text-decoration: line-through;
      }
    }
  }

  .EmojiPicker {
    position: absolute;
    bottom: 100%;
    z-index: 1;

    #root {
      background-color: $fuel;
    }
  }

  .giphy-grid {
    position: absolute;
    bottom: 0;
    z-index: 1;
    max-height: 400px;
    overflow-y: scroll;
  }
}
