#dash-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: header;

  padding: 0 16px;

  background-color: $medium-grey;
  border-bottom: 1px solid #e0e0e0;
}

#channel {
  padding: 0 8px;

  color: $black60;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

#account-btn {
  position: relative;

  height: 40px;
  width: 40px;
  padding: 0;

  background-color: transparent;
  border: 0;
  border-radius: 50%;

  object-fit: cover;
  cursor: pointer;

  &:before {
    @include font-icon($icon-user);
    @include x-y-center;
    z-index: 2;

    color: $black50;
    font-size: 40px;
    line-height: 40px;
  }

  &:after {
    @include x-y-center;
    z-index: 1;
    height: 100%;
    width: 100%;

    content: "";

    border: 2px solid transparent;
    border-radius: 50%;

    transition: all 0.3s;
  }

  &.hasImage {
    &:before {
      display: none;
    }
  }

  img {
    display: block;
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
  }

  &:hover {
    &:after {
      height: calc(100% + 4px);
      width: calc(100% + 4px);

      border-color: $blarg-purple;
    }
  }
}
