#dash-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: header;

  padding: 0 16px;

  background-color: $medium-grey;
}

#channel {
  padding: 0 8px;

  color: $black60;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.top-buttons {
  display: flex;
  align-items: center;
  margin-right: 16px;
  button {
    position: relative;
    height: 56px;
    width: 72px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: background-color 0.3s;

    &:before {
      @include x-y-center;
      color: $black50;
      font-size: 24px;
      transition: color 0.3s;
    }
    &:after {
      @include x-center;
      bottom: 0;
      height: 2px;
      width: 0%;
      content: "";
      background-color: $bg-purple;
      transition: width 0.3s;
    }

    &#chat {
      &:before {
        @include font-icon($icon-books);
      }
    }
    &#notifications {
      &:before {
        @include font-icon($icon-chat);
      }
    }
    &#games {
      &:before {
        @include font-icon($icon-game);
      }
    }
    &#calendar {
      &:before {
        @include font-icon($icon-calendar);
      }
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
    &.active {
      &:before {
        color: $bg-purple;
      }
    }
  }
}

#account-btn {
  position: relative;

  height: 40px;
  width: 40px;
  padding: 0;

  background-color: transparent;
  border: 0;
  border-radius: 50%;

  object-fit: cover;
  cursor: pointer;

  &:before {
    @include x-y-center;

    content: $icon-user;
    font-family: IcoMoon;
    font-size: 40px;
    line-height: 40px;
  }

  &.hasImage {
    &:before {
      display: none;
    }
  }

  img {
    display: block;
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
}
