#left_nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  grid-area: aside;
  position: relative;
  z-index: 1;
  width: 56px;
  padding-bottom: 4px;
  background-color: $medium-grey;
}
