@import "../../styles/globals.scss";

.IconUploader {
    margin: 0 auto;
    height: 80px;
    width: 80px;
    border: 4px dashed $fuel;
    overflow: hidden;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.Circle {
        
        border-radius: 9999px;

        .image {
            width: 100%;
            height: auto;
            border-radius: 9999px;

        }
    }

    &.Square {
        border-radius: 10px;

        .image {
            width: 100%;
            height: auto;
            border-radius: 10px; 
        }
        
    }

    &:hover {
        border-color: $hot_pink;

    }

    
}
