@mixin systemFont {
  font-family: var(--Rubik-font);
  font-weight: 400;
  font-size: var(--system-font-size);
}

@mixin harthTitle {
  font-family: var(--Rubik-font);
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 110%;
  text-rendering: optimizeLegibility;
}

@mixin talkingHead {
  font-family: var(--Rubik-font);
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.01em;
  line-height: 22px;
}

@mixin titleNav {
  font-family: var(--Rubik-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-rendering: optimizeLegibility;
}

@mixin titleNavMobile {
  font-family: var(--Rubik-font);
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-rendering: optimizeLegibility;
}

@mixin smallTitle {
  font-family: var(--Rubik-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-rendering: optimizeLegibility;
}

@mixin eyebrow {
  font-family: var(--Rubik-font);
  font-weight: 600;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@mixin smallTitleMobile {
  font-family: var(--Rubik-font);
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.2em;
  line-height: 125%;
  //text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

@mixin topicTitle {
  font-family: var(--Rubik-font);
  font-weight: 400;
  font-size: var(--topic-font-size);
  letter-spacing: 0.01em;
  user-select: none;
}

@mixin topicTitleMobile {
  font-family: var(--Rubik-font);
  font-weight: 400;
  font-size: var(--topic-font-size-mobile);
  letter-spacing: 0.03em;
}

@mixin chatText {
  font-family: var(--Raleway-font);
  font-weight: 400;
  font-size: var(--chat-font-size);
  line-height: 125%;
  letter-spacing: 0.02em;
  text-rendering: optimizeLegibility;
}

@mixin chatTextMobile {
  font-family: var(--Raleway-font);
  font-weight: 500;
  font-size: var(--chat-font-size-mobile);
  line-height: 125%;
  letter-spacing: 0.02em;
  text-rendering: optimizeLegibility;
}

@mixin chatProfile {
  font-family: var(--Rubik-font);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 12px;
  //text-rendering: optimizeLegibility;
}

@mixin reactionLabel {
  font-family: var(--Rubik-font);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0em;
}

@mixin timeStamp {
  font-family: var(--Rubik-font);
  font-weight: 400;
  font-size: 12px;
  //letter-spacing: 0.01em;
  letter-spacing: 0.02em;
  line-height: 12px;
  //text-rendering: optimizeLegibility;
}

@mixin roomType {
  font-family: var(--Rubik-font);
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 0.03em;
  line-height: 32px;
  // text-rendering: optimizeLegibility;
  text-transform: capitalize;
}

@mixin menuTitle {
  font-family: var(--Rubik-font);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 125%;
  //text-rendering: optimizeLegibility;
}

@mixin menuSubTitle {
  font-family: var(--Rubik-font);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 125%;
  //text-rendering: optimizeLegibility;
}

@mixin menuText {
  font-family: var(--Rubik-font);
  font-weight: 400;
  font-size: 14px;
  //letter-spacing: 0.05em;
  line-height: 125%;
  //text-rendering: optimizeLegibility;
}

@mixin overlayMenuTitle {
  font-family: var(--Rubik-font);
  font-weight: 400;
  font-size: 36px;
  line-height: 95%;
  //letter-spacing: 0.01em;
  // text-shadow: 3px 3px 0 $hot_purple;
  //text-rendering: optimizeLegibility;
}

@mixin buttonLarge {
  font-family: var(--Rubik-font);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.04em;
  //text-rendering: optimizeLegibility;
}

@mixin buttonSmall {
  font-family: var(--Rubik-font);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
  //text-rendering: optimizeLegibility;
}

@mixin subtext {
  font-family: var(--Rubik-font);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 14px;
  //text-rendering: optimizeLegibility;
  color: $ash_light;
}

@mixin mouseover {
  font-family: var(--Rubik-font);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 14px;
  color: $oxygen;
}

@mixin roomTitle {
  font-family: var(--Rubik-font);
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 100%;
  //text-rendering: optimizeLegibility;
}

@mixin roomTitleMobile {
  font-family: var(--Rubik-font);
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 100%;
  //text-rendering: optimizeLegibility;
}

@mixin rubik {
  font-family: var(--Rubik-font);
  font-weight: 400;
  font-size: 12px;
  //text-rendering: optimizeLegibility;
}

@mixin url {
  font-family: var(--Rubik-font);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.05em;
  cursor: pointer;
}

@mixin worksans {
  font-family: var(--Work_Sans-font);
  font-weight: 400;
  font-size: 12px;
  //text-rendering: optimizeLegibility;
}

