
@mixin harthTitle1 {
  font-family: var(--COOPBL-font);
  font-size: 26px;
  letter-spacing: 0.05em;
  line-height: 26px;
}

@mixin harthTitle2 {
  font-family: var(--COOPBL-font);
  font-size: 22px;
  letter-spacing: 0.05em;
  line-height: 24px;
}

@mixin harthTitleSmall {
  font-family: var(--COOPBL-font);
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 18px;
}

@mixin titleNav {
  font-family: var(--COOPBL-font);
  //font-family: var(--Asap_Condensed-font);
  //font-family: "Work Sans", sans-serif;
  //font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.04em;
  line-height: 13px;
  //text-rendering: optimizeLegibility;
}

@mixin titleNavMobile {
  font-family: var(--COOPBL-font);
  //font-family: "Ubuntu", sans-serif;
  //font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.05em;
  line-height: 11px;
  //text-rendering: optimizeLegibility;
}

@mixin smallTitle {
  //font-family: "Work Sans", sans-serif;
  font-family: var(--Rubik-font);
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.1em;
  //line-height: 125%;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

@mixin smallTitleMobile {
  font-family: var(--Rubik-font);
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.2em;
  line-height: 125%;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

@mixin topicTitle {
  //font-family: "Work Sans", sans-serif;
  font-family: var(--Montserrat-font);
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.03em;
  //line-height: 125%;
  //text-rendering: optimizeLegibility;
}

@mixin topicTitleActive {
  //font-family: "Work Sans", sans-serif;
  font-family: var(--Montserrat-font);
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.01em;
  //line-height: 125%;
  //text-rendering: optimizeLegibility;
}

@mixin topicTitleMobile {
  //font-family: "Work Sans", sans-serif;
  font-family: var(--Montserrat-font);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  //line-height: 125%;
  //text-rendering: optimizeLegibility;
}

@mixin chatText {
  font-family: var(--Arvo-font);

  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-rendering: optimizeLegibility;
}

@mixin chatProfile {
  font-family: var(--Rubik-font);
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 0.02em;
  line-height: 11px;
  //text-rendering: optimizeLegibility;
}

@mixin timeStamp {
  font-family: var(--Rubik-font);
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0.02em;
  line-height: 11px;
  //text-rendering: optimizeLegibility;
}

@mixin roomType {
  font-family: var(--Work_Sans-font);
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 0.03em;
  line-height: 32px;
 // text-rendering: optimizeLegibility;
  text-transform: capitalize;
}

@mixin menuTitle {
  font-family: var(--Work_Sans-font);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 125%;
  //text-rendering: optimizeLegibility;
}

@mixin menuSubTitle {
  font-family: var(--Work_Sans-font);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 125%;
  //text-rendering: optimizeLegibility;
}

@mixin menuText {
  font-family: var(--Work_Sans-font);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 125%;
  //text-rendering: optimizeLegibility;
}

@mixin overlayMenuTitle {
  font-family: var(--Work_Sans-font);
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.02em;
  line-height: 28px;
  //text-rendering: optimizeLegibility;
}

@mixin buttonLarge {
  font-family: var(--Work_Sans-font);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.04em;
  //text-rendering: optimizeLegibility;
}

@mixin buttonSmall {
  font-family: var(--Work_Sans-font);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
  //text-rendering: optimizeLegibility;
}

@mixin subtext {
  font-family: var(--Work_Sans-font);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 14px;
  //text-rendering: optimizeLegibility;
  color: $ash_light;
}

@mixin mouseover {
  font-family: var(--Work_Sans-font);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 14px;
  color: $oxygen;
}

@mixin roomTitle {
  font-family: var(--Montserrat-font);
  font-weight: 900;
  font-size: 24px;
  letter-spacing: -0.02em;
  line-height: 125%;
  //text-rendering: optimizeLegibility;
}


@mixin rubik {
  font-family: var(--Rubik-font);
  font-weight: 400;
  font-size: 12px;
  //text-rendering: optimizeLegibility;
}

@mixin montserrat {
  font-family: var(--Montserrat-font);
  font-weight: 400;
  font-size: 12px;
  //text-rendering: optimizeLegibility;
}



@mixin worksans {
  font-family: var(--Work_Sans-font);
  font-weight: 400;
  font-size: 12px;
  //text-rendering: optimizeLegibility;
}

@mixin interfaceH1 {
  font-family: var(--Work_Sans-font);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 22px;
  //text-rendering: optimizeLegibility;
}
@mixin interfaceH2 {
  font-family: var(--Work_Sans-font);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 20px;
  //text-rendering: optimizeLegibility;
}
@mixin interfaceH3 {
  font-family: var(--Work_Sans-font);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 18px;
  //text-rendering: optimizeLegibility;
}
@mixin interfaceH4 {
  font-family: var(--Work_Sans-font);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 16px;
  //text-rendering: optimizeLegibility;
}
@mixin interfaceH5 {
  font-family: var(--Work_Sans-font);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 14px;
  //text-rendering: optimizeLegibility;
}

@mixin interfaceR1 {
  font-family: var(--Work_Sans-font);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 18px;
  //text-rendering: optimizeLegibility;
}
@mixin interfaceR2 {
  font-family: var(--Work_Sans-font);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.04em;
  line-height: 14px;
  //text-rendering: optimizeLegibility;
}
@mixin interfaceR3 {
  font-family: var(--Work_Sans-font);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 14px;
  //text-rendering: optimizeLegibility;
}
@mixin interfaceR4 {
  font-family: var(--Work_Sans-font);
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.02em;
  line-height: 12px;
  //text-rendering: optimizeLegibility;
}

@mixin contentH1 {
  font-family: var(--Montserrat-font);
  font-weight: 900;
  font-size: 24px;
  letter-spacing: -0.02em;
  line-height: 125%;
  //text-rendering: optimizeLegibility;
}
@mixin contentH2 {
  font-family: var(--Rubik-font);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 125%;
  //text-rendering: optimizeLegibility;
}
@mixin contentH3 {
  font-family: var(--Rubik-font);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 125%;
  //text-rendering: optimizeLegibility;
}
@mixin contentH4 {
  font-family: var(--Rubik-font);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 125%;
  //text-rendering: optimizeLegibility;
}
@mixin contentH5 {
  font-family: var(--Rubik-font);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 125%;
  //text-rendering: optimizeLegibility;
}

@mixin contentR1 {
  font-family: var(--Rubik-font);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 125%;
  //text-rendering: optimizeLegibility;
}
@mixin contentR2 {
  font-family: var(--Rubik-font);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.04em;
  line-height: 125%;
  //text-rendering: optimizeLegibility;
}
@mixin contentR3 {
  font-family: var(--Rubik-font);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 125%;
  //text-rendering: optimizeLegibility;
}
