@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@200;300;400;500;600;700;800;900&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap");

@mixin interfaceH1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 22px;
}
@mixin interfaceH2 {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 20px;
}
@mixin interfaceH3 {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 18px;
}
@mixin interfaceH4 {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 16px;
}
@mixin interfaceH5 {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.02em;
    line-height: 14px;
}

@mixin interfaceR1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 18px;
}
@mixin interfaceR2 {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 16px;
}
@mixin interfaceR3 {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.02em;
    line-height: 14px;
}
@mixin interfaceR4 {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.02em;
    line-height: 12px;
}

@mixin contentH1 {
    font-family: "Rubik", sans-serif;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -0.02em;
    line-height: 125%;
}
@mixin contentH2 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 125%;
}
@mixin contentH3 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 125%;
}
@mixin contentH4 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 125%;
}
@mixin contentH5 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
    line-height: 125%;
}

@mixin contentR1 {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 125%;
}
@mixin contentR2 {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 125%;
}
@mixin contentR3 {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 125%;
}
