//app colors
@import "./utility/ui-mixins";

// Oxygen
$oxygen: #fcfff6;
$oxygen_5: rgba(252, 255, 246, 0.05);
$oxygen_10: rgba(252, 255, 246, 0.1);
$oxygen_20: rgba(252, 255, 246, 0.2);
$oxygen_40: rgba(252, 255, 246, 0.4);
$oxygen_80: rgba(252, 255, 246, 0.8);

// Warm Blue
$warm_blue: #344056;
$warm_blue_light: rgba(52, 64, 86, 0.08);
$warm_blue_light2: rgba(52, 64, 86, 0.20);


// White
$white: #ffffff;
$white_90: rgba(255, 255, 255, 0.9);
$white_50: rgba(255, 255, 255, 0.5);
$white_10: rgba(255, 255, 255, 0.1);
$white_5: rgba(255, 255, 255, 0.05);

// Black
$black: #000000;
$black_05: rgba(0, 0, 0, 0.05);
$black_10: rgba(0, 0, 0, 0.1);
$black_50: rgba(0, 0, 0, 0.5);

// Ash
$ash: #282828;
$ash_80: rgba(40, 40, 40, 0.8);
$ash_60: rgba(40, 40, 40, 0.6);
$ash_50: rgba(40, 40, 40, 0.5);
$ash_40: rgba(40, 40, 40, 0.4);
$ash_20: rgba(40, 40, 40, 0.2);
$ash_10: rgba(40, 40, 40, 0.1);
$ash_05: rgba(40, 40, 40, 0.05);
$ash_border: #3e3e3e;

// Light Ash
$light_ash: #f8f8f8;

// Fuel
$fuel: #2f1d2a;
$fuel_50: rgba(47, 29, 42, 0.5);
$fuel_30: rgba(47, 29, 42, 0.30);
$fuel_10: rgba(47, 29, 42, 0.1);
$fuel_7: rgba(47, 29, 42, 0.07);
$fuel_10F: #eae8e9;
$fuel_5: rgba(47, 29, 42, 0.05);

// Hot Blue
$hot_blue: rgb(13, 161, 181, 1);
$hot_blue_80: rgb(13, 161, 181, .8);

// Hot Green
$hot_green: #00a396;
// Hot Purple
$hot_purple: #bb7ec4;
$hot_purple_80: rgba(187, 126, 196, 0.8);

// Hot Pink
$hot_pink: #d96fab;
$hot_pink_20: rgba(217, 111, 171, 0.2);
$hot_pink_80: rgba(217, 111, 171, 0.8);
$hot_pink_90: rgba(217, 111, 171, 0.9);

// Hot Orange
$hot_orange: #ffa773;
// Hot Red
$hot_red: #f06573;
$hot_red_20: rgba(240, 101, 115, 0.2);
$hot_red_80: rgba(240, 101, 115, 0.8);

$hot_salmon: #ff8682;
$hot_salmon_dark: darken($hot_salmon, 63%);

// ========================
// System
// ========================
$alert_red: #bb0000;

// Light background
$background_light: #f2f5eb;

// ========================
// Overlays
// ========================
$overlay_dark: rgba(0, 0, 0, 0.7);
// overlay_light: $white,

///OLD COLORS BELOW
/// DONT USE

$icon-grey: #777;
$border-grey: #707070;
$light-grey: #eaeaea;
$medium-grey: #f3f3f3;
$medium-grey-2: #f7f7f7;
$dark-grey: #5d606c;

$red: #b00020;
$orange: #ee5500;

$text-black: #333;
$black: #000;

$placeholder-black: #9a9a9a;

$black04: rgba(#000, 0.04);
$black20: rgba(#000, 0.2);
$black38: rgba(#000, 0.38);
$black50: rgba(#000, 0.5);
$black60: rgba(#000, 0.6);
$black80: rgba(#000, 0.8);

$white: #fff;

$font-family-1: "Roboto", sans-serif;
$font-icon: "IcoMoon";

$gutter: 8px;

// .video-parent {
//   position: relative;
//   height: 200px;
//   width: 200px;
// }

// transitions
.topicPanelAnimation-enter,
.editFormAnimation-enter,
.memberListAnimation-enter {
    right: -375px;
}
.topicPanelAnimation-enter-done,
.editFormAnimation-enter-done,
.memberListAnimation-enter-done {
    right: 0px;
}
.topicPanelAnimation-exit,
.editFormAnimation-exit,
.memberListAnimation-exit {
    right: 0px;
}
.topicPanelAnimation-exit-done,
.editFormAnimation-exit-done,
.memberListAnimation-exit-done {
    right: -375px;
}
