//app colors
@import './utility/ui-mixins';

$icon-grey: #777;
$border-grey: #707070;
$light-grey: #eaeaea;
$medium-grey: #f3f3f3;
$medium-grey-2: #f7f7f7;
$dark-grey: #5d606c;

$red: #b00020;
$orange: #ee5500;

$text-black: #333;
$black: #000;

$placeholder-black: #9a9a9a;

$black04: rgba(#000, 0.04);
$black20: rgba(#000, 0.2);
$black38: rgba(#000, 0.38);
$black50: rgba(#000, 0.5);
$black60: rgba(#000, 0.6);
$black80: rgba(#000, 0.8);

$white: #fff;

$font-family-1: 'Roboto', sans-serif;
$font-icon: 'IcoMoon';

$gutter: 8px;

.video-parent {
  position: relative;
  height: 200px;
  width: 200px;
}

// transitions
.topicPanelAnimation-enter,
.editFormAnimation-enter,
.memberListAnimation-enter {
  right: -375px;
}
.topicPanelAnimation-enter-done,
.editFormAnimation-enter-done,
.memberListAnimation-enter-done {
  right: 0px;
}
.topicPanelAnimation-exit,
.editFormAnimation-exit,
.memberListAnimation-exit {
  right: 0px;
}
.topicPanelAnimation-exit-done,
.editFormAnimation-exit-done,
.memberListAnimation-exit-done {
  right: -375px;
}
