//app colors
$bg-purple: #495796;
$blarg-purple: #1d0a6c;
$icon-grey: #707070;
$menu-grey: #f3f3f3;

$medium-grey: #e1e1e1;
$dark-grey: #5d606c;
$pink: #e01c62;

$black: #000;
$white: #fff;

$font-family-1: "Roboto", sans-serif;
