@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.TopBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    min-height: 56px;
    max-height: 56px;
    width: 100%;
    padding-right: 12px;
    //padding-left: 16px;
    border-bottom: 1px solid $silver-med;
    border-top: 1px solid $silver-med;
    background-color: $silver-xlight;
    
    z-index: 10;


    .avatarDesktop {
        //margin-top: 2px;
        background-color: transparent;

    }

    .avatarMobile {
        margin: 0;
    }

    img {
        border: 1px solid $silver-med;
    }

    .HarthButton {
        position: relative;
        height: 60px;
        width: fit-content;
        background-color: transparent;
        border-radius: 16px;
        border: 0;
        background-color: $silver-xlight;
        padding: 0px;
        padding-left: 10px;
        padding-right: 8px;
        //border: 1px solid $silver-med;
        user-select: none;

        &::after {
            content: "";
            position: absolute;
            bottom: -12px;
            left: 0;
            height: 16px;
            width: 100%;
            border-bottom-right-radius: 8px;
            background-color: $silver-xlight;
            border-bottom: 1px solid $silver-med;
            border-right: 1px solid $silver-med;
            //z-index: 1;
        }

        img {
            position: relative;
            height: 60px;
            min-height: 60px;
            width: 60px;
            min-width: 60px;
            border-radius: 8px;
            z-index: 1;
            margin-top: 6px;
        }

        .menuIcon {
            position: absolute;
            bottom: -10px;
            left: 2px;
            height: 24px;
            width: 24px;
            z-index: 1;
            padding: 3px;
            background-color: $silver-med;
            border-radius: 999px;
            border: 2px solid $silver-xlight;

            path {
                fill: $silver-dark;
            }
        }

        &UnreadMessage {
            &:before {
                position: absolute;
                top: 50%;
                left: -2px;
                transform: translate(-50%, -50%);
                z-index: 2;
                height: 16px;
                width: 4px;
                content: "";
                background-color: $hot_salmon;
                border-radius: 9999px;
            }
        }

        &:active {
            .menuIcon {
                border-color: $hot_pink;
            }
        }

    }
    .MobileNavTitle {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
    }
    &Mobile {
        position: fixed;
        top: 0;
        border-top: 1px solid transparent;
        height: 52px;
        min-height: 52px;
        max-height: 52px;
        padding-left: 0px;
    }
}

.TopBarName {
    @include harthTitle2;
    color: $fuel;
}


.TopBarStreaming {
    width: 48px;
    height: 36px;
    background-color: $hot_pink;
    border-radius: 8px;
    padding: 4px 4px;
    border: 0;

    path {
        fill: $white;
    }

    animation: pulse 2s infinite;
}

.holder {
    position: relative;
    right: 0px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

@keyframes pulse {
    0% {
        background-color: $hot_pink;
    }
    50% {
        background-color: $hot_pink_80;
    }
    100% {
        background-color: $hot_pink;
    }
}