@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

.TopBar {
    @include interfaceH1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    color: $fuel;
    text-transform: capitalize;
    border-bottom: 1px solid $fuel_10;
    background-color: $light_ash;
    z-index: 10;
}
