@import "../../../styles/globals.scss";
@import "../../../styles/fonts.scss";

@keyframes slideInFromRight {
    0% {
        right: -100%; /* starting from outside the viewport */
    }
    100% {
        right: 0;
    }
}

.notificationTray {
    height: 100vh;
    display: flex;
    position: absolute;
    right: -100%;
    animation: slideInFromRight 0.5s forwards;
    width: 400px;
    z-index: 11;
    background: white;

}
.notificationTrayMobile {
    width: 100vw;  
}
.TopBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    //min-height: 56px;
    //max-height: 56px;
    width: 100%;
    padding-right: 12px;
    //padding-left: 16px;
    //border-bottom: 1px solid $border_basic;
    background: linear-gradient(to bottom, $background 55%, transparent 100%);
    z-index: 10;


    .avatarDesktop {
        //margin-top: 2px;
        background-color: transparent;
        

    }

    .avatarMobile {
        margin: 0;
        
        img {
            width: 40px;
            height: 40px;
        }
        
    }

 
    .HarthButton {
        position: relative;
        height: 60px;
        width: fit-content;
        background-color: transparent;
        border-radius: 16px;
        border: 0;
        background-color: transparent;
        padding: 0px;
        padding-left: 8px;
        padding-right: 2px;
        //border: 1px solid $silver-med;
        user-select: none;


        img {
            position: relative;
            height: 52px;
            min-height: 52px;
            width: 52px;
            min-width: 52px;
            border-radius: 8px;
            z-index: 1;
            border: 1px solid $border_basic;
            border: 0;
        }

        &UnreadMessage {
            &:before {
                position: absolute;
                top: 50%;
                left: -2px;
                transform: translate(-50%, -50%);
                z-index: 2;
                height: 16px;
                width: 4px;
                content: "";
                background-color: $hot_salmon;
                border-radius: 9999px;
            }
        }

        &:active {
            .menuIcon {
                border-color: $hot_pink;
            }
        }

    }
    
    .MobileNavTitle {
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;
    }

    &Mobile {
        position: fixed;
        top: 0;
        //border-top: 1px solid transparent;
        height: 68px;
        min-height: 68px;
        max-height: 68px;
        padding: 0px;
        padding-left: 0px;
        padding-right: 8px;
        padding-bottom: 6px;
        margin: 0;

        background: $background;

        border-bottom: 1px solid $border_basic;
        //border-top: 1px solid $border_basic;
    }
}
.titleHolder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    gap: 4px;
    padding-bottom: 2px;
}
.TopBarName {
    @include harthTitle;
    font-size: 26px;
    line-height: 32px;
    height: 32px;
    max-height: 32px;
    color: $font_main;
    //background-color: aqua;
    overflow: hidden;
    word-break: break-all;

}
.Section {
    @include rubik;
    color: $font_main;
    font-size: 14px;
    font-weight: 400;

}
.SectionMobile {

    @include titleNav;
    color: $font_main;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    text-transform:capitalize;
    //background-color: aqua;
    

}
.TopBarStreaming {
    width: 48px;
    height: 36px;
    background-color: $hot_pink;
    border-radius: 8px;
    padding: 4px 4px;
    border: 0;

    path {
        fill: $white;
    }

    animation: pulse 2s infinite;
}
.holder {
    position: relative;
    right: 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}
.TopBarReport {
    position: relative;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 3px;

    path {
        fill: $hot_purple;
        animation: pulseAndShake 2s infinite;
    }

    .reportSVG, .loadingSVG {
        position: absolute;
        top: 0;
        left: 0;
    }

    .loadingSVG {
        transform: scale(0.3);
        opacity: 0;
        width: 24px;
        height: 24px;
    }

    &:hover {
        background-color: transparent;
        border: 0;

        path {
            animation-play-state: paused;
        }
    }

    .reportSVG.clicked {
        animation: spinShrinkFadeOut .5s forwards;
    }

    .loadingSVG.clicked {
        animation: fadeInGrowAndSpin .5s forwards, continuousSpin 1s .5s infinite;
    }
    .loadingSVG path {
        animation-play-state: paused;
    }
}
@keyframes pulseAndShake {
    0%, 100% {
        transform: scale(1) translateY(0) rotate(0deg);
    }
    25% {
        transform: scale(1) translateY(0) rotate(0deg);
    }
    35%, 45%, 55% {
        transform: scale(1) translateY(-3%) rotate(0);
    }
    40%, 50%, 60% {
        transform: scale(1) translateY(3%) rotate(0);
    }
    70% {
        transform: scale(1) translateY(0) rotate(0deg);
    }
}
@keyframes spinShrinkFadeOut {
    0% {
        transform: scale(0.7) rotate(0deg);
        opacity: 1;
    }
    30% {
        opacity: 0;
        transform: scale(0.4) rotate(144deg);
    }
    100% {
        transform: scale(0) rotate(360deg);
        opacity: 0;
    }
}
@keyframes fadeInGrowAndSpin {
    0% {
        opacity: 0;
        transform: scale(0.3) rotate(0deg);
    }
    10% {
        opacity: 0;
        transform: scale(0.3) rotate(180deg);
    }
    20% {
        opacity: 0.3;
        transform: scale(0.3) rotate(180deg);
    }
    40% {
        opacity: 0.5;
        transform: scale(0.3) rotate(180deg);
    }
    60% {
        opacity: 0.5;
        transform: scale(0.7) rotate(180deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(360deg);
    }
}
@keyframes continuousSpin {
    0% {
        transform: rotate(360deg); 
    }
    100% {
        transform: rotate(720deg); 
    }
}
@keyframes pulse {
    0% {
        background-color: $hot_pink;
    }
    50% {
        background-color: darken($hot_pink, 20%);
    }
    100% {
        background-color: $hot_pink;
    }
}