.btn {
  position: relative;
  padding: $gutter * 2;
  color: $white;
  font-size: 16px;
  letter-spacing: 0.129px;
  line-height: 21px;
  background-color: $text-black;
  border: 0;
  border-radius: 24px;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s;

  + .btn {
    margin-top: 24px;
  }

  &:hover {
    background-color: $black;
  }

  &:active {
    background-color: $black;
  }
}

.choice-btn {
  display: block;
  position: relative;
  width: 100%;
  padding: 25.5px 16px;
  font-size: 16px;
  text-align: left;
  background-color: transparent;
  border: 1px solid $black50;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s;

  &:after {
    @include y-center;
    right: 16px;
    content: $icon-caret-right;
    font-family: IcoMoon;
    font-size: 7.5px;
  }

  &:hover {
    background-color: $medium-grey;
  }

  &:active {
    box-shadow: inset rgba($black, 0.2) 0px 0px 8px;
  }

  + .choice-btn {
    margin-top: 16px;
  }

  .material-icons {
    @include y-center;
    right: 8px;
    left: auto;
    color: $black50;
  }
}

.close-modal {
  position: relative;
  height: 32px;
  width: 32px;

  background-color: transparent;
  border: 0;
  border-radius: 50%;

  cursor: pointer;
  transition: background-color 0.3s;

  &:before {
    @include x-y-center;
    @include font-icon($icon-close);
    color: $black80;
    font-size: 14px;
  }

  &:hover {
    background-color: $black04;
  }
}

.text-btn {
  width: auto;
  padding: $gutter;
  color: $text-black;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.89px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: all 0.3s;

  &:hover,
  &:focus {
    color: $black;
  }
}
