.btn {
  position: relative;
  padding: 9.5px 13.5px;
  color: $white;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 16px;
  text-transform: uppercase;
  background-color: $bg-purple;
  border: 1px solid $bg-purple;
  border-radius: 5px;
  box-shadow: rgba($black, 0.2) 0 2px 2px;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: $bg-purple;
    background-color: $white;
  }

  &:active {
    top: 2px;
    box-shadow: rgba($black, 0.2) 0 0 0;
  }
}

.choice-btn {
  display: block;
  position: relative;
  width: 100%;
  padding: 25.5px 16px;
  font-size: 16px;
  text-align: left;
  background-color: transparent;
  border: 1px solid $black50;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s;

  &:after {
    @include y-center;
    right: 16px;
    content: $icon-caret-right;
    font-family: IcoMoon;
    font-size: 7.5px;
  }

  &:hover {
    background-color: $medium-grey;
  }

  &:active {
    box-shadow: inset rgba($black, 0.2) 0px 0px 8px;
  }

  + .choice-btn {
    margin-top: 16px;
  }

  .material-icons {
    @include y-center;
    right: 8px;
    left: auto;
    color: $black50;
  }
}

.close-modal {
  position: absolute;
  top: 13px;
  right: 10px;

  height: 32px;
  width: 32px;

  background-color: transparent;
  border: 0;
  border-radius: 50%;

  cursor: pointer;
  transition: background-color 0.3s;

  &:before {
    @include x-y-center;
    @include font-icon($icon-close);
    color: $black80;
    font-size: 14px;
  }

  &:hover {
    background-color: $black04;
  }
}
