@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@font-face {
  font-family: "IcoMoon";
  src: url(../../public/fonts/icomoon.eot);
  src: url(../../public/fonts/icomoon.woff) format("woff2"),
    url(../../public/fonts/icomoon.ttf) format("truetype"),
    url(../../public/fonts/icomoon.svg#svgFontName) format("svg");
}

h2 {
  margin: 0 0 32px;
  color: $dark-grey;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

$icon-books: "\e900";
$icon-calendar: "\e901";
$icon-chat: "\e902";
$icon-game: "\e903";
$icon-plus: "\e904";
$icon-gear: "\e905";
$icon-user: "\e906";

$icon-caret-right: "\e907";
$icon-close: "\e908";
