@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'IcoMoon';
  src: url(../../public/fonts/icomoon.eot);
  src: url(../../public/fonts/icomoon.woff) format('woff2'),
    url(../../public/fonts/icomoon.ttf) format('truetype'),
    url(../../public/fonts/icomoon.svg#svgFontName) format('svg');
}

$icon-harth: '\e916';

$icon-books: '\e900';
$icon-calendar: '\e901';
$icon-chat: '\e902';
$icon-game: '\e903';
$icon-plus: '\e904';

$icon-gear: '\e905';
$icon-user: '\e906';
$icon-caret-right: '\e907';
$icon-close: '\e908';
$icon-dots: '\e909';

$icon-bookmark: '\e90a';
$icon-check-circle: '\e90b';
$icon-cancel: '\e90c';
$icon-emoji: '\e90d';
$icon-gif: '\e90e';

$icon-upload: '\e90f';
$icon-delete: '\e910';
$icon-edit: '\e911';
$icon-fire: '\e912';
$icon-reply: '\e913';

$icon-note: '\e914';
$icon-back: '\e915';
$icon-menu: '\e917';
$icon-camera: '\e918';
$icon-inner-chat: '\e919';

$icon-leave: '\e91a';
$icon-mic: '\e91b';
$icon-muted: '\e91c';
$icon-startshare: '\e91d';
$icon-stopcamera: '\e91e';

$icon-stopshare: '\e91f';
$icon-sack: '\e920';
$icon-stream: '\e921';
$icon-voice: '\e922';
$icon-dice: '\e923';

$icon-topic: '\e924';
$icon-turnkeeper: '\e925';
$icon-vote: '\e926';
$icon-party: '\e92d';
$icon-popup: '\e92e';

$icon-at: '\e92f';
$icon-attach: '\e930';
$icon-check: '\e933';
$icon-clock: '\e934';
$icon-collapse: '\e936';

$icon-denied: '\e938';
$icon-download: '\e939';
$icon-events: '\e93c';
$icon-expand: '\e93d';
$icon-gather-classic: '\e93f';

$icon-gather-group: '\e940';
$icon-gather-stream: '\e941';
$icon-hashtag: '\e944';
$icon-levelup: '\e946';
$icon-lock: '\e947';

$icon-marker: '\e948';
$icon-members: '\e949';
$icon-notification: '\e94b';
$icon-person: '\e94c';
$icon-photo: '\e94d';

$icon-placeholder: '\e94e';
$icon-play: '\e94f';
$icon-plus-circle: '\e950';
$icon-search: '\e952';
$icon-send: '\e953';

$icon-settings: '\e954';
$icon-speaker: '\e955';
$icon-speaker-mute: '\e956';
$icon-stop: '\e958';
$icon-switch-camera: '\e959';

$icon-view: '\e95a';

$icon-d4: '\e927';
$icon-d6: '\e928';
$icon-d8: '\e929';
$icon-d10: '\e92a';
$icon-d12: '\e92b';
$icon-d20: '\e92c';
