form {
    width: 100%;
    max-width: 100%;
}

input {
    @include contentR2;
    width: 100%;
    margin: 0 0 4px;
    padding: 6px;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid $fuel;

    &:placeholder {
        color: $font_muted;
    }
}

fieldset {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
}
