html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: $font-family-1;
  font-size: 16px;
  overflow: hidden;
  background-color: $bg-purple;
  background-image: url("../../public/images/background.jpg");
  background-position: center;
  background-size: cover;
}

* {
  box-sizing: border-box;
  &:focus {
    outline: 0;
  }
}

a {
  display: block;
  color: $dark-grey;
  font-size: 10px;
  text-decoration: none;
  transition: color 0.5s;

  &:hover {
    color: $red;
  }
}

img,
video {
  display: block;
}

#__next {
  overflow: hidden;
}
