.message {
  display: inline-flex;
  position: relative;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 6px;

  .emoji-mart {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 999;
  }

  > img,
  .message_no_image {
    height: 40px;
    width: 40px;
    margin-right: $gutter;
    border-radius: 50%;
    object-fit: cover;
  }

  .message_no_image {
    position: relative;
    &:before {
      @include font-icon($icon-user);
      @include x-y-center;
      z-index: 2;

      color: $black50;
      font-size: 40px;
      line-height: 40px;
    }
  }

  .message-body {
    width: calc(100% - 48px);
    img {
      max-height: 180px;
      max-width: 100%;
    }

    .message_reaction_wrapper {
      display: flex;
      align-items: center;

      > * {
        margin-right: $gutter;
      }

      .message_reply_count {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 32px;
        color: $white;
        background-color: #333;
        border-radius: 50%;
      }

      .message_flame_wrapper {
        display: flex;
      }

      .message_reaction_flame {
        display: inline-block;
        position: relative;
        height: 32px;
        width: 26px;
        &:before {
          @include x-y-center;
          @include font-icon($icon-fire);
          color: $orange;
          font-size: 32px;
          line-height: 32px;
        }

        &:not(:first-of-type) {
          margin-left: -$gutter;
        }
      }

      .reaction-emoji {
        font-size: 32px;
        line-height: 32px;
      }
    }
  }

  span {
    display: flex;
    .message_creator {
      margin-right: 10px;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.316px;
      line-height: 14px;
    }
    .message_timestamp {
      margin-bottom: 3px;
      color: $black60;
      font-size: 11px;
      line-height: 15px;
    }
  }

  p {
    margin: 0;
  }

  .message-content {
    width: 100%;
    margin-bottom: $gutter / 2;
    font-size: 14px;
    line-height: 16px;
    resize: none;
    background-color: transparent;
    border: 0;

    .message-text {
      white-space: pre-wrap;
    }

    a {
      display: inline-block;
      font-size: inherit;
    }
  }

  .message-edit-bar {
    position: absolute;
    top: 0;
    right: 0;

    > button {
      position: relative;
      height: 40px;
      width: 40px;
      margin: 0 $gutter / 2;
      padding: 0;
      color: #fff;
      font-size: 0;
      background-color: #333;
      border: 4px solid #fff;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: $orange;
      }

      &:before {
        @include x-y-center;
        font-size: 16px;
      }

      &.flame {
        &:before {
          @include font-icon($icon-fire);
        }
      }
      &.react {
        &:before {
          @include font-icon($icon-emoji);
        }
      }
      &.reply {
        &:before {
          @include font-icon($icon-reply);
        }
      }
      &.edit {
        &:before {
          @include font-icon($icon-edit);
        }
      }
      &.delete {
        &:hover {
          background-color: #b00020;
        }
        &:before {
          @include font-icon($icon-delete);
        }
      }
    }
  }

  &:hover {
    background-color: $medium-grey-2;
  }
}
