@import "../../styles/fonts.scss";
@import "../../styles/globals.scss";

.backIcon {
  position: absolute;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 360px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-height: 580px;
  overflow-y: scroll;

  .lineParent {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 8px auto;
    margin-bottom: 36px;
  }

  .lineActive {
    background-color: $hot_purple !important;
  }

  .line {
    flex-grow: 1;
    margin: 0 4px;
    background-color: var(--border-basic);
    height: 3px;
  }

  .lineParent .line:first-child {
    margin-left: 0;
  }

  .lineParent .line:last-child {
    margin-right: 0;
  }

  .title {
    @include overlayMenuTitle;
    color: var(--font-main);
    width: 100%;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 28px;
  }

  input {
    width: 90%;
    border-radius: 6px;
    background-color: var(--theme-background);
    box-shadow: var(--shadow-1);
    border: 0;
    height: 56px;
    padding-left: 12px;
    color: var(--font-main);
    caret-color: $hot_purple;
    @include systemFont;
    font-size: 16px;
    &::placeholder {
      color: var(--font-muted);
    }
  }

  .helpText {
    text-align: center;
    width: 88%;
    @include systemFont;
    font-size: 12px;
    padding-top: 4px;
    color: var(--font-muted);
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imageHolder {
    position: relative;
    top: -32px;
  }
  .buttonBar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 98%;
    column-gap: 8px;
    margin-top: 24px;

    .backButton {
      height: 48px;
      border-radius: 999px;
      border: 1px solid var(--border-basic);
      background-color: transparent;

      path {
        fill: var(--border-heavy);
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background: var(--border-heavy);
          path {
            fill: var(--font-muted);
          }
        }
      }

      &:active {
        background: var(--border-heavy);
          path {
            fill: var(--font-muted);
          }
      }
    }

    .submitButton {
      @include buttonPrimary;
      width: 100%;
    }

    .cancelButton {
      @include buttonSecondary;
    }
  }
}
