@import "../../styles/fonts.scss";
@import "../../styles/globals.scss";


.backIcon {
    position: absolute;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    max-height: 580px;
    overflow-y: scroll;

    
    .lineParent {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 10px 0px 25px 0px;
    }

    .lineActive {
        background-color: $hot_purple !important;
    }
    
    .line {
        flex-grow: 1; 
        margin: 0 10px; 
        background-color: $ash;
        height: 3px;
    }
    
 
    .lineParent .line:first-child {
        margin-left: 0;
    }
    
    .lineParent .line:last-child {
        margin-right: 0;
    }
    

    .title {
        @include overlayMenuTitle;
        color: $font_main;
        width: 100%;
        text-align: left;
        margin-top: 0px;
        margin-bottom: 28px;
    }


    input {
        width: 90%;
        border-radius: 6px;
        background-color: $border_basic;
        border: 0;
        height: 56px;
        padding-left: 12px;
        color: $font_main;
        caret-color: $hot_salmon;
        @include systemFont;
        font-size: 16px;
        &::placeholder {
            color: $font_muted;
  
        }
      }

    .helpText {
        text-align: center;
        width: 88%;
        @include systemFont;
        font-size: 12px;
        padding-top: 4px;
        color: $font_muted;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imageHolder {
        position: relative;
        top: -32px;

    }
    .buttonBar {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 98%;
        column-gap: 8px;
        margin-top: 24px;

        .cancelButton {
            width: 96px;
            // min-width: 88px;
        }

        .submitButton {
            width: 100%;
        }
    }
}
